Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2018-12, with the labels that each got.

#1773 Update compliance-policy-create-mac-os.md
  intune/compliance-policy-create-mac-os.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1721 Replacing 10 steps with link to general page
  intune/app-sdk-android.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1778 From private repo
  .openpublishing.redirection.json
  intune/android-enterprise-settings.md
  intune/android-kiosk-settings.md
  intune/app-protection-policies.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/apps-win32-app-management.md
  intune/compliance-policy-create-ios.md
  intune/compliance-policy-create-mac-os.md
  intune/data-transfer-between-apps-manage-ios.md
  intune/delivery-optimization-windows.md
  intune/device-enrollment-program-enroll-macos.md
  intune/device-profiles.md
  intune/device-restrictions-android-for-work.md
  intune/device-restrictions-android.md
  intune/device-restrictions-configure.md
  intune/device-restrictions-ios.md
  intune/device-restrictions-macos.md
  intune/device-restrictions-windows-10.md
  intune/early-edition-nda.md
  intune/kiosk-settings.md
  intune/media/app-protection-policy-add-users.png
  intune/media/save-assignment.png
  intune/toc.yml
  intune/whats-new.md
  intune/windows-enrollment-status.md
Labels: Change sent to author, microsoft-intune/svc

#1779 From private repo
  intune/app-configuration-policies-managed-app.md
  intune/apps-win32-app-management.md
  intune/early-edition-nda.md
  intune/enrollment-autopilot.md
  intune/whats-new-archive.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1780 From private repo
  .openpublishing.redirection.json
  intune/android-samsung-knox-mobile-enroll.md
  intune/common-scenarios.md
  intune/devices-wipe.md
  intune/enrollment-restrictions-set.md
  intune/includes/mdm-supported-devices.md
  intune/introduction-intune.md
  intune/intune-documentation.md
  intune/intune-management-extension.md
  intune/toc.yml
  intune/what-is-intune.md
  intune/whats-new.md
  intune/zimperium-mtd-connector-integration.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1781 From private repo
  .openpublishing.redirection.json
  intune/app-lifecycle.md
  intune/device-enrollment-program-enroll-ios.md
  intune/device-lifecycle.md
  intune/early-edition-nda.md
  intune/introduction-device-app-lifecycles.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1783 From private repo
  .openpublishing.redirection.json
  intune/apps-windows-10-app-deploy.md
  intune/early-edition-nda.md
  intune/intune-glossary.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1784 Update early-edition-nda.md
  intune/early-edition-nda.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1749 Change for Company devices for Corporate
  intune/corporate-identifiers-add.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1750 Update device ownership Company for Corporate
  intune/device-enrollment.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1770 Added more detailed information about SCEP server URL
  intune/certificates-scep-configure.md
Labels: Change sent to author, in-progress, microsoft-intune/svc, ready-to-merge

#1785 From private repo
  intune/compliance-policy-monitor.md
  intune/delivery-optimization-windows.md
  intune/device-compliance-get-started.md
  intune/quickstart-enroll-windows-device.md
  intune/whats-new-archive.md
  intune/whats-new.md
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1788 From private repo
  .openpublishing.redirection.json
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1790 From private repo
  intune-user-help/you-need-to-enable-secure-boot-windows.md
  intune-user-help/you-need-to-enable-windows-encryption.md
  intune-user-help/you-need-to-turn-off-unknown-sources-android.md
  intune-user-help/you-need-to-turn-off-usb-debugging-android.md
  intune-user-help/you-need-to-update-your-android-device.md
  intune-user-help/you-need-to-update-your-device-OS-security-patch-android.md
  intune-user-help/you-need-to-update-your-ios-device.md
  intune-user-help/you-need-to-update-your-windows-device.md
  intune-user-help/your-android-version-isnt-yet-supported.md
  intune-user-help/your-device-is-missing-a-required-certificate-landing-android.md
  intune-user-help/your-ios-version-isnt-yet-supported.md
  intune-user-help/your-windows-version-isnt-yet-supported.md
  intune/android-enroll.md
  intune/android-kiosk-enroll.md
  intune/android-samsung-knox-mobile-enroll.md
  intune/app-protection-policies-access-actions.md
  intune/app-protection-policies-configure-windows-10.md
  intune/apple-configurator-enroll-ios.md
  intune/apple-mdm-push-certificate-get.md
  intune/apple-school-manager-set-up-ios.md
  intune/apps-prepare-mobile-application-management.md
  intune/corporate-identifiers-add.md
  intune/custom-settings-windows-holographic.md
  intune/device-enrollment-manager-enroll.md
  intune/device-enrollment-program-enroll-ios.md
  intune/device-enrollment-program-enroll-macos.md
  intune/device-group-mapping.md
  intune/device-restrictions-windows-holographic.md
  intune/early-edition-nda.md
  intune/education-settings-configure-ios-shared.md
  intune/email-settings-android.md
  intune/enrollment-autopilot.md
  intune/enrollment-method-capab.md
  intune/holographic-upgrade.md
  intune/ignite-intune-docs.md
  intune/ios-enroll.md
  intune/licenses.md
  intune/migration-guide-configure-policies.md
  intune/planning-guide-design.md
  intune/reports-ref-application.md
  intune/reports-ref-policy.md
  intune/scep-libraries-apis.md
  intune/supported-devices-browsers.md
  intune/terms-and-conditions-create.md
  intune/wi-fi-settings-android-enterprise.md
  intune/windows-autopilot-hybrid.md
  intune/windows-enrollment-status.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1791 From private repo
  intune/device-restrictions-android-for-work.md
  intune/device-restrictions-windows-holographic.md
  intune/early-edition-nda.md
  intune/email-settings-android.md
  intune/whats-new-archive.md
  intune/windows-holographic-for-business.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1792 From private repo
  .openpublishing.redirection.json
  intune/app-protection-enabled-apps-android.md
  intune/app-protection-enabled-apps-ios.md
  intune/app-wrapper-prepare-android.md
  intune/app-wrapper-prepare-ios.md
  intune/apple-configurator-enroll-ios.md
  intune/apps-prepare-mobile-application-management.md
  intune/checkpoint-sandblast-mobile-mobile-threat-defense-connector.md
  intune/checkpoint-sandblast-mobile-mtd-connector-integration.md
  intune/compliance-policy-create-ios.md
  intune/conditional-access-intune-common-ways-use.md
  intune/early-edition-nda.md
  intune/end-user-company-portal-messages.md
  intune/enrollment-autopilot.md
  intune/enrollment-restrictions-set.md
  intune/exchange-connector-install.md
  intune/holographic-upgrade.md
  intune/includes/mdm-supported-devices.md
  intune/intune-legacy-pc-client.md
  intune/known-issues.md
  intune/macos-enroll.md
  intune/mdm-authority-set.md
  intune/planning-guide-design.md
  intune/planning-guide-test-validation.md
  intune/reports-ref-devices.md
  intune/supported-devices-browsers.md
  intune/troubleshoot-device-enrollment-in-intune.md
  intune/whats-new-archive-classic.md
  intune/whats-new-archive.md
  intune/wi-fi-settings-android-enterprise.md
  intune/windows-autopilot-hybrid.md
  intune/windows-enroll.md
  intune/windows-update-for-business-configure.md
Labels: do-not-merge

#1797 From private repo
  intune/advanced-threat-protection.md
  intune/app-sdk-android.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1798 From private repo
  intune/includes/mdm-supported-devices.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1799 From private repo
  intune/app-protection-policies-validate.md
  intune/app-protection-policy-settings-android.md
  intune/data-warehouse-app-only-auth.md
  intune/early-edition-nda.md
  intune/get-support.md
  intune/index.yml
  intune/lob-apps-android.md
  intune/lob-apps-macos.md
  intune/lob-apps-windows-phone.md
  intune/media/get-support/help-new-support-case-basics.png
  intune/media/get-support/help-new-support-case-create.png
  intune/media/get-support/help-new-support-case-details.png
  intune/media/get-support/help-new-support-case-solutions.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/eas-client-apps.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/eas-grant-access.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/enable-policy.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/modern-auth-policy-client-apps.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/modern-auth-policy-cloud-apps.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/modern-auth-policy-mfa.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/outlook-app-access-actions.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/outlook-app-data-relocation.png
  intune/reports-nav-intune-data-warehouse.md
  intune/reports-proc-create-with-odata.md
  intune/reports-proc-data-rest.md
  intune/reports-ref-current-user.md
  intune/toc.yml
  intune/tutorial-protect-email-on-unmanaged-devices.md
  intune/web-app.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1801 From private repo
  intune/app-configuration-managed-browser.md
  intune/app-sdk-ios.md
  intune/apps-add-android-for-work.md
  intune/apps-add-office365.md
  intune/create-conditional-access-intune.md
  intune/device-enrollment.md
  intune/early-edition-nda.md
  intune/licenses.md
  intune/media/create-conditional-access-intune/create-ca-device-platforms.png
  intune/media/create-conditional-access-intune/create-ca-grant-access-settings.png
  intune/media/create-conditional-access-intune/create-ca-grant-access.png
  intune/media/create-conditional-access-intune/create-ca-select-apps.png
  intune/media/create-conditional-access-intune/create-ca.png
  intune/media/create-conditional-access-intune/enable-policy.png
  intune/reports-ref-current-user.md
  intune/reports-ref-user-device.md
  intune/troubleshoot-app-install.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1803 From private repo
  intune/app-sdk-android.md
  intune/app-sdk.md
  intune/app-sideload-windows.md
  intune/app-wrapper-prepare-android.md
  intune/apps-add-android-for-work.md
  intune/data-warehouse-account-move.md
  intune/mam-faq.md
  intune/reports-changelog.md
  intune/reports-nav-intune-data-warehouse.md
  intune/vpp-apps-ios.md
  intune/vpp-ebooks-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1655 description for detection script 'run as' part
  intune/apps-win32-app-management.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1804 From private repo
  intune/app-configuration-managed-browser.md
  intune/app-configuration-policies-use-ios.md
  intune/app-sdk-android.md
  intune/app-sdk-ios.md
  intune/app-sideload-windows.md
  intune/app-wrapper-prepare-android.md
  intune/app-wrapper-prepare-ios.md
  intune/apps-deploy.md
  intune/apps-monitor.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1807 From private repo
  intune/early-edition-nda.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1812 From private repo
  intune/app-modern-authentication-block.md
  intune/app-sdk-android.md
  intune/app-sdk-ios.md
  intune/app-sdk.md
  intune/app-wrapper-prepare-ios.md
  intune/apps-add.md
  intune/free-trial-sign-up.md
  intune/reports-nav-create-intune-reports.md
  intune/reports-nav-intune-data-warehouse.md
  intune/reports-proc-create-with-odata.md
  intune/reports-ref-data-model.md
  intune/reports-ref-date.md
  intune/reports-ref-policy.md
  intune/reports-ref-user-device.md
  intune/reports-ref-user.md
  intune/store-apps-android.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1817 From private repo
  intune/device-compliance-get-started.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1820 From private repo
  intune-user-help/existing-company-email-account-found.md
  intune-user-help/what-info-can-your-company-see-when-you-enroll-your-device-in-intune.md
  intune/device-enrollment.md
  intune/devices-wipe.md
  intune/install-the-windows-pc-client-with-microsoft-intune.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1818 Available intent not supported for device groups
  intune/apps-deploy.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1821 From private repo
  intune/certificates-scep-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1829 From private repo
  intune-user-help/media/1811_Get_Help_Email_Windows_CPapp.png
  intune-user-help/media/1811_Get_Help_Windows_Cpapp.png
  intune-user-help/media/1811_Mail_Logs_Windows_CPapp.png
  intune-user-help/media/1811_Settings_Windows_Cpapp.png
  intune-user-help/media/1811_Share_Apps_Windows_CPapp.png
  intune-user-help/media/1812_Send_logs_Microsoft_Windows_Cpapp.png
  intune-user-help/send-logs-to-your-it-admin-cp-windows.md
  intune/android-kiosk-enroll.md
  intune/supported-devices-browsers.md
  intune/windows-enroll.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1828 Update device-enrollment-program-enroll-ios.md
  intune/device-enrollment-program-enroll-ios.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1831 From private repo
  intune-user-help/what-info-can-your-company-see-when-you-enroll-your-device-in-intune.md
  intune/O365-app-data-protection-set.md
  intune/app-management.md
  intune/app-modern-authentication-block.md
  intune/apps-deploy.md
  intune/apps-selective-wipe.md
  intune/apps-windows-10-app-deploy.md
  intune/compliance-policy-create-android-for-work.md
  intune/compliance-policy-monitor.md
  intune/data-warehouse-app-only-auth.md
  intune/early-edition-nda.md
  intune/lob-apps-android.md
  intune/lob-apps-ios.md
  intune/lob-apps-macos.md
  intune/lob-apps-windows-phone.md
  intune/lob-apps-windows.md
  intune/reports-api-url.md
  intune/reports-changelog.md
  intune/reports-proc-data-rest.md
  intune/reports-ref-user-timeline.md
  intune/store-apps-android.md
  intune/store-apps-company-portal-app.md
  intune/store-apps-ios.md
  intune/store-apps-windows-phone-8-1.md
  intune/web-app.md
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1834 From private repo
  intune/app-lifecycle.md
  intune/app-protection-policies-access-actions.md
  intune/app-protection-policy-settings-android.md
  intune/app-sdk-get-started.md
  intune/app-sdk-ios.md
  intune/app-sideload-windows.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1839 From private repo
  intune/app-sideload-windows.md
  intune/app-wrapper-prepare-ios.md
  intune/apps-inc-exl-assignments.md
  intune/company-portal-app.md
  intune/free-trial-sign-up.md
  intune/reports-proc-get-a-link-powerbi.md
  intune/reports-ref-data-model.md
  intune/reports-ref-devices.md
  intune/reports-ref-mobile-app-management.md
  intune/store-apps-windows.md
  intune/vpp-apps.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc
