Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2018-11, with the labels that each got.

#1633 From private repo
  intune/kiosk-settings.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1634 Update app-sdk-get-started.md
  intune/app-sdk-get-started.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1571 Update device-restrictions-android.md
  intune/device-restrictions-android.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1635 From private repo
  intune/device-compliance-get-started.md
  intune/free-trial-sign-up.md
  intune/media/choose-mdm-authority.png
  intune/media/microsoft-store-for-business-01.png
  intune/windows-store-for-business.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1641 From private repo
  intune/android-samsung-knox-mobile-enroll.md
  intune/app-protection-policy-settings-ios.md
  intune/early-edition-nda.md
  intune/intune-data-warehouse-collections.md
  intune/media/windows-autopilot-hybrid/delegate-control.png
  intune/media/windows-autopilot-hybrid/editdword.png
  intune/media/windows-autopilot-hybrid/enter-object-names.png
  intune/media/windows-autopilot-hybrid/full-control.png
  intune/media/windows-autopilot-hybrid/object-types-computers.png
  intune/media/windows-autopilot-hybrid/only-following-objects.png
  intune/toc.yml
  intune/whats-new.md
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1648 From private repo
  intune/early-edition-nda.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1649 Update app-sdk-ios.md
  intune/app-sdk-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1564 Update certificates-scep-configure.md
  intune/certificates-scep-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1651 From private repo
  intune-user-help/TOC.md
  intune-user-help/troubleshoot-your-device-macos.md
  intune-user-help/unable-to-get-macOS-device-managed.md
  intune/early-edition-nda.md
  intune/lob-apps-android.md
  intune/lob-apps-ios.md
  intune/lob-apps-windows-phone.md
  intune/lob-apps-windows.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1613 Clarify and simplify the steps to require MFA
  intune/multi-factor-authentication.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1652 Add ADAL/MSAL SSO information for Xamarin.iOS SDK bindings
  intune/app-sdk-xamarin.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1654 From private repo
  .openpublishing.redirection.json
  intune/get-started-evaluation.md
  intune/intune-data-warehouse-collections.md
  intune/media/quickstart-enroll-windows-device/quickstart-enroll-windows-device-01.png
  intune/media/quickstart-enroll-windows-device/quickstart-enroll-windows-device-02.png
  intune/media/quickstart-enroll-windows-device/quickstart-enroll-windows-device-03.png
  intune/media/quickstart-enroll-windows-device/quickstart-enroll-windows-device-04.png
  intune/media/quickstart-enroll-windows-device/quickstart-enroll-windows-device-05.png
  intune/media/quickstart-enroll-windows-device/quickstart-enroll-windows-device-06.png
  intune/media/quickstart-enroll-windows-device/quickstart-enroll-windows-device-07.png
  intune/media/quickstart-send-notification-01.png
  intune/media/quickstart-send-notification-02.png
  intune/media/quickstart-set-password-length-android-01.png
  intune/media/quickstart-set-password-length-android/quickstart-set-password-length-android-01.png
  intune/media/quickstart-setup-auto-enrollment/quickstart-setup-auto-enrollment-01.png
  intune/media/quickstart-setup-auto-enrollment/quickstart-setup-auto-enrollment-02.png
  intune/media/quickstart-setup-auto-enrollment/quickstart-setup-auto-enrollment-03.png
  intune/media/quickstart-setup-auto-enrollment/quickstart-setup-auto-enrollment-04.png
  intune/media/quickstart-setup-auto-enrollment/quickstart-setup-auto-enrollment-05.png
  intune/media/quickstart-setup-auto-enrollment/setup-automatic-enrollment-win10.png
  intune/quickstart-create-group.md
  intune/quickstart-create-policy.md
  intune/quickstart-email-profile.md
  intune/quickstart-enroll-windows-device.md
  intune/quickstart-send-notification.md
  intune/quickstart-set-password-length-android.md
  intune/quickstart-setup-auto-enrollment.md
  intune/toc.yml
  intune/troubleshoot-device-enrollment-in-intune.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1660 From private repo
  intune-user-help/what-info-can-your-company-see-when-you-enroll-your-device-in-intune.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1601 Update device-profile-assign.md
  intune/device-profile-assign.md
Labels: Change sent to author, in-progress, microsoft-intune/svc, ready-to-merge

#1658 Typo, spacing and consistency changes etc
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1666 From private repo
  intune/wi-fi-settings-windows.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1668 Fix indentation and bad "csharp" section
  intune/app-sdk-xamarin.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1667 Update exchange-connector-install.md
  intune/exchange-connector-install.md
Labels: ready-to-merge

#1669 From private repo
  intune/whats-new.md
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1675 From private repo
  intune-user-help/unable-to-get-macOS-device-managed.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/early-edition-nda.md
  intune/email-settings-ios.md
  intune/free-trial-sign-up.md
  intune/media/quickstart-add-assign-app/quickstart-add-assign-app-01.png
  intune/media/quickstart-setup-auto-enrollment/quickstart-setup-auto-enrollment-04.png
  intune/quickstart-add-assign-app.md
  intune/quickstart-create-assign-app-policy.md
  intune/quickstart-create-custom-role.md
  intune/quickstart-create-group.md
  intune/quickstart-create-user.md
  intune/quickstart-enroll-windows-device.md
  intune/quickstart-send-notification.md
  intune/quickstart-set-password-length-android.md
  intune/quickstart-setup-auto-enrollment.md
  intune/toc.yml
  intune/troubleshoot-device-enrollment-in-intune.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1673 Updating Android section
  intune/remove-certificates.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1690 From private repo
  intune/quickstart-create-custom-role.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1696 From private repo
  intune/app-configuration-managed-browser.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/device-management.md
  intune/device-restrictions-windows-10.md
  intune/device-restrictions-windows-holographic.md
  intune/early-edition-nda.md
  intune/endpoint-protection-windows-10.md
  intune/get-started-evaluation.md
  intune/quickstart-add-assign-app.md
  intune/quickstart-create-assign-app-policy.md
  intune/vpn-settings-android.md
  intune/whats-new-archive.md
  intune/whats-new.md
  intune/windows-update-for-business-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1698 From private repo
  intune/apps-deploy.md
  intune/compliance-policy-monitor.md
  intune/device-enrollment-manager-enroll.md
  intune/device-enrollment.md
  intune/device-inventory.md
  intune/enrollment-method-capab.md
  intune/enrollment-restrictions-set.md
  intune/manage-windows-pcs-with-microsoft-intune.md
  intune/media/compliance-policy-monitor/idc-10.png
  intune/media/compliance-policy-monitor/idc-3.png
  intune/media/compliance-policy-monitor/idc-8.png
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1700 Correcting bad link
  intune/android-work-profile-enroll.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1697 Update app-sdk-get-started.md
  intune/app-sdk-get-started.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1702 From private repo
  intune/app-protection-policies-validate.md
  intune/app-protection-policy-settings-android.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1712 From private repo
  intune/company-portal-app.md
  intune/media/company-portal-app/company-portal-app-01.png
  intune/whats-new-app-ui.md
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1716 Update conditional-access-exchange-create.md
  intune/conditional-access-exchange-create.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1718 From private repo
  intune/company-portal-app.md
  intune/media/company-portal-app/company-portal-app-02.png
  intune/media/company-portal-app/company-portal-app-03.png
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1699 Update app-sdk-xamarin.md
  intune/app-sdk-xamarin.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1704 Approved in CSS content triage - Content Idea Request 93147: Update a…
  intune/company-portal-app.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1720 From private repo
  intune/enrollment-method-capab.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1723 From private repo
  intune/apps-win32-app-management.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1725 From private repo
  intune/app-sdk-xamarin.md
  intune/vpn-settings-windows-phone-8-1.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1728 From private repo
  intune/network-access-control-integrate.md
  intune/vpn-settings-ios.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1729 Fixed broken link
  intune/android-kiosk-settings.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1659 Update intune-management-extension.md
  intune/intune-management-extension.md
Labels: Change sent to author, in-progress, microsoft-intune/svc, ready-to-merge

#1730 From private repo
  intune/app-lifecycle.md
  intune/app-modern-authentication-block.md
  intune/app-provisioning-profile-ios.md
  intune/app-sdk-get-started.md
  intune/app-wrapper-prepare-android.md
  intune/apps-add-built-in.md
  intune/apps-inc-exl-assignments.md
  intune/certificates-scep-configure.md
  intune/data-warehouse-account-move.md
  intune/intune-data-warehouse-collections.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1733 Small change to inform app dev about app bundle ID entry
  intune/app-sdk-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1735 From private repo
  intune/apps-monitor.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1737 fix broken zimperium URLs
  intune/zimperium-mtd-connector-integration.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1740 From private repo
  intune/data-transfer-between-apps-manage-ios.md
  intune/vpn-settings-macos.md
  intune/vpn-settings-windows-8-1.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1736 Update device-profile-create.md
  intune/device-profile-create.md
Labels: Change sent to author, in-progress, microsoft-intune/svc, ready-to-merge

#1755 From private repo
  intune/app-protection-policy.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1724 Update device restrictions verbiage
  intune/device-restrictions-ios.md
Labels: Change sent to author, in-progress, microsoft-intune/svc, ready-to-merge

#1762 From private repo
  intune/device-enrollment-program-enroll-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1765 From private repo
  intune/device-restrictions-ios.md
  intune/intune-management-extension.md
  intune/remove-certificates.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1747 Update app-configuration-managed-browser.md
  intune/app-configuration-managed-browser.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1768 From private repo
  intune/wi-fi-profile-shared-key.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1769 From private repo
  intune/app-protection-policy-settings-android.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc
