Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2018-10, with the labels that each got.

#1522 Update app-configuration-managed-browser.md
  intune/app-configuration-managed-browser.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1524 Corrects a typo: sever -> server
  intune/install-the-windows-pc-client-with-microsoft-intune.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1507 Update apps-windows-10-app-deploy.md
  intune/apps-windows-10-app-deploy.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1527 Update app-sdk-ios.md
  intune/app-sdk-ios.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1529 From private repo
  intune-user-help/using-your-windows-device-with-intune.md
  intune/apps-win32-app-management.md
  intune/ignite-intune-docs.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1530 Fix typo 'deviceS' to 'devices'
  intune/compliance-policy-create-android.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1532 From private repo
  intune/apps-win32-app-management.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1533 From private repo
  intune-user-help/TOC.md
  intune-user-help/existing-company-email-account-found.md
  intune/app-configuration-policies-use-ios.md
  intune/apps-add-office365-macOS.md
  intune/apps-deploy.md
  intune/apps-prepare-mobile-application-management.md
  intune/apps-selective-wipe.md
  intune/company-portal-app.md
  intune/get-started-apps.md
  intune/includes/mdm-supported-devices.md
  intune/reports-api-url.md
  intune/reports-changelog.md
  intune/reports-nav-create-intune-reports.md
  intune/vpp-apps-ios.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1541 From private repo
  intune/windows-holographic-for-business.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1539 Updated app protection policy section
  intune/app-configuration-managed-browser.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1542 From private repo
  intune/app-management.md
  intune/app-protection-policies.md
  intune/app-wrapper-prepare-ios.md
  intune/apps-monitor.md
  intune/apps-windows-10-app-deploy.md
  intune/early-edition-nda.md
  intune/enrollment-autopilot.md
  intune/lob-apps-ios.md
  intune/troubleshoot-app-install.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1528 Added Azure AD Application Proxy statement
  intune/certificates-scep-configure.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1549 From private repo
  intune/advanced-threat-protection.md
  intune/app-configuration-policies-overview.md
  intune/app-configuration-policies-use-android.md
  intune/app-configuration-policies-use-ios.md
  intune/app-protection-policy.md
  intune/certificate-authority-add-scep-overview.md
  intune/device-compliance-get-started.md
  intune/software-updates-ios.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1520 Update wi-fi-profile-shared-key.md
  intune/wi-fi-profile-shared-key.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1548 Updated device certificate sections
  intune/certificates-scep-configure.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1544 Update whats-new.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1556 From private repo
  intune/whats-new-archive.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1555 Update apps-win32-app-management.md
  intune/apps-win32-app-management.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1559 Approved in CSS content triage - Content Idea Request 92275: Intune(M…
  intune/app-configuration-managed-browser.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1560 From private repo
  intune/mam-faq.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1563 From private repo
  intune/certificates-scep-configure.md
  intune/kiosk-settings.md
  intune/mdm-authority-set.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1566 From private repo
  intune/certficates-pfx-configure.md
  intune/certificates-scep-configure.md
  intune/compliance-policy-create-windows.md
  intune/device-compliance-get-started.md
  intune/mdm-authority-set.md
  intune/media/quickstart-set-password-length-android-01.png
  intune/quickstart-create-policy.md
  intune/quickstart-set-password-length-android.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1570 From private repo
  intune/compliance-policy-monitor.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1569 iOS listed twice as supported platform - I removed one
  intune/device-passcode-reset.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1575 From private repo
  intune/toc.yml
Labels: Change sent to author, do-not-merge

#1580 typo: Double word "then"
  intune/network-access-control-integrate.md
Labels: Change sent to author, do-not-merge, in-progress, microsoft-intune/svc

#1577 typo: Double word "the"
  intune-user-help/you-need-to-turn-off-usb-debugging-android.md
  intune/app-sdk-ios.md
  intune/compliance-policy-create-windows.md
  intune/esim-device-configuration.md
  intune/phone-support-contact.md
  intune/reports-api-url.md
  intune/windows-hello.md
Labels: Change sent to author, do-not-merge, in-progress, microsoft-intune/svc

#1578 typo: Double word "using"
  intune/troubleshoot-endpoint-protection-in-microsoft-intune.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1581 typo: Double word "about"
  intune/app-wrapper-prepare-android.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1579 typo: Double word "more"
  intune/reports-ref-data-model.md
  intune/reports-ref-user.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1584 Update app-configuration-policies-use-android.md
  intune/app-configuration-policies-use-android.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1587 From private repo
  intune/exchange-service-connector-configure.md
  intune/mam-faq.md
  intune/network-access-control-integrate.md
  intune/toc.yml
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1592 From private repo
  intune/device-restrictions-android-for-work.md
  intune/device-restrictions-windows-10.md
  intune/early-edition-nda.md
  intune/exchange-service-connector-configure.md
  intune/media/tutorial-protect-email-on-enrolled-devices/ios-ca-policy-client-apps.png
  intune/media/tutorial-protect-email-on-enrolled-devices/ios-ca-policy-cloud-apps.png
  intune/media/tutorial-protect-email-on-enrolled-devices/ios-ca-policy-cloud-device-platforms.png
  intune/media/tutorial-protect-email-on-enrolled-devices/ios-ca-policy-enable-policy.png
  intune/media/tutorial-protect-email-on-enrolled-devices/ios-ca-policy-grant-access.png
  intune/media/tutorial-protect-email-on-enrolled-devices/ios-compliance-policy-email.png
  intune/media/tutorial-protect-email-on-enrolled-devices/ios-compliance-policy-system-security.png
  intune/toc.yml
  intune/tutorial-protect-email-on-enrolled-devices.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1588 Updated broken screenshot link
  intune-user-help/install-and-sign-in-to-the-intune-company-portal-app-ios.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1595 From private repo
  intune-user-help/unenroll-your-device-from-intune-android.md
  intune-user-help/use-managed-apps-on-your-device-android.md
  intune/apps-win32-app-management.md
  intune/intune-management-extension.md
  intune/media/tem-datalert-adal-consent.png
  intune/media/tem-datalert-connection.png
  intune/media/tem-datalert-mdm-profiles.png
  intune/telecom-expenses-monitor.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1597 From private repo
  intune-user-help/using-your-android-device-with-intune.md
  intune/custom-settings-android-for-work.md
  intune/custom-settings-android.md
  intune/custom-settings-configure.md
  intune/custom-settings-ios.md
  intune/custom-settings-macos.md
  intune/custom-settings-windows-10.md
  intune/custom-settings-windows-holographic.md
  intune/custom-settings-windows-phone-8-1.md
  intune/network-access-control-integrate.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1600 From private repo
  intune-user-help/using-your-android-device-with-intune.md
  intune/device-restrictions-ios.md
  intune/early-edition-nda.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1603 From private repo
  intune/index.yml
  intune/whats-new-archive.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1604 [Fix] - Typos
  README.md
  intune/app-protection-policies.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1607 Edit to data transfer exemptions table
  intune/app-protection-policy-settings-android.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1609 From private repo
  intune/app-configuration-policies-managed-app.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1567 App protection policies - Policy Refresh
  intune/mam-faq.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1618 Update app-sdk-get-started.md
  intune/app-sdk-get-started.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1619 From private repo
  intune/app-configuration-policies-use-android.md
  intune/email-settings-configure.md
  intune/remove-certificates.md
  intune/toc.yml
  intune/vpp-apps-ios.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1574 duplicate paragraph
  intune/vpp-apps-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1620 From private repo
  intune/quickstart-create-user.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1623 From private repo
  intune/actions-for-noncompliance.md
  intune/app-based-conditional-access-intune-create.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/apps-add-office365.md
  intune/apps-add.md
  intune/apps-win32-app-management.md
  intune/company-portal-app.md
  intune/compliance-policy-create-android-for-work.md
  intune/compliance-policy-create-android.md
  intune/compliance-policy-create-mac-os.md
  intune/data-transfer-between-apps-manage-ios.md
  intune/device-enrollment-manager-enroll.md
  intune/early-edition-nda.md
  intune/email-settings-configure.md
  intune/enrollment-autopilot.md
  intune/enrollment-report-company-portal-abandon.md
  intune/get-support.md
  intune/help-desk-operators.md
  intune/includes/new-device-compliance-policy.md
  intune/intune-management-extension.md
  intune/media/devices-wipe/retire.png
  intune/media/get-support/describe-the-issue.png
  intune/media/get-support/email-support.png
  intune/media/get-support/help-support-dashboard.png
  intune/media/get-support/phone-support.png
  intune/media/get-support/view-results.png
  intune/media/get-support/view-support-tickets.png
  intune/media/windows-autopilot-hybrid/adsiedit02.png
  intune/media/windows-autopilot-hybrid/adsieditproperties.png
  intune/media/windows-autopilot-hybrid/commandpromptadsiedit.png
  intune/media/windows-autopilot-hybrid/integerattributeeditor.png
  intune/network-access-control-integrate.md
  intune/terms-and-conditions-create.md
  intune/toc.yml
  intune/vpn-settings-ios.md
  intune/whats-new-app-ui.md
  intune/whats-new.md
  intune/wi-fi-settings-windows.md
  intune/windows-enrollment-status.md
  intune/windows-holographic-for-business.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1628 From private repo
  intune/device-enrollment-manager-enroll.md
  intune/free-trial-sign-up.md
  intune/get-support.md
  intune/quickstart-create-custom-role.md
  intune/quickstart-create-group.md
  intune/quickstart-create-user.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1583 Update for "Reset Security Policies"
  intune/device-profile-troubleshoot.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1631 From private repo
  intune-user-help/what-info-can-your-company-see-when-you-enroll-your-device-in-intune.md
  intune/app-protection-policies.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/compliance-policy-create-windows.md
  intune/device-restrictions-windows-10.md
  intune/early-edition-nda.md
  intune/media/app-protection-add-policy.png
  intune/media/windows-autopilot-hybrid/adsiedit02.png
  intune/media/windows-autopilot-hybrid/adsieditproperties.png
  intune/media/windows-autopilot-hybrid/commandpromptadsiedit.png
  intune/media/windows-autopilot-hybrid/integerattributeeditor.png
  intune/vpn-settings-macos.md
  intune/vpn-settings-windows-8-1.md
  intune/vpn-settings-windows-phone-8-1.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc
