Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2019-03, with the labels that each got.

#2058 Update review-logs-using-azure-monitor.md
  intune/review-logs-using-azure-monitor.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2062 From private repo
  .openpublishing.redirection.json
  intune/app-wrapper-prepare-ios.md
  intune/apps-win32-app-management.md
  intune/device-compliance-get-started.md
  intune/device-profile-troubleshoot.md
  intune/device-profiles.md
  intune/device-sync.md
  intune/endpoint-protection-windows-10.md
  intune/manage-settings-and-features-on-your-devices-with-microsoft-intune-policies.md
  intune/policies-to-protect-windows-pcs-in-microsoft-intune.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2059 Update custom settings doc to indicate that custom settings must support Get operations
  intune/custom-settings-windows-10.md
Labels: Change sent to author, doc-enhancement, in-progress, microsoft-intune/svc, ready-to-merge

#2070 From private repo
  intune/endpoint-protection-windows-10.md
  intune/graph-apis-used-by-intune-device-configuration-windows.md
  intune/includes/mdm-supported-devices.md
  intune/migration-guide-setup.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2017 Update apps-win32-app-management.md
  intune/apps-win32-app-management.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2072 From private repo
  .openpublishing.redirection.json
  intune-user-help/create-a-work-profile-and-enroll-your-device-in-intune-android.md
  intune-user-help/enroll-company-device-macos.md
  intune-user-help/enroll-your-device-in-Intune-android.md
  intune-user-help/enroll-your-wp81-windows.md
  intune-user-help/sync-your-device-manually-windows.md
  intune-user-help/your-device-appears-encrypted-but-cp-says-otherwise-android.md
  intune/compliance-policy-create-windows.md
  intune/early-edition-nda.md
  intune/get-support.md
  intune/graph-apis-used-by-intune-device-configuration-windows.md
  intune/in-development.md
  intune/includes/intune-notices.md
  intune/migration-guide-setup.md
  intune/toc.yml
  intune/whats-new.md
  intune/windows-update-settings.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1994 Update what-is-intune.md
  intune/what-is-intune.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2087 From private repo
  device-mgmt/breadcrumb/toc.yml
  intune-user-help/docfx.json
  intune/includes/intune-notices.md
  intune/reports-ref-mobile-app-management.md
  intune/reports-ref-policy.md
  intune/security-baseline-settings-windows.md
  intune/tutorial-protect-email-on-enrolled-devices.md
  intune/tutorial-protect-email-on-unmanaged-devices.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2088 Update kiosk-settings-windows.md
  intune/kiosk-settings-windows.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2091 From private repo
  intune/app-protection-policy-settings-ios.md
  intune/enrollment-method-capab.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2093 Update device-enrollment-program-enroll-ios.md
  intune/device-enrollment-program-enroll-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2095 From private repo
  intune/in-development.md
  intune/troubleshoot-app-install.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1973 Update apps-win32-app-management.md
  intune/apps-win32-app-management.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2040 Update apps-monitor.md
  intune/apps-monitor.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2089 Update reference to CP customization tab
  intune/company-portal-app.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2092 Update app-configuration-policies-outlook.md
  intune/app-configuration-policies-outlook.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2102 From private repo
  intune/scope-tags.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2103 From private repo
  intune/delivery-optimization-settings.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2106 Fix tiny type error
  intune/in-development.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2110 From private repo
  intune/in-development.md
  intune/includes/intune-notices.md
  intune/scope-tags.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2112 From private repo
  intune/free-trial-sign-up.md
  intune/in-development.md
  intune/media/domain-custom-add.png
  intune/media/scope-tags/add-scope-tags.png
  intune/media/scope-tags/assign-scope-to-role.png
  intune/media/scope-tags/choose-profile.png
  intune/media/scope-tags/create-scope-tag.png
  intune/media/scope-tags/scope-group-other-options.png
  intune/media/scope-tags/select-member-groups.png
  intune/media/scope-tags/select-scope-groups.png
  intune/media/scope-tags/select-scope-tags.png
  intune/scope-tags.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2073 Add requirement for device to be able to ping the DC
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2115 From private repo
  .openpublishing.redirection.json
  intune-user-help/TOC.md
  intune-user-help/about-cp-app-for-windows-10.md
  intune-user-help/enroll-windows-10-device.md
  intune-user-help/enroll-your-device-in-intune-all.md
  intune-user-help/enroll-your-device-in-intune-windows.md
  intune-user-help/enroll-your-w10-device-access-work-or-school.md
  intune-user-help/enroll-your-w10-device-your-account.md
  intune-user-help/enroll-your-w10-phone-or-w10-pc-windows.md
  intune-user-help/enroll-your-w81-or-rt81-windows.md
  intune-user-help/enroll-your-wp81-windows.md
  intune-user-help/troubleshoot-your-windows-10-device-windows.md
  intune-user-help/use-managed-devices-to-get-work-done.md
  intune-user-help/using-your-windows-device-with-intune.md
  intune-user-help/what-happens-if-you-install-the-company-portal-app-and-enroll-your-device-in-intune-windows.md
  intune-user-help/windows-enrollment-company-portal.md
  intune/help-desk-operators.md
  intune/high-level-architecture.md
  intune/media/intunearchitecture_wh.svg
  intune/quickstart-enroll-windows-device.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2116 From private repo
  intune/app-wrapper-prepare-android.md
  intune/get-support.md
  intune/intune-graph-apis.md
  intune/ios-device-features-settings.md
  intune/troubleshoot-device-enrollment-in-intune.md
  intune/whats-new.md
  intune/windows-enroll.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2117 From private repo
  .gitignore
  .openpublishing.redirection.json
  .vscode/settings.json
  intune-user-help/windows-enrollment-company-portal.md
  intune/certficates-pfx-configure.md
  intune/certificates-scep-configure.md
  intune/delivery-optimization-windows.md
  intune/media/certificates-download-connector.png
  intune/media/certificates-pfx-configure/certificates-pfx-configure-profile-fill.png
  intune/media/certificates-pfx-configure/certificates-pfx-configure-profile-new.png
  intune/media/certificates-pfx-configure/download-ndes-connector.png
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2120 From private repo
  intune/device-restrictions-ios.md
  intune/device-restrictions-macos.md
  intune/exchange-connector-install.md
  intune/ios-device-features-settings.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2125 From private repo
  intune/android-fully-managed-enroll.md
  intune/apps-win32-app-management.md
  intune/intune-management-extension.md
  intune/mdm-authority-set.md
  intune/planning-guide-design.md
  intune/privacy-data-audit-export-delete.md
  intune/reports-nav-create-intune-reports.md
  intune/reports-ref-current-user.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2101 Remove duplicated lines from app config section
  intune/app-sdk-android.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2119 Bolding Important info
  intune/enrollment-restrictions-set.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2127 From private repo
  intune/identity-protection-windows-settings.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2128 added detail to device limit restrictions
  intune/enrollment-restrictions-set.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2129 From private repo
  intune/app-sdk-android-testing-guide.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2130 Fixed spacing
  intune/enrollment-restrictions-set.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2138 From private repo
  intune-user-help/reset-your-passcode-cpwebsite.md
  intune/device-management-capabilities.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2139 From private repo
  .openpublishing.redirection.json
  intune/app-protection-policy.md
  intune/apps-deploy-gcc-dod.md
  intune/exchange-service-connector-configure.md
  intune/get-started-enroll.md
  intune/get-started-groups.md
  intune/get-started-users.md
  intune/ignite-intune-docs.md
  intune/phone-support-contact.md
  intune/role-based-access-control.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2148 From private repo
  intune/exchange-connector-install.md
  intune/includes/intune-notices.md
  intune/media/exchange-connector-install/prompt-to-replace.png
  intune/media/exchange-connector-install/successful-reinstall.png
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2150 Update device-restrictions-macos.md
  intune/device-restrictions-macos.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2152 From private repo
  intune/apps-deploy-gcc-dod.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2155 From private repo
  intune/compliance-policy-create-windows.md
  intune/encryption-monitor.md
  intune/in-development.md
  intune/mobile-threat-defense.md
  intune/toc.yml
  intune/whats-new.md
  intune/wi-fi-profile-shared-key.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2160 Update device-restrictions-ios.md
  intune/device-restrictions-ios.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2154 Adding a note about Serial numbers being preferred for iOS
  intune/corporate-identifiers-add.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2161 Update device-restrictions-macos.md
  intune/device-restrictions-macos.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2163 From private repo
  intune-user-help/unenroll-your-device-from-intune-macos.md
  intune/device-compliance-get-started.md
  intune/intune-management-extension.md
  intune/troubleshoot-company-resource-access-problems.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2162 Update administrative-templates-windows.md
  intune/administrative-templates-windows.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2164 From private repo
  intune/app-configuration-managed-browser.md
  intune/endpoint-protection-windows-10.md
  intune/network-bandwidth-use.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2167 From private repo
  .openpublishing.redirection.json
  intune/advanced-threat-protection.md
  intune/app-protection-policies-access-actions.md
  intune/app-protection-policies-monitor.md
  intune/app-protection-policy-settings-android.md
  intune/compliance-policy-create-google-play-protect.md
  intune/devices-wipe.md
  intune/intune-data-warehouse-collections.md
  intune/mam-faq.md
  intune/reports-changelog.md
  intune/reports-ref-application.md
  intune/reports-ref-current-user.md
  intune/reports-ref-devices.md
  intune/reports-ref-mobile-app-management.md
  intune/reports-ref-user.md
  intune/toc.yml
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2171 Update kiosk-settings-windows.md
  intune/kiosk-settings-windows.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2172 Update device-restrictions-android-for-work.md
  intune/device-restrictions-android-for-work.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2174 Update whats-new.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2173 Update get-started-evaluation.md
  intune/get-started-evaluation.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2175 Update whats-new-app-ui.md
  intune/whats-new-app-ui.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2176 Update in-development.md
  intune/in-development.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2177 From private repo
  .openpublishing.redirection.json
  intune-user-help/encrypt-your-device-android.md
  intune/O365-app-data-protection-set.md
  intune/android-zebra-mx-logs-troubleshoot.md
  intune/android-zebra-mx-overview.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/app-protection-policy-settings-log.md
  intune/apps-add-office365.md
  intune/apps-prepare-mobile-application-management.md
  intune/apps-win32-app-management.md
  intune/conditional-access-exchange-monitor.md
  intune/device-profile-assign.md
  intune/device-profile-create.md
  intune/device-profiles.md
  intune/device-restrictions-windows-10.md
  intune/encryption-monitor.md
  intune/enrollment-autopilot.md
  intune/exchange-connector-install.md
  intune/exchange-service-connector-configure.md
  intune/in-development.md
  intune/kiosk-settings-windows.md
  intune/media/applicability-rules.png
  intune/media/apps-add-office365/apps-add-office365-01.png
  intune/media/apps-add-office365/apps-add-office365-02.png
  intune/media/audit-logs-export-data-settings.png
  intune/media/audit-logs-under-monitor-in-compliance.png
  intune/media/monitor-audit-log-detail.png
  intune/media/monitor-audit-logs.png
  intune/monitor-audit-logs.md
  intune/planning-guide-design.md
  intune/planning-guide-test-validation.md
  intune/review-logs-using-azure-monitor.md
  intune/role-based-access-control.md
  intune/scope-tags.md
  intune/security-baselines.md
  intune/toc.yml
  intune/whats-new.md
  intune/windows-bulk-enroll.md
Labels: do-not-merge

#2184 MVP Review
  intune/quickstart-add-assign-app.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2188 mvp review
  intune/quickstart-create-custom-role.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2180 mvp review
  intune/quickstart-setup-auto-enrollment.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2178 MVP reviewed
  intune/quickstart-create-user.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2195 mvp review
  intune/tutorial-protect-email-on-unmanaged-devices.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2192 mvp review
  intune/tutorial-protect-email-on-enrolled-devices.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2179 MVP review
  intune/quickstart-create-group.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2189 mvp review
  intune/quickstart-email-profile.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2202 From private repo
  .openpublishing.redirection.json
  intune-user-help/encrypt-your-device-android.md
  intune-user-help/enroll-your-device-in-intune-ios.md
  intune-user-help/media/ios-00-cp-enroll-1903.png
  intune-user-help/media/ios-01-cp-enroll-1903.png
  intune-user-help/media/ios-04-cp-enroll-1903.png
  intune-user-help/media/ios-05-cp-enroll-1903.png
  intune-user-help/media/ios-06-cp-enroll-1903.png
  intune-user-help/media/ios-07-cp-enroll-1903.png
  intune-user-help/media/ios-08-cp-enroll-1903.png
  intune-user-help/media/ios-09-cp-enroll-1903.png
  intune-user-help/media/ios-10-cp-enroll-1903.png
  intune-user-help/media/ios-11-cp-enroll-1903.png
  intune-user-help/media/ios-12-cp-enroll-1903.png
  intune-user-help/media/ios-13-cp-enroll-1903.png
  intune-user-help/media/ios-15-cp-enroll-1903.png
  intune/O365-app-data-protection-set.md
  intune/android-zebra-mx-logs-troubleshoot.md
  intune/android-zebra-mx-overview.md
  intune/apps-supported-intune-apps.md
  intune/device-restrictions-ios.md
  intune/media/apps-supported-intune-apps/icon-lexmark-mobile-print.png
  intune/media/quickstart-email-profile/ios-email-profile.PNG
  intune/media/quickstart-set-password-length-android/quickstart-set-password-length-android-01.png
  intune/media/tutorial-protect-email-on-enrolled-devices/ios-ca-policy-cloud-device-platforms.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/modern-auth-policy-client-apps.png
  intune/quickstart-set-password-length-android.md
  intune/security-baselines-monitor.md
  intune/tutorial-protect-email-on-unmanaged-devices.md
  intune/whats-new-app-ui.md
  intune/whats-new.md
  intune/wi-fi-profile-shared-key.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2145 Making licensing requirement more clear
  intune/device-enrollment-manager-enroll.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2197 Update quickstart-create-user.md
  intune/quickstart-create-user.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2187 mvp review
  intune/quickstart-setup-auto-enrollment.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2208 From private repo
  .openpublishing.redirection.json
  intune/app-modern-authentication-block.md
  intune/app-protection-policies-exception.md
  intune/app-protection-policy.md
  intune/app-sdk-android.md
  intune/apps-monitor.md
  intune/apps-supported-intune-apps.md
  intune/conditional-access-exchange-monitor.md
  intune/data-warehouse-account-move.md
  intune/lob-apps-ios.md
  intune/mam-faq.md
  intune/network-bandwidth-use.md
  intune/quickstart-create-assign-app-policy.md
  intune/quickstart-send-notification.md
  intune/reports-ref-user-timeline.md
  intune/toc.yml
  intune/whats-new-app-ui.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2209 Update android-deployment-scenarios-app-protection-work-profiles.md
  intune/android-deployment-scenarios-app-protection-work-profiles.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2210 From private repo
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2212 MVP Review - Update tutorial-walkthrough-intune-portal.md
  intune/tutorial-walkthrough-intune-portal.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2215 From private repo
  intune/device-rename.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2216 From private repo
  intune/certficates-pfx-configure.md
  intune/get-support.md
  intune/includes/intune-notices.md
  intune/reports-proc-get-a-link-powerbi.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2220 MVP Review - Update tutorial-use-device-enrollment-program-enroll-ios.md
  intune/tutorial-use-device-enrollment-program-enroll-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2221 MVP Review - Update what-is-device-management.md
  intune/what-is-device-management.md
Labels: Change sent to author, do-not-merge, microsoft-365-enterprise/prod

#2225 From private repo
  intune/apps-add-office365.md
  intune/assign-role.md
  intune/create-custom-role.md
  intune/role-based-access-control.md
  intune/scope-tags.md
  intune/toc.yml
Labels: do-not-merge
