Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2019-11, with the labels that each got.

#3144 Typo "**John@contoso.com**"→"**John\@contoso.com**"
  intune/apps/app-configuration-policies-use-ios.md
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#3151 From private repo
  intune/apps/app-configuration-managed-browser.md
  intune/apps/app-protection-policies.md
  intune/apps/web-app.md
  intune/developer/app-sdk-get-started.md
  intune/developer/app-wrapper-prepare-ios.md
  intune/fundamentals/whats-new-archive.md
  intune/includes/intune-notices.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3148 Update app-protection-policy-settings-ios.md
  intune/apps/app-protection-policy-settings-ios.md
Labels: Change sent to author, apps/subsvc, assessing_(C&L), do-not-merge, microsoft-intune/svc

#3152 Update supported Android and iOS versions
  intune/protect/mtd-enable-unenrolled-devices.md
Labels: Change sent to author, assessing_(C&L), in-progress, microsoft-intune/svc, protect/subsvc, ready-to-merge

#3155 From private repo
  intune/protect/conditional-access-integrate-jamf.md
  intune/protect/mtd-connector-enable.md
Labels: do-not-merge

#3154 Wrapped applications can't use MAM app config
  intune/developer/apps-prepare-mobile-application-management.md
Labels: Change sent to author, assessing_(C&L), developer/subsvc, microsoft-intune/svc, ready-to-merge

#3128 iOS 11 is minimum supported OS version
  intune/developer/app-wrapper-prepare-ios.md
Labels: Change sent to author, assessing_(C&L), developer/subsvc, microsoft-intune/svc, ready-to-merge

#3123 Update manage-microsoft-edge.md
  intune/apps/manage-microsoft-edge.md
Labels: Change sent to author, apps/subsvc, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3085 Update guided-scenarios-overview.md
  intune/fundamentals/guided-scenarios-overview.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3054 Update app-protection-policy-settings-android.md
  intune/apps/app-protection-policy-settings-android.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3055 Update app-protection-policy-settings-ios.md
  intune/apps/app-protection-policy-settings-ios.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3086 Update apps-windows-edge.md
  intune/apps/apps-windows-edge.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3095 Update SSO documentation for 12.0.12.0 of the Intune Xamarin.iOS bindings
  intune/developer/app-sdk-xamarin.md
Labels: Change sent to author, assessing_(C&L), developer/subsvc, microsoft-intune/svc, ready-to-merge

#3149 Update app-protection-policy-settings-ios.md
  intune/apps/app-protection-policy-settings-ios.md
Labels: Change sent to author, apps/subsvc, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3159 From private repo
  intune/apps/apps-add-office365.md
  intune/apps/apps-configure-chrome-android.md
  intune/apps/manage-microsoft-edge.md
  intune/apps/media/apps-add-office365/clicktorun-files.png
  intune/apps/media/apps-add-office365/created-folder.png
  intune/apps/media/apps-add-office365/office-folder.png
  intune/configuration/device-firmware-configuration-interface-windows.md
  intune/configuration/device-restrictions-ios.md
  intune/enrollment/enrollment-autopilot.md
  intune/enrollment/quickstart-enroll-windows-device.md
  intune/enrollment/quickstart-setup-auto-enrollment.md
  intune/enrollment/tutorial-use-autopilot-enroll-devices.md
  intune/enrollment/tutorial-use-device-enrollment-program-enroll-ios.md
  intune/enrollment/windows-autopilot-hybrid.md
  intune/enrollment/windows-enroll.md
  intune/enrollment/windows-enrollment-status.md
  intune/fundamentals/whats-new-archive.md
  intune/fundamentals/whats-new.md
Labels: do-not-merge

#3160 From private repo
  intune/apps/app-protection-policies-validate.md
  intune/apps/apps-add-built-in.md
  intune/apps/store-apps-company-portal-app.md
  intune/apps/vpp-apps-ios.md
  intune/apps/windows-store-for-business.md
  intune/developer/app-sdk.md
  intune/developer/app-wrapper-prepare-ios.md
  intune/enrollment/android-fully-managed-enroll.md
  intune/enrollment/android-kiosk-enroll.md
  intune/enrollment/apple-configurator-enroll-ios.md
  intune/enrollment/apple-school-manager-set-up-ios.md
  intune/enrollment/connect-intune-android-enterprise.md
  intune/enrollment/device-enrollment-program-enroll-ios.md
  intune/enrollment/device-enrollment-program-enroll-macos.md
  intune/enrollment/ios-user-enrollment.md
  intune/enrollment/quickstart-enroll-windows-device.md
  intune/enrollment/troubleshoot-device-enrollment-in-intune.md
  intune/enrollment/troubleshoot-windows-enrollment-errors.md
  intune/fundamentals/tutorial-walkthrough-intune-portal.md
  intune/protect/actions-for-noncompliance.md
  intune/protect/advanced-threat-protection.md
  intune/protect/app-based-conditional-access-intune-create.md
  intune/protect/app-based-conditional-access-intune.md
  intune/protect/media/actions-for-noncompliance/actionsfornoncompliance-1.png
  intune/protect/media/advanced-threat-protection/atp-device-compliance-open-microsoft-defender.png
  intune/remote-actions/custom-notifications.md
  intune/remote-actions/device-activation-lock-bypass.md
  intune/remote-actions/device-erase.md
  intune/remote-actions/device-fresh-start.md
  intune/remote-actions/device-inventory.md
  intune/remote-actions/device-locate.md
  intune/remote-actions/device-logout-user.md
  intune/remote-actions/device-lost-mode.md
  intune/remote-actions/device-management.md
  intune/remote-actions/device-passcode-reset.md
  intune/remote-actions/device-remote-lock.md
  intune/remote-actions/device-remove-user.md
  intune/remote-actions/device-rename.md
  intune/remote-actions/device-restart.md
  intune/remote-actions/device-supervised-mode.md
  intune/remote-actions/device-sync.md
  intune/remote-actions/device-windows-pin-reset.md
  intune/remote-actions/devices-wipe.md
  intune/remote-actions/find-primary-user.md
  intune/remote-actions/teamviewer-support.md
Labels: do-not-merge

#3163 Added new measure app
  intune/configuration/bundle-ids-built-in-ios-apps.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#3166 From private repo
  intune-user-help/you-need-to-enable-code-integrity.md
  intune/apps/apps-edge-macos.md
  intune/configuration/administrative-templates-windows.md
  intune/configuration/android-oem-configuration-overview.md
  intune/configuration/android-pulse-secure-per-app-vpn.md
  intune/configuration/android-zebra-mx-overview.md
  intune/configuration/custom-settings-configure.md
  intune/configuration/delivery-optimization-windows.md
  intune/configuration/device-features-configure.md
  intune/configuration/device-firmware-configuration-interface-windows.md
  intune/configuration/device-profile-assign.md
  intune/configuration/device-profile-create.md
  intune/configuration/device-profile-monitor.md
  intune/configuration/device-restrictions-configure.md
  intune/configuration/device-restrictions-windows-10.md
  intune/configuration/edition-upgrade-configure-windows-10.md
  intune/configuration/education-settings-configure.md
  intune/configuration/email-settings-configure.md
  intune/configuration/esim-device-configuration.md
  intune/configuration/kernel-extensions-overview-macos.md
  intune/configuration/kiosk-settings.md
  intune/configuration/media/quickstart-email-profile/ios-create-profile.png
  intune/configuration/media/quickstart-email-profile/ios-email-profile-name.png
  intune/configuration/media/quickstart-email-profile/ios-email-profile.png
  intune/configuration/media/troubleshoot-policies-in-microsoft-intune/help-and-support-troubleshoot.png
  intune/configuration/quickstart-email-profile.md
  intune/configuration/shared-user-device-settings.md
  intune/configuration/telecom-expenses-monitor.md
  intune/configuration/troubleshoot-email-profiles-in-microsoft-intune.md
  intune/configuration/troubleshoot-policies-in-microsoft-intune.md
  intune/configuration/vpn-setting-configure-per-app.md
  intune/configuration/vpn-settings-configure.md
  intune/configuration/wi-fi-profile-shared-key.md
  intune/configuration/wi-fi-settings-configure.md
  intune/protect/atp-manage-vulnerabilities.md
  intune/protect/media/atp-manage-vulnerabilities/temp-accept-task.png
  intune/protect/media/atp-manage-vulnerabilities/temp-security-tasks.png
  intune/protect/security-baseline-settings-edge.md
Labels: do-not-merge

#3162 Update apps-configure-chrome-android.md
  intune/apps/apps-configure-chrome-android.md
Labels: Change sent to author, apps/subsvc, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3167 From private repo
  intune-user-help/what-info-can-your-company-see-when-you-enroll-your-device-in-intune.md
  intune/fundamentals/whats-new-app-ui.md
  intune/fundamentals/whats-new.md
  intune/protect/certficates-pfx-configure.md
  intune/protect/certificates-configure.md
  intune/protect/certificates-digicert-configure.md
  intune/protect/certificates-imported-pfx-configure.md
  intune/protect/certificates-profile-scep.md
  intune/protect/certificates-s-mime-encryption-sign.md
  intune/protect/certificates-scep-configure.md
  intune/protect/checkpoint-sandblast-mobile-mobile-threat-defense-connector.md
  intune/protect/checkpoint-sandblast-mobile-mtd-connector-integration.md
  intune/protect/compliance-policy-create-android.md
  intune/protect/media/certficates-pfx-configure/certificates-pfx-configure-profile-fill.png
  intune/protect/media/certficates-pfx-configure/certificates-pfx-configure-profile-new.png
  intune/protect/media/certficates-pfx-configure/download-ndes-connector.png
  intune/protect/media/certificates-digicert-configure/connector-download.png
  intune/protect/media/certificates-imported-pfx-configure/download-imported-pfxconnector.png
  intune/protect/media/certificates-scep-configure/download-certificates-connector.png
Labels: do-not-merge

#3173 From private repo
  intune/protect/compliance-policy-monitor.md
  intune/protect/media/compliance-policy-monitor/devices-without-policies.png
  intune/protect/media/compliance-policy-monitor/drill-down-details.png
  intune/protect/media/compliance-policy-monitor/filter-columns.png
  intune/protect/media/compliance-policy-monitor/idc-1.png
  intune/protect/media/compliance-policy-monitor/idc-10.png
  intune/protect/media/compliance-policy-monitor/idc-8.png
  intune/protect/media/compliance-policy-monitor/see-policies-applied-specific-device.png
  intune/protect/media/compliance-policy-monitor/select-not-compliant-status.png
Labels: do-not-merge

#3174 From private repo
  intune/fundamentals/whats-new.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3178 From private repo
  intune/apps/apps-supported-intune-apps.md
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#3183 From private repo
  intune/configuration/device-restrictions-ios.md
  intune/configuration/vpn-settings-configure.md
  intune/protect/software-updates-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3185 From private repo
  intune/apps/app-protection-policies-access-actions.md
  intune/apps/app-protection-policies-exception.md
  intune/apps/app-protection-policy-settings-android.md
  intune/apps/app-protection-policy-settings-ios.md
  intune/apps/vpp-apps-ios.md
  intune/apps/vpp-ebooks-ios.md
  intune/protect/endpoint-protection-windows-10.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3181 Add a warning about notarization for macOS LOB apps
  intune/apps/lob-apps-macos.md
Labels: Change sent to author, apps/subsvc, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3190 Dead URL change for Knox Service Plugin Guide docs
  intune/configuration/android-oem-configuration-overview.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#3193 From private repo
  intune/apps/lob-apps-macos.md
  intune/includes/intune-notices.md
  intune/protect/certificates-profile-scep.md
  intune/protect/conditional-access-exchange-create.md
  intune/protect/conditional-access-intune-common-ways-use.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3194 From private repo
  intune/apps/android-deployment-scenarios-app-protection-work-profiles.md
  intune/apps/app-protection-policy-settings-android.md
  intune/apps/apps-win32-s-mode.md
  intune/apps/intune-management-extension.md
  intune/apps/web-app.md
  intune/configuration/administrative-templates-windows.md
  intune/configuration/android-oem-configuration-overview.md
  intune/configuration/android-pulse-secure-per-app-vpn.md
  intune/configuration/android-zebra-mx-overview.md
  intune/configuration/delivery-optimization-windows.md
  intune/configuration/device-features-configure.md
  intune/configuration/device-firmware-configuration-interface-windows.md
  intune/configuration/device-profile-assign.md
  intune/configuration/device-profile-create.md
  intune/configuration/device-profile-monitor.md
  intune/configuration/device-profiles.md
  intune/configuration/device-restrictions-configure.md
  intune/configuration/device-restrictions-windows-10.md
  intune/configuration/device-restrictions-windows-holographic.md
  intune/configuration/edition-upgrade-configure-windows-10.md
  intune/configuration/education-settings-configure.md
  intune/configuration/email-settings-configure.md
  intune/configuration/esim-device-configuration.md
  intune/configuration/kernel-extensions-overview-macos.md
  intune/configuration/kiosk-settings-windows.md
  intune/configuration/kiosk-settings.md
  intune/configuration/quickstart-email-profile.md
  intune/configuration/shared-user-device-settings.md
  intune/configuration/telecom-expenses-monitor.md
  intune/configuration/troubleshoot-email-profiles-in-microsoft-intune.md
  intune/configuration/troubleshoot-policies-in-microsoft-intune.md
  intune/configuration/vpn-setting-configure-per-app.md
  intune/configuration/vpn-settings-configure.md
  intune/configuration/vpn-settings-ios.md
  intune/configuration/wi-fi-profile-shared-key.md
  intune/configuration/wi-fi-settings-configure.md
  intune/configuration/wi-fi-settings-ios.md
  intune/enrollment/windows-enrollment-status.md
  intune/fundamentals/guided-scenarios-cloud-managed-pc.md
  intune/fundamentals/help-secure-windows-pcs-with-endpoint-protection-for-microsoft-intune.md
  intune/fundamentals/media/whats-new-app-ui/webapp-open-in-browser.png
  intune/fundamentals/pc-management-comparison.md
  intune/fundamentals/troubleshoot-endpoint-protection-in-microsoft-intune.md
  intune/fundamentals/troubleshoot-software-updates-in-microsoft-intune.md
  intune/fundamentals/what-is-device-management.md
  intune/fundamentals/whats-new-app-ui.md
  intune/fundamentals/whats-new.md
  intune/fundamentals/windows-holographic-for-business.md
  intune/includes/new-device-compliance-policy.md
  intune/protect/endpoint-protection-configure.md
  intune/protect/endpoint-protection-windows-10.md
  intune/protect/scep-libraries-apis.md
  intune/protect/security-baseline-settings-defender-atp.md
  intune/protect/security-baseline-settings-mdm.md
  intune/protect/software-update-agent-error-codes.md
  intune/protect/use-network-locations.md
  intune/remote-actions/password-reset.md
Labels: do-not-merge

#3203 Adding missing macOS SSO app extension setting
  intune/configuration/macos-device-features-settings.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#3202 Adding missing setting to iOS SSO app extension
  intune/configuration/ios-device-features-settings.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#3204 From private repo
  intune-user-help/enroll-your-device-in-intune-macos-cp.md
  intune-user-help/media/company-portal-mac-begin-1911.png
  intune-user-help/media/install-mgmt-profile-mac-1911.png
  intune-user-help/media/setup-done-mac-1911.png
  intune-user-help/media/system-preference-install-1911.png
  intune-user-help/media/system-preference-password-1911.png
  intune-user-help/media/system-preference-verify-1911.png
  intune-user-help/media/update-settings-mac-1911.png
  intune/configuration/ios-device-features-settings.md
  intune/configuration/macos-device-features-settings.md
  intune/enrollment/macos-enroll.md
  intune/enrollment/windows-enroll.md
  intune/fundamentals/whats-new-app-ui.md
  intune/fundamentals/whats-new.md
Labels: do-not-merge

#3206 From private repo
  intune/fundamentals/education-settings-configure-ios.md
  intune/includes/intune-notices.md
  intune/protect/advanced-threat-protection.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3209 From private repo
  intune-user-help/install-apps-cpapp-windows.md
  intune/enrollment/troubleshoot-ios-enrollment-errors.md
  intune/enrollment/tutorial-use-device-enrollment-program-enroll-ios.md
  intune/fundamentals/whats-new.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3211 From private repo
  intune/protect/conditional-access-assign-jamf.md
Labels: do-not-merge

#3210 Changed old reference to Android O
  intune/configuration/device-restrictions-android-for-work.md
Labels: Change sent to author, assessing_(C&L), configuration/subsvc, microsoft-intune/svc, ready-to-merge

#3212 From private repo
  intune/apps/apps-add.md
  intune/enrollment/device-enrollment-program-enroll-ios.md
  intune/enrollment/troubleshoot-ios-enrollment-errors.md
  intune/fundamentals/guided-scenarios-cloud-managed-pc.md
  intune/protect/encrypt-devices.md
  intune/protect/encryption-monitor.md
  intune/protect/endpoint-protection-configure.md
  intune/protect/exchange-connector-install.md
  intune/protect/media/encrypt-devices/bitlocker-settings.png
  intune/protect/media/encrypt-devices/filevault-settings.png
  intune/protect/media/encryption-monitor/export.png
Labels: do-not-merge

#3216 From private repo
  intune/configuration/device-restrictions-android-for-work.md
  intune/configuration/device-restrictions-windows-10.md
  intune/fundamentals/education-settings-configure-ios-shared.md
  intune/fundamentals/get-support.md
  intune/fundamentals/in-development.md
  intune/fundamentals/media/get-support/confirm-your-service-selection.png
  intune/fundamentals/media/get-support/describe-the-issue.png
  intune/fundamentals/media/get-support/email-support.png
  intune/fundamentals/media/get-support/help-support-dashboard.png
  intune/fundamentals/media/get-support/intune-blades.png
  intune/fundamentals/media/get-support/phone-support.png
  intune/fundamentals/media/get-support/premier-phone-support-options.png
  intune/fundamentals/media/get-support/select-a-service.png
  intune/fundamentals/media/get-support/view-results.png
  intune/fundamentals/media/get-support/view-support-tickets.png
  intune/fundamentals/whats-new.md
  intune/includes/intune-notices.md
  intune/protect/conditional-access-exchange-create.md
  intune/protect/conditional-access-integrate-jamf.md
  intune/protect/conditional-access.md
  intune/protect/create-compliance-policy.md
  intune/protect/create-conditional-access-intune.md
  intune/protect/identity-protection-configure.md
  intune/protect/media/create-conditional-access-intune/create-ca-device-platforms.png
  intune/protect/media/create-conditional-access-intune/create-ca-grant-access-settings.png
  intune/protect/media/create-conditional-access-intune/create-ca-select-apps.png
  intune/protect/media/create-conditional-access-intune/create-ca.png
  intune/protect/media/create-conditional-access-intune/enable-policy.png
  intune/protect/mtd-app-protection-policy.md
  intune/protect/mtd-apps-ios-app-configuration-policy-add-assign.md
Labels: do-not-merge

#3215 Updated Android Enterprise DO limitations
  intune/protect/certificates-profile-scep.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, protect/subsvc, ready-to-merge

#3219 From private repo
  intune/apps/app-configuration-policies-outlook.md
  intune/apps/apps-selective-wipe.md
  intune/apps/company-portal-app.md
  intune/configuration/device-profile-troubleshoot.md
  intune/enrollment/troubleshoot-ios-enrollment-errors.md
  intune/fundamentals/get-support.md
  intune/fundamentals/in-development.md
  intune/fundamentals/whats-new.md
  intune/protect/advanced-threat-protection.md
  intune/protect/mtd-connector-enable.md
  intune/protect/windows-update-for-business-configure.md
Labels: do-not-merge

#3221 From private repo
  intune/enrollment/device-enrollment-manager-enroll.md
  intune/enrollment/device-enrollment-program-enroll-ios.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#3224 From private repo
  intune/configuration/device-profile-assign.md
  intune/configuration/device-profile-create.md
  intune/configuration/media/device-profile-create/applicability-rules.png
  intune/configuration/media/device-profile-create/create-device-profile.png
  intune/configuration/media/device-profile-create/setting-applies-to-user-and-device.png
  intune/fundamentals/groups-add.md
  intune/fundamentals/media/groups-add/groups-add-new.png
  intune/fundamentals/media/groups-add/groups-add-properties.png
  intune/fundamentals/toc.yml
  intune/fundamentals/windows-10-virtual-machines.md
  intune/includes/mdm-supported-devices.md
Labels: do-not-merge

#3231 From private repo
  intune/developer/reports-ref-application.md
  intune/includes/intune-notices.md
  intune/protect/windows-update-for-business-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3232 From private repo
  intune/configuration/android-pulse-secure-per-app-vpn.md
  intune/configuration/custom-settings-android-for-work.md
Labels: Change sent to author, configuration/subsvc, do-not-merge, microsoft-intune/svc

#3246 Nesting of bullet-points in multi dex docs
  intune/developer/app-wrapper-prepare-android.md
Labels: Change sent to author, developer/subsvc, do-not-merge, microsoft-intune/svc

#3247 From private repo
  intune/configuration/bundle-ids-built-in-ios-apps.md
  intune/configuration/device-restrictions-ios.md
  intune/enrollment/autopilot-hybrid-connector-proxy.md
  intune/protect/tutorial-protect-email-on-unmanaged-devices.md
  intune/protect/windows-hello.md
  intune/protect/windows-update-compliance-reports.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3250 From private repo
  intune/fundamentals/toc.yml
  intune/fundamentals/whats-new.md
  intune/protect/mtd-connector-enable.md
  intune/protect/mtd-enable-unenrolled-devices.md
Labels: do-not-merge

#3254 From private repo
  intune/apps/app-protection-policy-settings-android.md
  intune/apps/apps-deploy.md
  intune/apps/apps-supported-intune-apps.md
  intune/configuration/media/troubleshoot-wi-fi-profiles/android-add-any-purpose-eku.png
  intune/configuration/media/troubleshoot-wi-fi-profiles/android-any-purpose-scep-device-config-profile.png
  intune/configuration/media/troubleshoot-wi-fi-profiles/android-cmtrace-filter-wifimgr.png
  intune/configuration/media/troubleshoot-wi-fi-profiles/android-end-user-company-portal-scep-certificate.png
  intune/configuration/media/troubleshoot-wi-fi-profiles/android-end-user-company-portal-trusted-root.png
  intune/configuration/media/troubleshoot-wi-fi-profiles/android-end-user-install-wifi-profile.png
  intune/configuration/media/troubleshoot-wi-fi-profiles/android-end-user-saved-networks.png
  intune/configuration/media/troubleshoot-wi-fi-profiles/cmtrace-filter-wifimgr.png
  intune/configuration/media/troubleshoot-wi-fi-profiles/cmtrace-sample-log-output.png
  intune/configuration/media/troubleshoot-wi-fi-profiles/ios-console-app-include-info-messages-debug-messages.png
  intune/configuration/media/troubleshoot-wi-fi-profiles/ios-management-profile.png
  intune/configuration/media/troubleshoot-wi-fi-profiles/ios-wifi-connection-in-management-profile.png
  intune/configuration/media/troubleshoot-wi-fi-profiles/windows-access-work-school-info.png
  intune/configuration/media/troubleshoot-wi-fi-profiles/windows-mdm-diagnostic-info.png
  intune/configuration/media/troubleshoot-wi-fi-profiles/windows-wifi-areas-managed-by-microsoft.png
  intune/configuration/media/troubleshoot-wi-fi-profiles/windows-wifi-connection-known-networks.png
  intune/configuration/toc.yml
  intune/configuration/troubleshoot-wi-fi-profiles.md
  intune/configuration/wi-fi-settings-configure.md
  intune/fundamentals/in-development.md
  intune/fundamentals/whats-new.md
  intune/protect/certificate-authority-add-scep-overview.md
Labels: do-not-merge

#3249 Update android-enroll-device-administrator.md
  intune/enrollment/android-enroll-device-administrator.md
Labels: Change sent to author, assessing_(C&L), enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#3218 Remove incorrect note about app config and APP
  intune/apps/app-configuration-policies-managed-app.md
Labels: Change sent to author, apps/subsvc, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3184 Update store-apps-windows.md
  intune/apps/store-apps-windows.md
Labels: Change sent to author, apps/subsvc, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3164 Removed Note which referenced Intune Hybrid
  intune/developer/apps-prepare-mobile-application-management.md
Labels: Change sent to author, assessing_(C&L), developer/subsvc, microsoft-intune/svc, ready-to-merge

#3257 From private repo
  intune/apps/apps-inc-exl-assignments.md
  intune/configuration/administrative-templates-update-office.md
  intune/configuration/administrative-templates-windows.md
  intune/configuration/media/administrative-templates-update-office/admx-enable-automatic-updates.png
  intune/configuration/media/administrative-templates-update-office/admx-enable-target-version-setting.png
  intune/configuration/media/administrative-templates-update-office/admx-enable-update-channel-setting.png
  intune/configuration/media/administrative-templates-update-office/admx-task-scheduler-office-automatic-updates.png
  intune/configuration/media/administrative-templates-update-office/admx-update-branch-registry-key.png
  intune/configuration/media/administrative-templates-update-office/admx-update-channel-office-registry-key.png
  intune/configuration/media/administrative-templates-update-office/excel-account-menu-about-version.png
  intune/configuration/media/administrative-templates-update-office/office-app-shows-downloading-updates.png
  intune/configuration/media/administrative-templates-update-office/office-version-descriptor-xml-example.png
  intune/configuration/shared-user-device-settings-windows.md
  intune/configuration/toc.yml
  intune/enrollment/enrollment-autopilot.md
  intune/enrollment/media/enrollment-autopilot/assign-user.png
  intune/enrollment/media/enrollment-autopilot/autopilot-import-device.png
  intune/enrollment/windows-enrollment-status.md
  intune/includes/intune-notices.md
  intune/protect/troubleshoot-exchange-connector-common-problems.md
Labels: do-not-merge

#3261 From private repo
  intune/enrollment/tutorial-use-autopilot-enroll-devices.md
  intune/enrollment/tutorial-use-device-enrollment-program-enroll-ios.md
  intune/enrollment/windows-autopilot-hybrid.md
  intune/enrollment/windows-enroll.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc
