Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2019-01, with the labels that each got.

#1847 From private repo
  intune/app-based-conditional-access-intune-create.md
  intune/app-based-conditional-access-intune.md
  intune/app-protection-policies-monitor.md
  intune/app-protection-policies-validate.md
  intune/app-protection-policies.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/app-protection-policy-settings-log.md
  intune/app-protection-policy.md
  intune/better-mobile-mtd-connector-integration.md
  intune/better-mobile-threat-defense-connector.md
  intune/checkpoint-sandblast-mobile-mobile-threat-defense-connector.md
  intune/checkpoint-sandblast-mobile-mtd-connector-integration.md
  intune/company-portal-app.md
  intune/conditional-access-assign-jamf.md
  intune/conditional-access-exchange-create.md
  intune/conditional-access-exchange-monitor.md
  intune/conditional-access-integrate-jamf.md
  intune/conditional-access-intune-common-ways-use.md
  intune/conditional-access-intune-reassign.md
  intune/conditional-access.md
  intune/data-transfer-between-apps-manage-ios.md
  intune/exchange-connector-install.md
  intune/exchange-service-connector-configure.md
  intune/get-support.md
  intune/lookout-mobile-threat-defense-connector.md
  intune/lookout-mtd-connector-integration.md
  intune/manage-os-versions.md
  intune/mobile-threat-defense.md
  intune/mtd-apps-ios-app-configuration-policy-add-assign.md
  intune/mtd-connector-enable.md
  intune/mtd-device-compliance-policy-create.md
  intune/network-access-control-integrate.md
  intune/pradeo-mobile-threat-defense-connector.md
  intune/pradeo-mtd-connector-integration.md
  intune/quickstart-email-profile.md
  intune/skycure-mobile-threat-defense-connector.md
  intune/skycure-mtd-connector-integration.md
  intune/troubleshoot-conditional-access.md
  intune/troubleshoot-exchange-connector.md
  intune/windows-hello.md
  intune/windows-information-protection-configure.md
  intune/windows-information-protection-policy-create.md
  intune/zimperium-mobile-threat-defense-connector.md
  intune/zimperium-mtd-connector-integration.md
Labels: do-not-merge

#1848 From private repo
  intune/mtd-apps-ios-app-configuration-policy-add-assign.md
  intune/mtd-device-compliance-policy-create.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1849 From private repo
  intune-user-help/send-logs-to-your-it-admin-cp-windows.md
  intune/app-configuration-policies-overview.md
  intune/app-protection-policy.md
  intune/mdm-authority-set.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1853 From private repo
  intune/O365-app-data-protection-set.md
  intune/apps-add.md
  intune/free-trial-sign-up.md
  intune/reports-proc-create-with-odata.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1858 Update enrollment-autopilot.md
  intune/enrollment-autopilot.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1861 From private repo
  intune/android-kiosk-enroll.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1860 Update windows-autopilot-hybrid.md
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1843 Adding reference to fresh start
  intune/devices-wipe.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1863 From private repo
  intune/conditional-access-intune-common-ways-use.md
  intune/early-edition-nda.md
  intune/enrollment-restrictions-set.md
  intune/remove-certificates.md
  intune/zimperium-mtd-connector-integration.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1865 Update enrollment-autopilot.md
  intune/enrollment-autopilot.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1866 From private repo
  intune/manage-user-device-linking-for-windows-pcs-with-microsoft-intune.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1850 Update lob-apps-android.md
  intune/lob-apps-android.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1826 Move cross-platform-applicable instructions
  intune/app-sdk-xamarin.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1873 Updating Insider build to Win 10 1809
  intune/enrollment-autopilot.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1875 From private repo
  intune-user-help/TOC.md
  intune-user-help/help-support-windows-cpapp.md
  intune-user-help/install-apps-cpapp-windows.md
  intune-user-help/media/1812_UCP_Help_Support_FAQ.png
  intune-user-help/media/1812_UCP_Help_Support_Get_Help.png
  intune-user-help/media/1812_UCP_Help_Support_Get_Help_Logs.png
  intune-user-help/media/1812_UCP_Help_Support_Report.png
  intune-user-help/media/1812_UCP_Help_Support_helpdesk.png
  intune-user-help/media/1812_UCP_Help_Support_page.png
  intune-user-help/media/1812_UCP_Help_Support_sections.png
  intune-user-help/send-logs-to-your-it-admin-cp-windows.md
  intune-user-help/send-logs-to-your-it-admin-settings-windows.md
  intune-user-help/use-managed-apps-on-your-device-android.md
  intune-user-help/use-managed-apps-on-your-device-ios.md
  intune-user-help/use-managed-devices-to-get-work-done.md
  intune/O365-app-data-protection-set.md
  intune/administrative-templates-windows.md
  intune/app-protection-policies-monitor.md
  intune/app-sdk-get-started.md
  intune/apps-prepare-mobile-application-management.md
  intune/apps-selective-wipe.md
  intune/certficates-pfx-configure.md
  intune/certificates-s-mime-encryption-sign.md
  intune/device-enrollment-program-enroll-ios.md
  intune/device-features-configure.md
  intune/device-profile-create.md
  intune/device-profile-troubleshoot.md
  intune/device-profiles.md
  intune/device-restrictions-android-for-work.md
  intune/device-restrictions-ios.md
  intune/device-restrictions-windows-10.md
  intune/early-edition-nda.md
  intune/email-settings-ios.md
  intune/endpoint-protection-windows-10.md
  intune/get-support.md
  intune/help-desk-operators.md
  intune/kiosk-settings.md
  intune/media/administrative-templates-windows/path-filter-shows-excel-options.png
  intune/media/administrative-templates-windows/sample-settings-list-next-page.png
  intune/media/administrative-templates-windows/search-copy-settings.png
  intune/media/get-support/intune-blades.png
  intune/reports-proc-create-with-odata.md
  intune/reports-proc-data-rest.md
  intune/scope-tags.md
  intune/shared-device-settings-ios.md
  intune/shared-user-device-settings-windows-holographic.md
  intune/shared-user-device-settings-windows.md
  intune/shared-user-device-settings.md
  intune/store-apps-company-portal-app.md
  intune/tenant-status.md
  intune/toc.yml
  intune/vpn-settings-windows-10.md
  intune/whats-new.md
  intune/windows-holographic-for-business.md
  intune/windows-update-for-business-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune; seodec18/svc

#1876 From private repo
  intune/apps-add-android-for-work.md
  intune/exchange-connector-install.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1882 Update whats-new.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1881 Update device-restrictions-ios.md
  intune/device-restrictions-ios.md
Labels: Change sent to author, microsoft-intune; seodec18/svc, ready-to-merge

#1883 From private repo
  intune/conditional-access-integrate-jamf.md
  intune/quickstart-create-group.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1884 From private repo
  intune/app-protection-policies-configure-windows-10.md
  intune/app-protection-policies-exception.md
  intune/app-protection-policies-monitor.md
  intune/app-protection-policies-validate.md
  intune/app-protection-policies.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/app-protection-policy-settings-log.md
  intune/app-protection-policy.md
  intune/data-transfer-between-apps-manage-ios.md
  intune/intune-data-warehouse-collections.md
  intune/migration-guide-app-protection-policies.md
  intune/reports-changelog.md
  intune/reports-ref-devices.md
  intune/vpn-setting-configure-per-app.md
  intune/windows-information-protection-policy-create.md
  intune/windows-update-for-business-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1889 From private repo
  intune/app-sdk-xamarin.md
  intune/app-wrapper-prepare-android.md
  intune/email-settings-android.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1890 From private repo
  intune/conditional-access-integrate-jamf.md
  intune/data-jamf-sends-to-intune.md
  intune/privacy-data-secure-share.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1897 From private repo
  intune/early-edition-nda.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1888 Add more information about Intune Connector
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1892 revise SCCM link
  intune/setup-steps.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1900 Update devices-wipe.md
  intune/devices-wipe.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1901 From private repo
  intune/android-dedicated-devices-fully-managed-enroll.md
  intune/android-enroll.md
  intune/android-fully-managed-enroll.md
  intune/android-kiosk-enroll.md
  intune/app-configuration-policies-use-android.md
  intune/connect-intune-android-enterprise.md
  intune/device-restrictions-android-for-work.md
  intune/early-edition-nda.md
  intune/toc.yml
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1909 From private repo
  intune/data-outside-protect.md
  intune/device-passcode-reset.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1910 From private repo
  intune/android-dedicated-devices-fully-managed-enroll.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1911 From private repo
  intune/windows-store-for-business.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1896 GPO is considered a corporate enrollment
  intune/enrollment-restrictions-set.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1898 Update windows-bulk-enroll.md
  intune/windows-bulk-enroll.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1913 From private repo
  intune/android-enterprise-overview.md
  intune/device-compliance-get-started.md
  intune/vpn-settings-android.md
  intune/windows-bulk-enroll.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1920 From private repo
  intune/reports-proc-get-a-link-powerbi.md
  intune/toc.yml
  intune/troubleshoot-mam.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1921 From private repo
  intune/device-enrollment-program-enroll-macos.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1924 Update to reflect version for Android restart
  intune/device-restart.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1928 Intune license is required for AD connector account
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1933 Update windows-enrollment-status.md
  intune/windows-enrollment-status.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1929 Windows Server 2019 supported as a ODJ connector
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1757 Update with addtional endpoint information
  intune/windows-enroll.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1935 From private repo
  intune/app-configuration-policies-outlook.md
  intune/apps-add-android-for-work.md
  intune/apps-add.md
  intune/apps-selective-wipe.md
  intune/apps-win32-app-management.md
  intune/compliance-policy-create-windows.md
  intune/device-enrollment-program-enroll-macos.md
  intune/device-restrictions-android-for-work.md
  intune/early-edition-nda.md
  intune/endpoint-protection-windows-10.md
  intune/ios-device-features-settings.md
  intune/media/app-configuration-policies-outlook-01.png
  intune/media/diagnostics-settings-example.png
  intune/media/diagnostics-settings-turn-on.png
  intune/media/security-baselines-monitor/device-configuration-profile-list.png
  intune/media/security-baselines-monitor/existing-profile-overview.png
  intune/media/security-baselines-monitor/manage-settings.png
  intune/media/security-baselines-monitor/monitor-status-options.png
  intune/media/security-baselines-monitor/overview.png
  intune/media/security-baselines-monitor/profile-with-error-status.png
  intune/media/security-baselines/assignments.png
  intune/media/security-baselines/available-baselines.png
  intune/media/security-baselines/expand-windows-defender.png
  intune/media/security-baselines/sample-list-of-settings.png
  intune/review-logs-using-azure-monitor.md
  intune/security-baselines-monitor.md
  intune/security-baselines.md
  intune/toc.yml
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1936 From private repo
  intune/android-dedicated-devices-fully-managed-enroll.md
  intune/android-fully-managed-enroll.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1938 replaced description for Get-StartApps as before for Win32 app & AMI…
  intune/kiosk-settings-windows.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1944 Update documentation wording
  intune/end-user-company-portal-messages.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1942 remove of duplicate entry
  intune/whats-new.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1945 From private repo
  intune-user-help/unenroll-your-device-from-intune-android.md
  intune/advanced-threat-protection.md
  intune/android-kiosk-enroll.md
  intune/apps-deploy.md
  intune/apps-win32-app-management.md
  intune/certficates-pfx-configure.md
  intune/identity-protection-configure.md
  intune/index.yml
  intune/macos-enroll.md
  intune/software-updates-ios.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1838 Hidden Network Feature description
  intune/wi-fi-settings-ios.md
Labels: Change sent to author, in-progress, microsoft-intune/svc, ready-to-merge

#1867 Remove legacy limitations
  intune/intune-management-extension.md
Labels: Change sent to author, in-progress, microsoft-intune/svc, ready-to-merge

#1914 Update the list of eSIM capable devices
  intune/esim-device-configuration.md
Labels: Change sent to author, in-progress, microsoft-intune/svc, ready-to-merge

#1947 From private repo
  intune/certficates-pfx-configure.md
  intune/device-fresh-start.md
  intune/email-settings-windows-10.md
  intune/ios-device-features-settings.md
  intune/media/account-status-intune-license-show-green.png
  intune/media/help-and-support-troubleshoot.png
  intune/troubleshoot-policies-in-microsoft-intune.md
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1949 From private repo
  intune/includes/win10-automatic-enrollment-aad.md
  intune/ios-device-features-settings.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1951 From private repo
  .openpublishing.redirection.json
  intune/get-started-apps.md
  intune/toc.yml
  intune/tutorial-use-device-enrollment-program-enroll-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1952 From private repo
  intune/media/tutorial-walkthrough-intune-portal/tutorial-walkthrough-intune-portal-01.png
  intune/media/tutorial-walkthrough-intune-portal/tutorial-walkthrough-intune-portal-02.png
  intune/media/tutorial-walkthrough-intune-portal/tutorial-walkthrough-intune-portal-03.png
  intune/media/tutorial-walkthrough-intune-portal/tutorial-walkthrough-intune-portal-04.png
  intune/media/tutorial-walkthrough-intune-portal/tutorial-walkthrough-intune-portal-05.png
  intune/media/tutorial-walkthrough-intune-portal/tutorial-walkthrough-intune-portal-06.png
  intune/media/tutorial-walkthrough-intune-portal/tutorial-walkthrough-intune-portal-07.png
  intune/media/tutorial-walkthrough-intune-portal/tutorial-walkthrough-intune-portal-08.png
  intune/media/tutorial-walkthrough-intune-portal/tutorial-walkthrough-intune-portal-09.png
  intune/media/tutorial-walkthrough-intune-portal/tutorial-walkthrough-intune-portal-10.png
  intune/media/tutorial-walkthrough-intune-portal/tutorial-walkthrough-intune-portal-11.png
  intune/media/tutorial-walkthrough-intune-portal/tutorial-walkthrough-intune-portal-12.png
  intune/toc.yml
  intune/tutorial-walkthrough-intune-portal.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc
