Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2019-07, with the labels that each got.

#2608 fix: MD039/no-space-in-links
  intune/android-samsung-knox-mobile-enroll.md
  intune/app-based-conditional-access-intune.md
  intune/app-configuration-policies-overview.md
  intune/apps-prepare-mobile-application-management.md
  intune/compliance-policy-create-windows.md
  intune/enrollment-method-capab.md
  intune/migration-guide-prepare.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2610 typo: Double word "this"
  intune/delivery-optimization-settings.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2611 typo: Double word "prevents"
  intune/device-restrictions-windows-10.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2613 typo: Double word "If"
  intune/security-baseline-settings-mdm.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2606 fix: MD037/no-space-in-emphasis
  intune/enrollment-autopilot.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2607 fix: MD038/no-space-in-code
  intune/apps-win32-app-management.md
  intune/enrollment-autopilot.md
  intune/reports-proc-data-rest.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2609 typo: Double word "the"
  intune/apps-add-android-for-work.md
  intune/security-baseline-settings-mdm.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2605 chore: Cleanup Micosoft links
  intune-classic/includes/whats-new-last-six-months.md
  intune/app-sdk-get-started.md
  intune/certificates-scep-configure.md
  intune/custom-domain-name-configure.md
  intune/devices-wipe.md
  intune/enrollment-autopilot.md
  intune/includes/gdpr-hybrid-note.md
  intune/mam-faq.md
  intune/migration-guide-communication-plan.md
  intune/network-bandwidth-use.md
  intune/users-add.md
  intune/whats-new-archive-classic.md
  intune/whats-new-archive.md
  intune/windows-autopilot-hybrid.md
  intune/windows-enrollment-methods.md
  intune/windows-enrollment-status.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, review-team-triage

#2620 From private repo
  intune/in-development.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2523 Update manage-microsoft-edge.md
  intune/manage-microsoft-edge.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2621 Update manage-microsoft-edge.md
  intune/manage-microsoft-edge.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2622 From private repo
  intune/custom-settings-android-for-work.md
  intune/find-primary-user.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2623 fix: MD019/no-multiple-space-atx
  intune/app-configuration-managed-browser.md
  intune/app-protection-policies.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/data-transfer-between-apps-manage-ios.md
  intune/end-user-mam-apps-android.md
  intune/end-user-mam-apps-ios.md
  intune/intune-data-warehouse-collections.md
  intune/migration-guide-configure-policies.md
  intune/reports-nav-intune-data-warehouse.md
  intune/whats-new-archive.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2624 chore: Remove space after yaml close
  intune-user-help/enroll-company-device-macos.md
  intune-user-help/unenroll-your-device-from-intune-android.md
  intune/better-mobile-threat-defense-connector.md
  intune/data-leak-prevention.md
  intune/data-outside-protect.md
  intune/exchange-online-protect.md
  intune/pradeo-mobile-threat-defense-connector.md
  intune/sophos-mtd-connector-integration.md
  intune/wandera-mtd-connector-integration.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2625 fix: MD023/heading-start-left/header-start-left
  intune-user-help/send-logs-to-your-it-admin-by-email-android.md
  intune-user-help/use-managed-apps-on-your-device-android.md
  intune/app-protection-policy-settings-android.md
  intune/apple-mdm-push-certificate-get.md
  intune/tutorial-protect-email-on-enrolled-devices.md
  intune/tutorial-protect-email-on-unmanaged-devices.md
  intune/whats-new.md
  intune/windows-update-for-business-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2632 From private repo
  intune/app-protection-policies-monitor.md
  intune/enrollment-autopilot.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2636 From private repo
  intune/apps-add-android-for-work.md
  intune/certificates-digicert-configure.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2644 From private repo
  intune/certificate-authority-add-scep-overview.md
  intune/enrollment-autopilot.md
  intune/windows-update-for-business-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2643 fix: Add back ordered list number
  intune-user-help/you-are-prompted-to-install-sandblast-android.md
  intune/reports-proc-data-rest.md
  intune/skycure-mtd-connector-integration.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2648 fix: MD027/no-multiple-space-blockquote
  intune/app-sdk-android.md
  intune/wi-fi-settings-import-windows-8-1.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2654 From private repo
  intune/app-protection-policies-access-actions.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/app-sdk-ios.md
  intune/app-sdk-xamarin.md
  intune/data-transfer-between-apps-manage-ios.md
  intune/index.yml
  intune/manage-microsoft-edge.md
  intune/troubleshoot-app-install.md
Labels: do-not-merge

#2653 chore: Replace non-space character
  intune-classic/includes/whats-new-last-six-months.md
  intune/app-configuration-policies-managed-app.md
  intune/app-configuration-policies-use-android.md
  intune/app-wrapper-prepare-android.md
  intune/checkpoint-sandblast-mobile-mobile-threat-defense-connector.md
  intune/custom-domain-name-configure.md
  intune/device-restrictions-android.md
  intune/device-sync.md
  intune/devices-wipe.md
  intune/education-settings-configure-ios-shared.md
  intune/exchange-connector-install.md
  intune/help-desk-operators.md
  intune/help-protect-windows-pcs-using-windows-firewall-policies-in-microsoft-intune.md
  intune/install-the-windows-pc-client-with-microsoft-intune.md
  intune/manage-windows-pcs-with-microsoft-intune.md
  intune/network-access-control-integrate.md
  intune/planning-guide-deployment-goals.md
  intune/planning-guide-design.md
  intune/skycure-mtd-connector-integration.md
  intune/users-add.md
  intune/whats-new-app-ui.md
  intune/whats-new-archive-classic.md
  intune/whats-new-archive.md
  intune/windows-autopilot-hybrid.md
  intune/windows-enroll.md
  intune/zimperium-mobile-threat-defense-connector.md
  intune/zimperium-mtd-connector-integration.md
Labels: do-not-merge, review-team-triage

#2486 Update app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-android.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge, review-team-triage, tracking (C&L)

#2652 Added third party CA partner solution SCEPman
  intune/certificate-authority-add-scep-overview.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, review-team-triage, tracking (C&L)

#2490 Update app-configuration-policies-overview.md
  intune/app-configuration-policies-overview.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge, review-team-triage

#2512 Homepage setting clarification
  intune/app-configuration-managed-browser.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge, review-team-triage

#2519 Requirement needed for AppProxyRedirection
  intune/app-configuration-managed-browser.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge, review-team-triage

#2529 Update app-configuration-managed-home-screen-app.md
  intune/app-configuration-managed-home-screen-app.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge, review-team-triage

#2550 Update app-configuration-managed-home-screen-app.md
  intune/app-configuration-managed-home-screen-app.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge, review-team-triage

#2619 Update app-configuration-managed-home-screen-app.md
  intune/app-configuration-managed-home-screen-app.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge, review-team-triage, tracking (C&L)

#2631 Correction to image width requirements
  intune/company-portal-app.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge, review-team-triage, tracking (C&L)

#2633 Update app-configuration-managed-browser.md
  intune/app-configuration-managed-browser.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge, review-team-triage, tracking (C&L)

#2665 Update manage-microsoft-edge.md
  intune/manage-microsoft-edge.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge, review-team-triage

#2471 Required Framework Packages - incorret number specified
  intune/store-apps-company-portal-app.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, review-team-triage

#2651 fix: MD014/commands-show-output
  intune/app-wrapper-prepare-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, review-team-triage, tracking (C&L)

#2666 From private repo
  intune/app-configuration-policies-overview.md
  intune/app-protection-policies.md
  intune/app-protection-policy-delivery.md
  intune/app-sdk-xamarin.md
  intune/apps-add-office365-macOS.md
  intune/apps-add-office365.md
  intune/apps-deploy.md
  intune/apps-selective-wipe.md
  intune/apps-supported-intune-apps.md
  intune/apps-windows-10-app-deploy.md
  intune/data-transfer-between-apps-manage-ios.md
  intune/device-rename.md
  intune/enrollment-autopilot.md
  intune/media/apps-supported-intune-apps/icon-m-microsoft-cortana.png
  intune/migration-guide-app-protection-policies.md
  intune/reports-api-url.md
  intune/reports-proc-create-with-odata.md
  intune/reports-ref-intunemanagementextension.md
  intune/store-apps-android.md
  intune/troubleshoot-app-install.md
  intune/troubleshoot-mam.md
  intune/vpp-apps-ios.md
  intune/whats-new-archive.md
  intune/whats-new.md
  intune/windows-autopilot-hybrid.md
Labels: do-not-merge

#2667 Update terms-and-conditions-create.md
  intune/terms-and-conditions-create.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2649 fix: MD031/blanks-around-fences
  intune/android-dedicated-devices-fully-managed-enroll.md
  intune/app-configuration-managed-home-screen-app.md
  intune/app-configuration-policies-use-ios.md
  intune/app-sdk-android.md
  intune/app-sdk-ios.md
  intune/app-sdk-xamarin.md
  intune/app-wrapper-prepare-android.md
  intune/app-wrapper-prepare-ios.md
  intune/apps-win32-app-management.md
  intune/autopilot-hybrid-connector-proxy.md
  intune/conditional-access-exchange-create.md
  intune/install-the-windows-pc-client-with-microsoft-intune.md
  intune/reports-proc-data-rest.md
  intune/vpn-settings-windows-8-1.md
  intune/vpn-settings-windows-phone-8-1.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, tracking (C&L)

#2645 fix: MD005/list-indent
  intune-user-help/enroll-device-android-microsoft-intune-app.md
  intune/app-protection-policies-exception.md
  intune/app-sideload-windows.md
  intune/device-fresh-start.md
  intune/enrollment-restrictions-set.md
  intune/identity-protection-windows-settings.md
  intune/security-baseline-settings-mdm-archive.md
  intune/security-baseline-settings-mdm.md
  intune/troubleshoot-exchange-connector.md
  intune/whats-new.md
  intune/windows-enrollment-status.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, tracking (C&L)

#2669 From private repo
  intune/security-baselines.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2671 From private repo
  intune/app-protection-policy-settings-log.md
  intune/app-sdk-android-testing-guide.md
  intune/app-wrapper-prepare-android.md
  intune/apps-deploy-gcc-dod.md
  intune/data-transfer-between-apps-manage-ios.md
  intune/device-restrictions-windows-holographic.md
  intune/free-trial-sign-up.md
  intune/reports-ref-application.md
  intune/reports-ref-policy.md
  intune/security-baselines.md
  intune/vpn-settings-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2680 Update whats-new.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2674 fix: MD010/no-hard-tabs
  intune/store-apps-android.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2672 Update android-fully-managed-enroll.md
  intune/android-fully-managed-enroll.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2681 From private repo
  intune/device-enrollment.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2675 fix: MD019/no-multiple-space-atx
  intune/app-configuration-managed-browser.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2676 fix: MD031/blanks-around-fences
  intune/app-sdk-xamarin.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2682 From private repo
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/includes/intune-notices.md
  intune/windows-hello.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2686 From private repo
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2683 Update product branding from WDATP to MDATP
  intune/advanced-threat-protection.md
Labels: Change sent to author, assessing (C&L), assigned-to-author, microsoft-intune/svc, ready-to-merge

#2690 From private repo
  intune/administrative-templates-windows.md
  intune/in-development.md
  intune/media/administrative-templates-windows/administrative-templates-choose-windows-office-all-products.png
  intune/media/administrative-templates-windows/administrative-templates-sample-settings-list.png
  intune/media/administrative-templates-windows/sample-settings-list-next-page.png
  intune/media/administrative-templates-windows/search-copy-settings.png
  intune/whats-new.md
Labels: do-not-merge

#2692 From private repo
  intune/advanced-threat-protection.md
  intune/atp-manage-vulnerabilities.md
  intune/compliance-policy-create-windows.md
  intune/media/advanced-threat-protection/atp-device-compliance-open-microsoft-defender.png
  intune/media/advanced-threat-protection/atp-security-center-intune-toggle.png
  intune/media/atp-device-compliance-open-windows-defender.png
  intune/security-baselines.md
Labels: do-not-merge

#2673 Update android-fully-managed-enroll.md
  intune/android-fully-managed-enroll.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2670 Update windows-enroll.md
  intune/windows-enroll.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2695 From private repo
  intune/device-restrictions-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2701 From private repo
  intune/device-restrictions-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2702 From private repo
  intune-user-help/check-compliance-on-your-device-android.md
  intune/app-configuration-policies-use-ios.md
  intune/education-settings-windows.md
  intune/toc.yml
Labels: do-not-merge

#2706 Update manage-microsoft-edge.md
  intune/manage-microsoft-edge.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2710 Fix broken image, bullet points, and note
  intune/app-sdk-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2712 From private repo
  intune/app-configuration-managed-home-screen-app.md
  intune/intune-us-government-endpoints.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2714 From private repo
  intune/reports-api-url.md
  intune/reports-changelog.md
  intune/reports-ref-application.md
  intune/reports-ref-date.md
  intune/reports-ref-devices.md
  intune/reports-ref-intunemanagementextension.md
  intune/reports-ref-mobile-app-management.md
  intune/reports-ref-policy.md
  intune/reports-ref-user-device.md
  intune/reports-ref-user.md
  intune/whats-new.md
Labels: do-not-merge

#2717 From private repo
  .openpublishing.redirection.json
  intune-user-help/TOC.md
  intune-user-help/create-a-work-profile-and-enroll-your-device-in-intune-android.md
  intune-user-help/enroll-device-android-work-profile.md
  intune-user-help/media/android-wp-02-1908.png
  intune-user-help/media/android-wp-03-1908.png
  intune-user-help/media/android-wp-04-1908.png
  intune-user-help/media/android-wp-05-1908.png
  intune-user-help/media/android-wp-05a-1908.png
  intune-user-help/media/android-wp-05b-1908.png
  intune-user-help/media/android-wp-06-1908.png
  intune-user-help/media/android-wp-07-1908.png
  intune-user-help/media/android-wp-08-1908.png
  intune-user-help/media/android-wp-09-1908.png
  intune/app-protection-policy-settings-android.md
  intune/company-portal-app.md
  intune/lob-apps-ios.md
  intune/whats-new.md
Labels: do-not-merge

#2721 From private repo
  intune/apps-supported-intune-apps.md
  intune/encrypt-devices.md
  intune/encryption-monitor.md
  intune/endpoint-protection-macos.md
  intune/in-development.md
  intune/media/encrypt-devices/bitlocker-settings.png
  intune/media/encrypt-devices/filevault-settings.png
  intune/media/encryption-monitor/export.png
  intune/toc.yml
  intune/whats-new.md
Labels: do-not-merge

#2723 From private repo
  intune/android-dedicated-devices-fully-managed-enroll.md
  intune/android-deployment-scenarios-app-protection-work-profiles.md
  intune/app-based-conditional-access-intune-create.md
  intune/app-protection-policies.md
  intune/app-protection-policy.md
  intune/app-sideload-windows.md
  intune/app-wrapper-prepare-android.md
  intune/apps-selective-wipe.md
  intune/apps-supported-intune-apps.md
  intune/certificates-scep-configure.md
  intune/data-transfer-between-apps-manage-ios.md
  intune/device-compliance-get-started.md
  intune/device-restrictions-ios.md
  intune/device-restrictions-windows-holographic.md
  intune/end-user-apps-android.md
  intune/end-user-apps-ios.md
  intune/end-user-apps-windows.md
  intune/end-user-company-portal-messages.md
  intune/endpoint-protection-windows-10.md
  intune/esim-device-configuration.md
  intune/graph-apis-used-by-intune-device-configuration-windows.md
  intune/help-protect-windows-pcs-using-windows-firewall-policies-in-microsoft-intune.md
  intune/help-secure-windows-pcs-with-endpoint-protection-for-microsoft-intune.md
  intune/install-the-windows-pc-client-with-microsoft-intune.md
  intune/introduction-intune-education.md
  intune/intune-endpoints.md
  intune/intune-management-extension.md
  intune/keep-windows-pcs-up-to-date-with-software-updates-in-microsoft-intune.md
  intune/manage-user-device-linking-for-windows-pcs-with-microsoft-intune.md
  intune/media/apps-supported-intune-apps/icon-p-celltrust-sl2.png
  intune/media/apps-supported-intune-apps/icon-p-lexmark-mobile-print.png
  intune/media/apps-supported-intune-apps/icon-p-zoom.png
  intune/pc-management-comparison.md
  intune/remove-certificates.md
  intune/reports-proc-create-with-odata.md
  intune/request-and-provide-remote-assistance-for-windows-pcs-in-microsoft-intune.md
  intune/resolve-gpo-and-microsoft-intune-policy-conflicts.md
  intune/retire-a-windows-pc-with-microsoft-intune.md
  intune/review-logs-using-azure-monitor.md
  intune/security-baseline-settings-defender-atp.md
  intune/security-baselines.md
  intune/troubleshoot-device-enrollment-in-intune.md
  intune/troubleshoot-endpoint-protection-in-microsoft-intune.md
  intune/troubleshoot-exchange-connector.md
  intune/use-policies-to-simplify-windows-pc-management.md
  intune/view-hardware-and-software-inventory-for-windows-pcs-in-microsoft-intune.md
  intune/vpn-setting-configure-per-app.md
  intune/vpn-settings-windows-10.md
  intune/vpp-apps-ios.md
  intune/whats-new-app-ui.md
  intune/whats-new-archive-classic.md
  intune/windows-holographic-for-business.md
  template.md
Labels: do-not-merge

#2716 Update app-configuration-policies-outlook.md
  intune/app-configuration-policies-outlook.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2711 Update iOS app wrapper command options, add type to plist arg table
  intune/app-wrapper-prepare-ios.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2689 Update app-protection-policy-settings-ios.md
  intune/app-protection-policy-settings-ios.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2697 Update device-restrictions-ios.md
  intune/device-restrictions-ios.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2699 Add note about "Pending" status
  intune/android-oem-configuration-overview.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2663 Update what-is-device-management.md
  intune/what-is-device-management.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2709 Update android-kiosk-enroll.md
  intune/android-kiosk-enroll.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2727 From private repo
  intune/android-enroll.md
  intune/android-oem-configuration-overview.md
  intune/android-work-profile-enroll.md
  intune/app-configuration-managed-home-screen-app.md
  intune/app-discovered-apps.md
  intune/app-management.md
  intune/apps-monitor.md
  intune/corporate-identifiers-add.md
  intune/custom-notifications.md
  intune/custom-settings-ios.md
  intune/custom-settings-macos.md
  intune/device-enrollment-program-enroll-ios.md
  intune/device-enrollment.md
  intune/device-inventory.md
  intune/device-locate.md
  intune/device-profile-assign.md
  intune/device-profile-create.md
  intune/devices-wipe.md
  intune/encrypt-devices.md
  intune/encryption-monitor.md
  intune/endpoint-protection-configure.md
  intune/endpoint-protection-macos.md
  intune/endpoint-protection-windows-10.md
  intune/enrollment-autopilot.md
  intune/enrollment-restrictions-set.md
  intune/intune-management-extension.md
  intune/ios-device-features-settings.md
  intune/media/custom-notifications/custom-notifications.png
  intune/media/custom-notifications/notification-sent.png
  intune/media/device-enrollment-program-enroll-ios/authenticatewithcompanyportal.png
  intune/media/device-enrollment-program-enroll-ios/image04.png
  intune/media/device-enrollment-program-enroll-ios/image05.png
  intune/media/device-enrollment-program-enroll-ios/install-cp-with-vpp.png
  intune/media/device-enrollment-program-enroll-ios/setupassistantcustom.png
  intune/media/device-enrollment-program-enroll-ios/single-app-mode.png
  intune/media/device-enrollment-program-enroll-ios/supervisedmode.png
  intune/media/enrollment-restrictions-set/choose-device-limit.png
  intune/media/enrollment-restrictions-set/choose-platform-settings.png
  intune/media/enrollment-restrictions-set/create-device-limit-restriction.png
  intune/media/enrollment-restrictions-set/create-device-type-restriction.png
  intune/media/enrollment-restrictions-set/desktop.ini
  intune/media/enrollment-restrictions-set/select-groups-device-limit.png
  intune/media/enrollment-restrictions-set/select-groups.png
  intune/media/mgmt-extension-add-script.png
  intune/media/mgmt-extension-assignments.png
  intune/remove-certificates.md
  intune/toc.yml
  intune/troubleshoot-device-enrollment-in-intune.md
  intune/vpn-settings-configure.md
  intune/what-is-device-management.md
  intune/whats-new-archive.md
  intune/whats-new.md
  intune/windows-hello.md
Labels: do-not-merge

#2729 From private repo
  intune/android-enroll.md
  intune/conditional-access-intune-common-ways-use.md
  intune/intune-endpoints.md
  intune/troubleshoot-conditional-access.md
  intune/what-is-device-management.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2728 added limit of 25 DEM accounts
  intune/device-enrollment-manager-enroll.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2705 Fix note
  intune/includes/win10-automatic-enrollment-aad.md
Labels: assessing (C&L), do-not-merge, review-team-triage

#2730 From private repo
  intune/advanced-threat-protection.md
  intune/create-compliance-policy.md
  intune/device-profiles.md
  intune/device-restrictions-ios.md
  intune/exchange-connector-install.md
  intune/graph-apis-used-by-intune-device-configuration-windows.md
  intune/in-development.md
  intune/manage-os-versions.md
  intune/mtd-connector-enable.md
  intune/security-baseline-settings-defender-atp.md
  intune/what-is-device-management.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2732 From private repo
  intune-user-help/enroll-device-android-work-profile.md
  intune/certificates-scep-configure.md
  intune/encrypt-devices.md
  intune/encryption-monitor.md
  intune/endpoint-protection-macos.md
  intune/exchange-connector-install.md
  intune/media/encrypt-devices/filevault-settings.png
  intune/whats-new.md
Labels: do-not-merge

#2735 From private repo
  intune/app-configuration-managed-home-screen-app.md
  intune/app-protection-policies-exception.md
  intune/app-sdk-android.md
  intune/data-warehouse-account-move.md
  intune/endpoint-protection-configure.md
  intune/endpoint-protection-windows-10.md
  intune/intune-endpoints.md
  intune/lob-apps-macos.md
  intune/quickstart-add-assign-app.md
  intune/quickstart-create-assign-app-policy.md
  intune/quickstart-create-group.md
  intune/quickstart-send-notification.md
  intune/reports-ref-user-timeline.md
  intune/store-apps-company-portal-app.md
  intune/toc.yml
  intune/tutorial-walkthrough-intune-portal.md
Labels: do-not-merge

#2736 Corrected reference to old terminology (Microsoft Passport)
  intune/windows-hello.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2740 From private repo
  intune/compliance-policy-create-android-for-work.md
  intune/compliance-policy-create-android.md
  intune/device-restrictions-windows-phone-8-1.md
  intune/security-baseline-settings-defender-atp.md
  intune/security-baseline-settings-mdm.md
  intune/toc.yml
  intune/troubleshoot-exchange-connector.md
  intune/troubleshoot-ios-enrollment-errors.md
Labels: do-not-merge

#2744 From private repo
  intune/troubleshoot-app-install.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2746 From private repo
  intune/advanced-threat-protection.md
  intune/app-sideload-windows.md
  intune/custom-settings-ios.md
  intune/whats-new-archive.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2748 From private repo
  intune/app-discovered-apps.md
  intune/apps-windows-10-app-deploy.md
  intune/device-inventory.md
  intune/includes/intune-notices.md
  intune/planning-guide-onboarding.md
  intune/store-apps-company-portal-app.md
  intune/whats-new.md
Labels: do-not-merge

#2751 Update enrollment-restrictions-set.md
  intune/enrollment-restrictions-set.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2753 From private repo
  intune-user-help/install-and-sign-in-to-the-intune-company-portal-app-ios.md
  intune-user-help/media/cp-ios-redesign-after-1904.png
  intune-user-help/your-device-is-missing-an-IT-required-certificate-android.md
  intune/app-sdk-ios.md
  intune/device-enrollment-program-enroll-ios.md
  intune/enrollment-autopilot.md
  intune/includes/mdm-supported-devices.md
  intune/lob-apps-windows.md
  intune/supported-devices-browsers.md
  intune/whats-new.md
Labels: do-not-merge

#2757 Corrected 'TMP' to 'TPM'
  intune/encryption-monitor.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2741 Update android-work-profile-enroll.md
  intune/android-work-profile-enroll.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2758 From private repo
  intune/certificates-digicert-configure.md
  intune/custom-notifications.md
  intune/exchange-connector-install.md
  intune/get-support.md
  intune/mtd-apps-ios-app-configuration-policy-add-assign.md
  intune/network-access-control-integrate.md
  intune/toc.yml
  intune/troubleshoot-windows-enrollment-errors.md
Labels: do-not-merge

#2759 From private repo
  intune/advanced-threat-protection.md
  intune/android-enroll-device-administrator.md
  intune/android-enroll.md
  intune/certificates-digicert-configure.md
  intune/conditional-access.md
  intune/custom-notifications.md
  intune/data-jamf-sends-to-intune.md
  intune/delivery-optimization-settings.md
  intune/encryption-monitor.md
  intune/in-development.md
  intune/includes/intune-notices.md
  intune/pradeo-mobile-threat-defense-connector.md
  intune/pradeo-mtd-connector-integration.md
  intune/privacy-personal-data.md
  intune/quickstart-enroll-windows-device.md
  intune/security-baseline-settings-mdm.md
  intune/security-baselines.md
  intune/tenant-status.md
  intune/toc.yml
  intune/windows-hello.md
  intune/windows-update-compliance-reports.md
Labels: do-not-merge

#2761 From private repo
  intune/app-sdk-xamarin.md
  intune/apps-windows-10-app-deploy.md
  intune/conditional-access-assign-jamf.md
  intune/custom-notifications.md
  intune/data-jamf-sends-to-intune.md
  intune/enrollment-restrictions-set.md
  intune/media/security-baselines/available-baselines.png
  intune/security-baseline-settings-mdm-archive.md
  intune/security-baseline-settings-mdm.md
  intune/security-baselines.md
  intune/whats-new.md
  intune/windows-information-protection-configure.md
Labels: do-not-merge

#2634 Remove notes about app config prerequisite
  intune/manage-microsoft-edge.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2470 Update store-apps-company-portal-app.md
  intune/store-apps-company-portal-app.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2762 From private repo
  intune/app-protection-policy-settings-android.md
  intune/enrollment-autopilot.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc
