Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2019-12, with the labels that each got.

#3267 Replaced text to clarify OOBE & AutoPilot limitations
  intune/protect/windows-update-for-business-configure.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#3270 Update device-restrictions-windows-10.md
  intune/configuration/device-restrictions-windows-10.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#3272 From private repo
  intune/configuration/kiosk-settings-windows.md
  intune/configuration/preference-file-settings-macos.md
  intune/enrollment/apple-configurator-enroll-ios.md
  intune/enrollment/apple-school-manager-set-up-ios.md
  intune/enrollment/device-enrollment-program-enroll-ios.md
  intune/enrollment/ios-user-enrollment.md
  intune/enrollment/media/apple-configurator-enroll-ios/apple-config-create-profile.png
  intune/enrollment/media/ios-user-enrollment/create-profile.png
  intune/protect/compliance-policy-create-windows.md
Labels: do-not-merge

#3276 From private repo
  intune/configuration/custom-settings-ios.md
  intune/configuration/device-profiles.md
Labels: Change sent to author, configuration/subsvc, do-not-merge, microsoft-intune/svc

#3280 Update windows-enrollment-status.md
  intune/enrollment/windows-enrollment-status.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#3284 From private repo
  intune-user-help/use-managed-apps-on-your-device-android.md
  intune/apps/app-protection-policy-settings-android.md
  intune/apps/app-protection-policy-settings-ios.md
  intune/apps/web-app.md
  intune/configuration/vpn-setting-configure-per-app.md
  intune/configuration/vpn-settings-ios.md
Labels: Change sent to author, configuration/subsvc, do-not-merge, microsoft-intune/svc

#3285 From private repo
  intune/apps/apps-add.md
  intune/developer/reports-proc-create-with-odata.md
  intune/fundamentals/education-settings-configure-ios-shared.md
  intune/fundamentals/education-settings-configure-ios.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3286 update links for enrollment methods
  intune/enrollment/windows-enrollment-methods.md
Labels: Change sent to author, enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#3281 Update device-management.md
  intune/remote-actions/device-management.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge, remote-actions/subsvc

#3248 Conditional Access with DEM update
  intune/enrollment/enrollment-method-capab.md
Labels: Change sent to author, assessing_(C&L), enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#3288 From private repo
  intune/fundamentals/intune-us-government-endpoints.md
  intune/includes/intune-notices.md
  intune/remote-actions/device-inventory.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#3290 From private repo
  intune/configuration/device-profile-create.md
  intune/configuration/device-profile-troubleshoot.md
  intune/configuration/device-restrictions-android-for-work.md
  intune/enrollment/device-enrollment-program-enroll-macos.md
  intune/enrollment/media/device-enrollment-program-enroll-macos/image01.png
  intune/enrollment/troubleshoot-device-enrollment-in-intune.md
  intune/enrollment/troubleshoot-ios-enrollment-errors.md
  intune/enrollment/troubleshoot-windows-enrollment-errors.md
  intune/fundamentals/whats-new.md
  intune/remote-actions/devices-wipe.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#3296 From private repo
  .openpublishing.redirection.json
  intune/configuration/device-profile-assign.md
  intune/configuration/device-profile-create.md
  intune/configuration/device-restrictions-windows-10.md
  intune/configuration/shared-user-device-settings-windows.md
  intune/fundamentals/whats-new.md
  intune/protect/create-compliance-policy.md
  intune/protect/device-compliance-get-started.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3299 From private repo
  intune/configuration/ios-device-features-settings.md
  intune/configuration/macos-device-features-settings.md
  intune/fundamentals/licenses.md
  intune/protect/security-baseline-settings-defender-atp.md
  intune/protect/security-baseline-settings-mdm-all.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3301 From private repo
  intune/apps/app-discovered-apps.md
  intune/apps/app-protection-policy.md
  intune/developer/app-sdk-get-started.md
  intune/developer/app-sdk-xamarin.md
  intune/developer/data-warehouse-app-only-auth.md
  intune/developer/intune-data-warehouse-collections.md
  intune/developer/reports-changelog.md
  intune/developer/reports-nav-create-intune-reports.md
  intune/developer/reports-nav-intune-data-warehouse.md
  intune/developer/reports-proc-data-rest.md
  intune/developer/reports-ref-data-model.md
  intune/developer/reports-ref-user-device.md
  intune/fundamentals/guided-scenarios-overview.md
  intune/protect/security-baseline-settings-mdm-all.md
Labels: do-not-merge

#3302 From private repo
  intune/fundamentals/index.yml
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-01.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-02.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-03.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-04.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-05.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-06.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-07.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-08.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-09.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-10.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-11.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-12.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-13.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-14.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-15.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-16.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-17.png
  intune/fundamentals/media/tutorial-walkthrough-endpoint-manager/tutorial-walkthrough-mem-18.png
  intune/fundamentals/toc.yml
  intune/fundamentals/tutorial-walkthrough-endpoint-manager.md
  intune/remote-actions/custom-notifications.md
  intune/remote-actions/device-erase.md
  intune/remote-actions/device-restart.md
  intune/remote-actions/device-windows-pin-reset.md
  intune/remote-actions/devices-wipe.md
  intune/remote-actions/teamviewer-support.md
  intune/remote-actions/troubleshoot-device-actions.md
Labels: do-not-merge

#3304 From private repo
  intune/apps/apps-supported-intune-apps.md
  intune/apps/media/apps-supported-intune-apps/icon-p-tact-icon.png
  intune/configuration/device-restrictions-android-for-work.md
  intune/configuration/vpn-settings-android-enterprise.md
  intune/protect/compliance-policy-create-windows.md
  intune/protect/conditional-access-integrate-jamf.md
  intune/remote-actions/media/device-erase/choosedevice.png
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3305 From private repo
  intune/apps/app-configuration-policies-outlook-smime.md
  intune/apps/app-protection-policy-settings-android.md
  intune/apps/app-protection-policy-settings-ios.md
  intune/enrollment/apple-mdm-push-certificate-get.md
  intune/enrollment/corporate-identifiers-add.md
  intune/enrollment/device-enrollment-manager-enroll.md
  intune/enrollment/device-group-mapping.md
  intune/enrollment/enrollment-restrictions-set.md
  intune/enrollment/multi-factor-authentication.md
  intune/enrollment/terms-and-conditions-create.md
  intune/fundamentals/whats-new.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3309 From private repo
  intune/apps/app-protection-policy-settings-android.md
  intune/configuration/device-features-configure.md
  intune/configuration/device-restrictions-ios.md
  intune/configuration/ios-device-features-settings.md
  intune/configuration/macos-device-features-settings.md
  intune/configuration/toc.yml
  intune/configuration/wired-network-settings-macos.md
  intune/enrollment/troubleshoot-windows-enrollment-errors.md
  intune/fundamentals/monitor-audit-logs.md
  intune/protect/compliance-policy-monitor.md
  intune/remote-actions/devices-wipe.md
Labels: do-not-merge

#3311 From private repo
  intune/apps/app-configuration-policies-outlook-smime.md
  intune/enrollment/windows-enroll.md
  intune/fundamentals/intune-us-government-endpoints.md
  intune/fundamentals/whats-new.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3315 From private repo
  intune/fundamentals/in-development.md
  intune/fundamentals/licenses-assign.md
  intune/fundamentals/mdm-authority-set.md
  intune/fundamentals/users-add.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3317 From private repo
  intune/apps/media/apps-supported-intune-apps/icon-p-tact-icon.png
  intune/fundamentals/assign-role.md
  intune/fundamentals/create-custom-role.md
  intune/fundamentals/in-development.md
  intune/includes/intune-notices.md
Labels: do-not-merge

#3320 From private repo
  intune/configuration/administrative-templates-update-office.md
  intune/enrollment/windows-enroll.md
  intune/fundamentals/intune-us-government-endpoints.md
  intune/fundamentals/media/scope-tags/assign-scope-to-role.png
  intune/fundamentals/media/scope-tags/choose-profile.png
  intune/fundamentals/media/scope-tags/create-scope-tag.png
  intune/fundamentals/scope-tags.md
  intune/protect/network-access-control-integrate.md
  intune/protect/windows-update-for-business-configure.md
Labels: do-not-merge

#3324 From private repo
  intune/apps/app-protection-policy-settings-android.md
  intune/apps/app-protection-policy-settings-ios.md
  intune/configuration/device-restrictions-android-for-work.md
  intune/configuration/device-restrictions-ios.md
  intune/configuration/wired-network-settings-macos.md
  intune/fundamentals/licenses-assign.md
  intune/fundamentals/media/licenses-assign/mem-assign-license.png
  intune/fundamentals/whats-new.md
  intune/index.yml
  intune/protect/certficates-pfx-configure.md
Labels: do-not-merge

#3325 Updating the SendSuccessNotification Method
  intune/protect/scep-libraries-apis.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#3326 From private repo
  intune/fundamentals/in-development.md
  intune/fundamentals/whats-new.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3329 From private repo
  .openpublishing.redirection.json
  intune-user-help/enroll-your-device-in-intune-macos-cp.md
  intune-user-help/media/confirm-device-management-macos-1912.png
  intune-user-help/media/install-management-profile-macos-1912.png
  intune-user-help/media/management-profile-approve-macos-1912.png
  intune/apps/app-discovered-apps.md
  intune/apps/app-protection-policies-monitor.md
  intune/apps/apps-supported-intune-apps.md
  intune/apps/media/apps-supported-intune-apps/icon-p-breezy.png
  intune/apps/media/apps-supported-intune-apps/icon-p-meetio.png
  intune/apps/media/apps-supported-intune-apps/icon-p-qlik.png
  intune/enrollment/macos-enroll.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#3330 Update macos-device-features-settings.md
  intune/configuration/macos-device-features-settings.md
Labels: Change sent to author, configuration/subsvc, do-not-merge, microsoft-intune/svc

#3333 Updated Entrust URL
  intune/protect/certificate-authority-add-scep-overview.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3334 From private repo
  .openpublishing.redirection.json
  intune/apps/app-configuration-policies-outlook-smime.md
  intune/apps/toc.yml
  intune/fundamentals/whats-new.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3327 Add note on min Android SDK version for keyboards
  intune/apps/app-protection-policy-settings-android.md
Labels: Change sent to author, apps/subsvc, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3316 Added details for additional app config settings
  intune/apps/manage-microsoft-edge.md
Labels: Change sent to author, apps/subsvc, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3336 From private repo
  .openpublishing.redirection.json
  intune/apps/manage-microsoft-edge.md
  intune/configuration/device-restrictions-windows-10.md
  intune/configuration/email-settings-windows-phone-8-1.md
  intune/configuration/toc.yml
  intune/configuration/wired-network-settings-macos.md
  intune/enrollment/enrollment-autopilot.md
  intune/fundamentals/in-development.md
  intune/fundamentals/whats-new.md
Labels: do-not-merge

#3339 From private repo
  intune-user-help/enroll-your-device-in-intune-ios.md
  intune-user-help/media/download-ms-authenticator-1909.png
  intune-user-help/media/enroll-in-organization-ios-1909.png
  intune-user-help/media/ios-12-cp-enroll-1904.png
  intune-user-help/media/ios-1904-password-install.png
  intune-user-help/media/ios-1904-settings-badge.png
  intune-user-help/media/ios-device-type-1909.png
  intune-user-help/media/ios-enrollment-checklist-1909.png
  intune-user-help/media/ios-enrollment-type-1909.png
  intune-user-help/media/ios-install-mgmt-1909.png
  intune-user-help/media/user-enrollment-information-1909.png
  intune/apps/app-configuration-policies-use-android.md
  intune/apps/app-configuration-policies-use-ios.md
  intune/apps/apps-configure-chrome-android.md
  intune/apps/apps-win32-s-mode.md
  intune/apps/tutorial-configure-slack-enterprise-grid.md
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#3345 From private repo
  intune/configuration/device-restrictions-windows-8-1.md
  intune/fundamentals/groups-add.md
  intune/fundamentals/whats-new.md
  intune/protect/compliance-policy-create-android-for-work.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3346 From private repo
  intune/includes/intune-notices.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3347 From private repo
  intune/developer/app-sdk-get-started.md
  intune/enrollment/enrollment-autopilot.md
  intune/enrollment/ios-user-enrollment-supported-actions.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#3349 From private repo
  intune/fundamentals/whats-new.md
  intune/includes/mdm-supported-devices.md
Labels: do-not-merge, review-team-triage

#3353 From private repo
  intune/protect/mtd-add-apps-unenrolled-devices.md
  intune/protect/mtd-app-protection-policy.md
  intune/protect/mtd-enable-unenrolled-devices.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3344 Configuration Manager rebranding
  .openpublishing.redirection.json
  intune/apps/app-configuration-policies-use-ios.md
  intune/apps/apps-win32-app-management.md
  intune/apps/intune-management-extension.md
  intune/configuration/administrative-templates-update-office.md
  intune/configuration/device-restrictions-windows-10.md
  intune/configuration/troubleshoot-wi-fi-profiles.md
  intune/developer/intune-data-warehouse-collections.md
  intune/developer/reports-nav-create-intune-reports.md
  intune/developer/reports-ref-devices.md
  intune/enrollment/android-enroll-device-administrator.md
  intune/enrollment/device-enrollment.md
  intune/enrollment/enrollment-method-capab.md
  intune/enrollment/enrollment-restrictions-set.md
  intune/enrollment/troubleshoot-device-enrollment-in-intune.md
  intune/enrollment/troubleshoot-ios-enrollment-errors.md
  intune/enrollment/troubleshoot-windows-enrollment-errors.md
  intune/enrollment/windows-enrollment-methods.md
  intune/fundamentals/licenses.md
  intune/fundamentals/mdm-authority-set.md
  intune/fundamentals/microsoft-intune-service-description.md
  intune/fundamentals/planning-guide-design.md
  intune/fundamentals/scope-tags.md
  intune/fundamentals/setup-steps.md
  intune/fundamentals/what-is-intune.md
  intune/fundamentals/whats-new-archive.md
  intune/fundamentals/whats-new.md
  intune/protect/advanced-threat-protection.md
  intune/protect/certificates-profile-scep.md
  intune/protect/compliance-policy-create-windows.md
  intune/protect/conditional-access-intune-common-ways-use.md
  intune/protect/privacy-data-secure-share.md
  intune/protect/security-baselines.md
  intune/protect/troubleshoot-exchange-connector.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, protect/subsvc, ready-to-merge

#3348 Update security-baselines-monitor.md
  intune/protect/security-baselines-monitor.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#3350 update code example
  intune/developer/app-sdk-ios.md
Labels: Change sent to author, developer/subsvc, do-not-merge, microsoft-intune/svc

#3357 From private repo
  intune-user-help/sign-in-to-the-company-portal.md
  intune/protect/sophos-mtd-connector.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc
