Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2019-02, with the labels that each got.

#1955 From private repo
  intune/graph-apis-used-by-intune-device-configuration-windows.md
  intune/toc.yml
  intune/tutorial-walkthrough-intune-portal.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1954 Update software-updates-ios.md
  intune/software-updates-ios.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1957 From private repo
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1960 Update whats-new-app-ui.md
  intune/whats-new-app-ui.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1887 Make the requirements for the App Config more clear
  intune/data-transfer-between-apps-manage-ios.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1967 Update compliance-policy-create-windows.md
  intune/compliance-policy-create-windows.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1975 correct Powershell script max size
  intune/intune-management-extension.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1974 Update windows-update-for-business-configure.md
  intune/windows-update-for-business-configure.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1979 Update exchange-service-connector-configure.md
  intune/exchange-service-connector-configure.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1981 Update app-protection-policies.md
  intune/app-protection-policies.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1988 From private repo
  intune/app-based-conditional-access-intune.md
  intune/app-configuration-managed-browser.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/apps-supported-intune-apps.md
  intune/mobile-threat-defense.md
  intune/planning-guide-communication-plan.md
  intune/troubleshoot-mam.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1992 From private repo
  .openpublishing.redirection.json
  intune/apps-monitor.md
  intune/known-issues.md
  intune/migration-guide-setup.md
  intune/windows-hello.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1996 From private repo
  intune/android-fully-managed-enroll.md
  intune/early-edition-nda.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1995 Update app-protection-policy-settings-ios.md
  intune/app-protection-policy-settings-ios.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1998 Submitting doc changes and feature documentation
  intune/apps-add-android-for-work.md
  intune/apps-deploy.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1999 From private repo
  intune/android-deployment-scenarios-app-protection-work-profiles.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2001 From private repo
  intune/app-protection-policy-settings-android.md
  intune/early-edition-nda.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1879 Removed PC client reference, add Win32 app feature
  intune/intune-management-extension.md
Labels: Change sent to author, do-not-merge, in-progress, microsoft-intune/svc

#2002 From private repo
  intune/apps-prepare-mobile-application-management.md
  intune/toc.yml
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#1977 Update role-based-access-control.md
  intune/role-based-access-control.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#1868 Update win10-automatic-enrollment-aad.md
  intune/includes/win10-automatic-enrollment-aad.md
Labels: Change sent to author, do-not-merge

#2005 From private repo
  intune/app-protection-policy-settings-ios.md
  intune/conditional-access-exchange-monitor.md
  intune/create-conditional-access-intune.md
  intune/device-restrictions-windows-10.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2006 From private repo
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/app-sdk-get-started.md
  intune/apps-prepare-mobile-application-management.md
  intune/windows-update-settings.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2012 From private repo
  intune/endpoint-protection-windows-10.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2013 From private repo
  intune-user-help/you-need-to-enable-code-integrity.md
  intune/android-kiosk-enroll.md
  intune/connect-intune-android-enterprise.md
  intune/device-sync.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2015 Update devices-wipe.md
  intune/devices-wipe.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2016 From private repo
  intune/android-dedicated-devices-fully-managed-enroll.md
  intune/app-protection-policy-settings-android.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2018 From private repo
  intune/android-enroll.md
  intune/android-fully-managed-enroll.md
  intune/android-work-profile-enroll.md
  intune/apps-win32-app-management.md
  intune/device-restrictions-ios.md
  intune/devices-wipe.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2021 Update administrative-templates-windows.md
  intune/administrative-templates-windows.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2019 Updating types of enrollment that won't trigger device limit restrict…
  intune/enrollment-restrictions-set.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2024 From private repo
  intune/android-enterprise-overview.md
  intune/app-protection-policies-configure-windows-10.md
  intune/app-protection-policies-monitor.md
  intune/app-protection-policies.md
  intune/app-protection-policy-settings-ios.md
  intune/app-protection-policy-settings-log.md
  intune/reports-proc-data-rest.md
  intune/troubleshoot-mam.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2029 From private repo
  .openpublishing.redirection.json
  intune-user-help/TOC.md
  intune-user-help/power-saving-mode-android.md
  intune/tenant-status.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2031 From private repo
  intune/reports-changelog.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2036 From private repo
  .openpublishing.redirection.json
  intune-user-help/install-apps-cpapp-windows.md
  intune/advanced-threat-protection.md
  intune/app-based-conditional-access-intune-create.md
  intune/app-configuration-managed-browser.md
  intune/app-modern-authentication-block.md
  intune/app-protection-policy-delivery.md
  intune/app-protection-policy-settings-log.md
  intune/app-sdk-get-started.md
  intune/apps-supported-intune-apps.md
  intune/apps-win32-app-management.md
  intune/certificates-scep-configure.md
  intune/conditional-access-exchange-create.md
  intune/conditional-access-intune-common-ways-use.md
  intune/create-conditional-access-intune.md
  intune/device-enrollment-program-enroll-ios.md
  intune/device-profiles.md
  intune/device-rename.md
  intune/device-restrictions-android-for-work.md
  intune/device-restrictions-android.md
  intune/device-restrictions-ios.md
  intune/device-restrictions-macos.md
  intune/device-restrictions-windows-10.md
  intune/early-edition-nda.md
  intune/enrollment-report-company-portal-abandon.md
  intune/exchange-connector-install.md
  intune/exchange-service-connector-configure.md
  intune/intune-management-extension.md
  intune/kiosk-settings-holographic.md
  intune/kiosk-settings-windows.md
  intune/kiosk-settings.md
  intune/media/1902_CP_app_categories.png
  intune/media/device-enrollment-program-enroll-ios-newui/add-enrollment-program-token-pane.png
  intune/media/exchange_service_connector.png
  intune/media/managed-browser-conditional-access-01.png
  intune/media/managed-browser-conditional-access-02.png
  intune/media/mgmt-extension-add-script.png
  intune/media/troubleshoot-app-install-04.png
  intune/media/troubleshoot-app-install-05.png
  intune/migration-guide-app-protection-policies.md
  intune/multi-factor-authentication.md
  intune/scope-tags.md
  intune/software-updates-ios.md
  intune/toc.yml
  intune/troubleshoot-app-install.md
  intune/whats-new-app-ui.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2035 Update app-configuration-managed-browser.md
  intune/app-configuration-managed-browser.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2037 From private repo
  intune/app-configuration-policies-use-android.md
  intune/app-protection-policies-monitor.md
  intune/app-sdk-android.md
  intune/app-sdk-get-started.md
  intune/app-sdk.md
  intune/media/app-protection-user-status-summary.png
  intune/toc.yml
  intune/whats-new-archive.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2038 Update software-updates-ios.md
  intune/software-updates-ios.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2039 From private repo
  intune/index.yml
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2041 From private repo
  intune/get-started-evaluation.md
  intune/toc.yml
  intune/tutorial-protect-email-on-enrolled-devices.md
  intune/what-is-intune.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2051 From private repo
  .openpublishing.redirection.json
  intune/actions-for-noncompliance.md
  intune/certificates-scep-configure.md
  intune/delivery-optimization-settings.md
  intune/delivery-optimization-windows.md
  intune/device-compliance-monitor.md
  intune/reports-api-url.md
  intune/toc.yml
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2052 From private repo
  intune/administrative-templates-windows.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2054 changed heading and description
  intune/device-rename.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2004 Update intune-management-extension.md
  intune/intune-management-extension.md
Labels: Change sent to author, in-progress, microsoft-intune/svc, ready-to-merge

#2057 From private repo
  intune/app-configuration-policies-managed-app.md
  intune/apps-add-office365-macOS.md
  intune/apps-windows-10-app-deploy.md
  intune/endpoint-protection-windows-10.md
  intune/lob-apps-windows.md
  intune/reports-ref-intunemanagementextension.md
  intune/toc.yml
  intune/windows-information-protection-policy-create.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc
