Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2019-09, with the labels that each got.

#2887 Update administrative-templates-windows.md
  intune/administrative-templates-windows.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#2894 From private repo
  intune/app-configuration-managed-browser.md
  intune/app-discovered-apps.md
  intune/certificates-configure.md
  intune/certificates-profile-scep.md
  intune/index.yml
  intune/media/certificates-configure/green-check.png
Labels: do-not-merge

#2895 From private repo
  intune/app-configuration-managed-browser.md
  intune/device-enrollment.md
  intune/quickstart-create-user.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2900 From private repo
  intune/device-restrictions-windows-10.md
  intune/end-user-mam-apps-ios.md
  intune/endpoint-protection-windows-10.md
  intune/troubleshoot-endpoint-protection-in-microsoft-intune.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2903 From private repo
  intune-user-help/TOC.md
  intune-user-help/get-recovery-key-cpweb.md
  intune-user-help/media/1907-recovery-cpweb-intune.png
  intune-user-help/media/1907-recovery2-cpweb-intune.png
  intune/administrative-templates-windows.md
  intune/certficates-pfx-configure.md
  intune/device-passcode-reset.md
  intune/intune-endpoints.md
Labels: do-not-merge, review-team-triage

#2905 From private repo
  intune/terms-and-conditions-create.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2909 From private repo
  intune-user-help/TOC.md
  intune-user-help/password-does-not-meet-it-administrator-requirements.md
  intune/advanced-threat-protection.md
  intune/enrollment-autopilot.md
  intune/media/terms-basics-page.png
  intune/privacy-data-store-process.md
  intune/software-updates-ios.md
  intune/tenant-status.md
  intune/terms-and-conditions-create.md
  intune/whats-new.md
Labels: do-not-merge

#2910 From private repo
  intune-user-help/password-does-not-meet-it-administrator-requirements.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2920 From private repo
  intune/device-sync.md
  intune/security-baseline-settings-mdm.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2877 Update device-restrictions-ios.md
  intune/device-restrictions-ios.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#2921 From private repo
  .openpublishing.publish.config.json
  intune/app-protection-policies-monitor.md
  intune/app-sdk-get-started.md
  intune/apps-prepare-mobile-application-management.md
  intune/apps-win32-app-management.md
  intune/device-restrictions-ios.md
  intune/enrollment-autopilot.md
  intune/mam-faq.md
  intune/security-baseline-settings-mdm-all.md
  intune/security-baseline-settings-mdm-archive.md
  intune/security-baselines.md
  intune/toc.yml
  intune/troubleshoot-app-install.md
  intune/tutorial-configure-slack-enterprise-grid.md
  intune/whats-new.md
  intune/zone-pivot-groups.yml
Labels: do-not-merge

#2914 Update role needed for connector
  intune/exchange-connector-install.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#2923 From private repo
  intune-user-help/you-are-prompted-to-install-zips-android.md
  intune/security-baseline-settings-mdm-archive.md
  intune/security-baseline-settings-mdm.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2924 From private repo
  intune/custom-notifications.md
  intune/education-settings-windows.md
  intune/toc.yml
Labels: do-not-merge

#2893 Update intune-management-extension.md
  intune/intune-management-extension.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#2927 From private repo
  intune/device-enrollment-manager-enroll.md
  intune/encryption-monitor.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2929 From private repo
  intune/bundle-ids-built-in-ios-apps.md
  intune/connect-intune-android-enterprise.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2934 Added info about disconnection from Jamf Pro
  intune/conditional-access-integrate-jamf.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2944 From private repo
  intune-user-help/TOC.md
  intune-user-help/use-managed-devices-to-get-work-done.md
  intune/certficates-pfx-configure.md
  intune/certificates-configure.md
  intune/certificates-imported-pfx-configure.md
  intune/company-portal-app.md
  intune/data-apple-sends-to-intune.md
  intune/end-user-company-portal-messages.md
  intune/index.yml
  intune/intune-endpoints.md
  intune/media/certificates-imported-pfx-configure/download-imported-pfxconnector.png
  intune/media/certificates-imported-pfx-configure/github-download.png
  intune/media/certificates-imported-pfx-configure/vs-build-release.png
  intune/privacy-data-collect.md
  intune/security-baseline-settings-mdm-all.md
  intune/toc.yml
  intune/use-docs.md
  intune/whats-new.md
  intune/windows-autopilot-hybrid.md
Labels: do-not-merge, review-team-triage

#2890 Remove note about enrollment status information being for debugging only
  intune/app-sdk-ios.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#2947 From private repo
  intune/android-oem-configuration-overview.md
  intune/app-configuration-policies-overview.md
  intune/app-configuration-policies-use-android.md
  intune/app-configuration-policies-use-ios.md
  intune/app-protection-policies-access-actions.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/media/intune-app-android-device-notify.png
  intune/media/intune-app-android-device-profile.png
  intune/tutorial-configure-slack-enterprise-grid.md
  intune/vpp-apps-ios.md
  intune/web-app.md
  intune/whats-new-app-ui.md
  intune/whats-new.md
  intune/windows-autopilot-hybrid.md
Labels: do-not-merge

#2951 Fix URL
  intune/certificates-scep-configure.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2954 From private repo
  intune/intune-management-extension.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2955 From private repo
  intune/administrative-templates-windows.md
  intune/android-dedicated-devices-fully-managed-enroll.md
  intune/android-enroll-device-administrator.md
  intune/android-enroll.md
  intune/android-enterprise-overview.md
  intune/android-fully-managed-enroll.md
  intune/android-kiosk-enroll.md
  intune/android-samsung-knox-mobile-enroll.md
  intune/android-work-profile-enroll.md
  intune/apple-configurator-enroll-ios.md
  intune/apple-mdm-push-certificate-get.md
  intune/apple-school-manager-set-up-ios.md
  intune/assign-role.md
  intune/connect-intune-android-enterprise.md
  intune/corporate-identifiers-add.md
  intune/create-custom-role.md
  intune/device-activation-lock-bypass.md
  intune/device-enrollment-manager-enroll.md
  intune/device-enrollment-program-enroll-ios.md
  intune/device-enrollment-program-enroll-macos.md
  intune/device-erase.md
  intune/device-fresh-start.md
  intune/device-locate.md
  intune/device-logout-user.md
  intune/device-lost-mode.md
  intune/device-passcode-reset.md
  intune/device-profile-assign.md
  intune/device-remote-lock.md
  intune/device-remove-user.md
  intune/device-rename.md
  intune/device-restart.md
  intune/device-supervised-mode.md
  intune/device-sync.md
  intune/enrollment-autopilot.md
  intune/enrollment-report-company-portal-abandon.md
  intune/find-primary-user.md
  intune/groups-add.md
  intune/groups-get-started.md
  intune/intune-endpoints.md
  intune/troubleshoot-policies-in-microsoft-intune.md
  intune/tutorial-use-autopilot-enroll-devices.md
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2959 From private repo
  intune/android-oem-configuration-overview.md
  intune/assign-role.md
  intune/create-custom-role.md
  intune/device-passcode-reset.md
  intune/esim-device-configuration.md
  intune/intune-us-government-endpoints.md
  intune/ios-enroll.md
  intune/licenses-assign.md
  intune/licenses.md
  intune/macos-enroll.md
  intune/network-bandwidth-use.md
  intune/privacy-data-audit-export-delete.md
  intune/quickstart-create-custom-role.md
  intune/quickstart-setup-auto-enrollment.md
  intune/role-based-access-control.md
  intune/scope-tags.md
  intune/troubleshoot-device-actions.md
  intune/windows-bulk-enroll.md
  intune/windows-enroll.md
  intune/windows-enrollment-methods.md
Labels: do-not-merge

#2960 From private repo
  intune-user-help/enroll-your-device-in-intune-ios.md
  intune-user-help/enroll-your-device-in-intune-macos-cp.md
  intune-user-help/media/intune-ios-cp-signin-1908.png
  intune-user-help/media/intune-ios-cp-signin-lightbox-1908.png
  intune-user-help/sign-in-to-the-company-portal.md
  intune-user-help/using-your-ios-device-with-intune.md
  intune-user-help/what-happens-if-you-install-the-Company-Portal-app-and-enroll-your-device-in-intune-ios.md
  intune/android-oem-configuration-overview.md
  intune/includes/intune-notices.md
  intune/windows-information-protection-configure.md
Labels: do-not-merge

#2963 From private repo
  intune/app-protection-policies-monitor.md
  intune/app-protection-policy-settings-ios.md
  intune/company-portal-app.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2953 Added item to the Before you start section
  intune/vpp-ebooks-ios.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#2962 Update data-transfer-between-apps-manage-ios.md
  intune/data-transfer-between-apps-manage-ios.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#2965 From private repo
  intune/app-protection-policy-settings-ios.md
  intune/app-sdk-ios.md
  intune/apps-win32-app-management.md
  intune/device-enrollment-program-enroll-ios.md
  intune/in-development.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2968 Fixed typo (aditional)
  intune/device-management.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2972 From private repo
  intune/in-development.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2974 From private repo
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2976 From private repo
  intune-user-help/enroll-company-device-macos.md
  intune-user-help/enroll-your-device-dep-ios.md
  intune-user-help/get-recovery-key-cpweb.md
  intune-user-help/unenroll-your-device-from-intune-android.md
  intune-user-help/you-need-to-enable-code-integrity.md
  intune-user-help/your-device-appears-encrypted-but-cp-says-otherwise-android.md
  intune/app-protection-policy-settings-log.md
  intune/device-restrictions-ios.md
  intune/end-user-educate.md
  intune/endpoint-protection-windows-10.md
  intune/includes/note-for-both-portals.md
  intune/whats-new.md
  intune/wi-fi-settings-windows.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2978 From private repo
  intune/conditional-access-intune-reassign.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2980 Update software-updates-ios.md
  intune/software-updates-ios.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2981 From private repo
  intune/app-sideload-windows.md
  intune/includes/intune-notices.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2984 Update atp-manage-vulnerabilities.md
  intune/atp-manage-vulnerabilities.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2985 From private repo
  intune-user-help/enroll-windows-10-device.md
  intune/includes/azure_portal.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2990 From private repo
  intune/device-restrictions-ios.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2991 From private repo
  intune/device-restrictions-ios.md
  intune/enrollment-autopilot.md
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3004 From private repo
  intune/app-discovered-apps.md
  intune/enrollment-autopilot.md
  intune/in-development.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3005 From private repo
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc
