Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2019-06, with the labels that each got.

#2491 From private repo
  intune/app-configuration-policies-use-android.md
  intune/app-configuration-policies-use-ios.md
  intune/apps-add-android-for-work.md
  intune/apps-add-office365.md
  intune/apps-add.md
  intune/apps-deploy.md
  intune/apps-inc-exl-assignments.md
  intune/apps-monitor.md
  intune/certficates-pfx-configure.md
  intune/data-warehouse-app-only-auth.md
  intune/device-remove-user.md
  intune/includes/intune-notices.md
  intune/telecom-expenses-monitor.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2493 From private repo
  intune/get-support.md
  intune/in-development.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2498 From private repo
  intune-user-help/check-compliance-on-your-device-android.md
  intune/app-sdk-get-started.md
  intune/app-sideload-windows.md
  intune/apps-deploy.md
  intune/apps-monitor.md
  intune/apps-prepare-mobile-application-management.md
  intune/mam-faq.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2453 Explain FRP
  intune/device-restrictions-android-for-work.md
Labels: Change sent to author, assigned-to-author, doc-enhancement, in-progress, microsoft-intune/svc, product-question, ready-to-merge, triaged

#2502 Updated 3rd party CA partners section
  intune/certificate-authority-add-scep-overview.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2504 From private repo
  intune/advanced-threat-protection.md
  intune/app-configuration-policies-use-android.md
  intune/app-configuration-policies-use-ios.md
  intune/apps-add.md
  intune/certificates-configure.md
  intune/device-inventory.md
  intune/device-locate.md
  intune/device-lost-mode.md
  intune/device-management.md
  intune/device-profile-monitor.md
  intune/device-restart.md
  intune/devices-wipe.md
  intune/lob-apps-windows.md
  intune/vpn-settings-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2509 From private repo
  intune/intune-endpoints.md
  intune/intune-us-government-endpoints.md
  intune/network-bandwidth-use.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2510 Updated typo
  intune/in-development.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2513 From private repo
  intune/certificates-scep-configure.md
  intune/includes/intune-notices.md
  intune/licenses.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2514 From private repo
  intune/certficates-pfx-configure.md
  intune/manage-microsoft-edge.md
  intune/media/manage-microsoft-edge/manage-microsoft-edge-01.png
  intune/media/manage-microsoft-edge/manage-microsoft-edge-02.png
  intune/media/manage-microsoft-edge/manage-microsoft-edge-03.png
  intune/security-baseline-settings-defender-atp.md
  intune/security-baseline-settings-windows.md
  intune/toc.yml
  intune/whats-new.md
  intune/windows-enrollment-status.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2515 Update windows-enrollment-methods.md
  intune/windows-enrollment-methods.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2522 From private repo
  README.md
  intune/actions-for-noncompliance.md
  intune/advanced-threat-protection.md
  intune/android-fully-managed-enroll.md
  intune/android-kiosk-enroll.md
  intune/app-management.md
  intune/app-protection-policies-access-actions.md
  intune/app-protection-policies-validate.md
  intune/apple-mdm-push-certificate-get.md
  intune/apps-win32-app-management.md
  intune/certificates-digicert-configure.md
  intune/corporate-identifiers-add.md
  intune/device-activation-lock-bypass.md
  intune/device-fresh-start.md
  intune/device-remote-lock.md
  intune/device-rename.md
  intune/device-sync.md
  intune/intune-endpoints.md
  intune/intune-graph-apis.md
  intune/intune-us-government-endpoints.md
  intune/lob-apps-android.md
  intune/lob-apps-ios.md
  intune/lob-apps-windows-phone.md
  intune/lob-apps-windows.md
  intune/migration-guide-communication-plan.md
  intune/mtd-connector-enable.md
  intune/reports-proc-get-a-link-powerbi.md
  intune/role-based-access-control.md
  intune/store-apps-android.md
  intune/store-apps-company-portal-app.md
  intune/store-apps-ios.md
  intune/store-apps-windows-phone-8-1.md
  intune/store-apps-windows.md
  intune/web-app.md
  intune/windows-update-for-business-configure.md
Labels: do-not-merge

#2525 From private repo
  intune-user-help/install-apps-cpapp-windows.md
  intune/in-development.md
  intune/media/tutorial-protect-email-on-unmanaged-devices/access-requirements-settings.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/data-protection-settings.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/eas-client-apps.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/eas-grant-access.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/enable-policy.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/modern-auth-policy-client-apps.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/modern-auth-policy-cloud-apps.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/modern-auth-policy-mfa.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/outlook-app-access-actions.png
  intune/media/tutorial-protect-email-on-unmanaged-devices/outlook-app-data-relocation.png
  intune/tutorial-protect-email-on-unmanaged-devices.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2530 From private repo
  .openpublishing.redirection.json
  intune-user-help/install-a-new-version-of-the-company-portal-app.md
  intune/device-management.md
  intune/pc-management-comparison.md
  intune/teamviewer-support.md
  intune/whats-new-archive.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2534 From private repo
  intune/device-rename.md
  intune/identity-protection-configure.md
  intune/in-development.md
  intune/intune-endpoints.md
  intune/manage-license-agreements-for-windows-pc-software-in-microsoft-intune.md
  intune/privacy-data-audit-export-delete.md
  intune/privacy-data-secure-share.md
  intune/toc.yml
  intune/troubleshoot-device-enrollment-in-intune.md
  intune/whats-new.md
  intune/zimperium-mtd-connector-integration.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2531 Add Samsung documentation link
  intune/android-oem-configuration-overview.md
Labels: Change sent to author, doc-enhancement, in-progress, microsoft-intune/svc, ready-to-merge

#2537 From private repo
  intune-user-help/install-and-sign-in-to-the-intune-company-portal-app-ios.md
  intune-user-help/install-the-company-portal-app-android.md
  intune-user-help/you-need-to-enable-code-integrity.md
  intune/apple-school-manager-set-up-ios.md
  intune/certificates-scep-configure.md
  intune/compliance-policy-monitor.md
  intune/delivery-optimization-settings.md
  intune/device-enrollment-program-enroll-ios.md
  intune/device-enrollment-program-enroll-macos.md
  intune/device-enrollment.md
  intune/device-restrictions-windows-10.md
  intune/enrollment-autopilot.md
  intune/enrollment-restrictions-set.md
  intune/media/i4e-set-licenses.png
  intune/media/office-assign-license.png
  intune/ui-changes.md
  intune/whats-new-archive.md
  intune/whats-new.md
Labels: do-not-merge

#2538 Change publish date
  intune/migration-guide-communication-plan.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2541 From private repo
  intune/app-based-conditional-access-intune-create.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2546 From private repo
  intune/certificates-scep-configure.md
  intune/devices-wipe.md
  intune/mtd-apps-ios-app-configuration-policy-add-assign.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2547 Fix spelling error
  intune/app-protection-policy-settings-log.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2551 From private repo
  intune/end-user-educate.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2552 From private repo
  intune/device-restrictions-ios.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2555 Fix title for Attack Surface Reduction
  intune/security-baseline-settings-defender-atp.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2558 From private repo
  intune/compliance-policy-create-android-for-work.md
  intune/kiosk-settings-holographic.md
  intune/toc.yml
  intune/troubleshoot-email-profiles-in-microsoft-intune.md
  intune/tutorial-configure-slack-enterprise-grid.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2559 From private repo
  intune/device-restrictions-ios.md
  intune/device-restrictions-windows-10.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2563 From private repo
  intune/certificates-digicert-configure.md
  intune/conditional-access-integrate-jamf.md
  intune/encryption-monitor.md
  intune/endpoint-protection-configure.md
  intune/intune-management-extension.md
  intune/security-baselines.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2565 Added note that dialers don't work properly in multi-app kiosk
  intune/device-restrictions-android-for-work.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2567 From private repo
  intune/certficates-pfx-configure.md
  intune/certificates-digicert-configure.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2568 From private repo
  intune/intune-management-extension.md
  intune/media/managing-mobile-apps.png
  intune/troubleshoot-policies-in-microsoft-intune.md
  intune/what-is-intune.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2571 From private repo
  intune/device-sync.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2572 From private repo
  intune/encryption-monitor.md
  intune/find-primary-user.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2575 From private repo
  intune/certificates-scep-configure.md
  intune/conditional-access-exchange-create.md
  intune/windows-update-for-business-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2580 From private repo
  intune/windows-enrollment-status.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2449 Ambiguous language surrounding Windows 10 version
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2489 Update enrollment-autopilot.md
  intune/enrollment-autopilot.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2582 updated log collection commandline to make it better standout
  intune/windows-enrollment-status.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2583 From private repo
  intune/custom-settings-windows-phone-8-1.md
  intune/device-passcode-reset.md
  intune/media/certificates-digicert-configure/certificates-digicert-pkcs-example.png
  intune/whats-new.md
  intune/wi-fi-profile-shared-key.md
  intune/windows-enrollment-methods.md
Labels: do-not-merge

#2587 From private repo
  intune-user-help/enroll-your-device-in-intune-ios.md
  intune-user-help/media/ios-01-cp-enroll-1904.png
  intune-user-help/media/ios-02-cp-enroll-1904.png
  intune-user-help/media/ios-03-cp-enroll-1904.png
  intune-user-help/media/ios-07-cp-enroll-1904.png
  intune-user-help/media/ios-10-cp-enroll-1904.png
  intune-user-help/media/ios-11-cp-enroll-1904.png
  intune-user-help/media/ios-12-cp-enroll-1904.png
  intune-user-help/media/ios-13-cp-enroll-1904.png
  intune-user-help/media/ios-14-cp-enroll-1904.png
  intune/custom-domain-name-configure.md
  intune/help-protect-windows-pcs-using-windows-firewall-policies-in-microsoft-intune.md
  intune/keep-windows-pcs-up-to-date-with-software-updates-in-microsoft-intune.md
Labels: do-not-merge

#2517 Update Xamarin documentation to reference new ADAL/MSAL iOSKeychainSecurityGroup properties
  intune/app-sdk-xamarin.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2518 Add information on the IntuneMAMSwift SDK
  intune/app-sdk-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2591 Pencil edit: public repo PR https://github.com/MicrosoftDocs/IntuneDocs/pull/2518
  intune/app-sdk-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2593 From private repo
  intune-user-help/install-apps-cpapp-windows.md
  intune-user-help/manage-apps-cpweb.md
  intune-user-help/media/installed-apps-cp-1906.png
  intune-user-help/you-need-to-enable-code-integrity.md
  intune/ios-device-features-settings.md
  intune/remove-certificates.md
Labels: do-not-merge

#2595 From private repo
  .openpublishing.redirection.json
  intune-user-help/manage-apps-cpweb.md
  intune/device-restrictions-ios.md
  intune/security-baseline-settings-mdm-archive.md
  intune/security-baseline-settings-mdm.md
  intune/security-baselines.md
  intune/toc.yml
  intune/windows-enrollment-methods.md
  intune/windows-enrollment-status.md
Labels: do-not-merge

#2600 From private repo
  intune/certificates-scep-configure.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2601 Some grammar and spelling fixes
  intune/windows-enrollment-status.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2602 From private repo
  intune/account-sign-up.md
  intune/in-development.md
  intune/toc.yml
  intune/whats-new-app-ui.md
  intune/whats-new.md
Labels: do-not-merge
