Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2019-08, with the labels that each got.

#2767 From private repo
  intune/includes/intune-notices.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2770 From private repo
  intune/enrollment-method-capab.md
  intune/get-support.md
  intune/ios-enroll.md
  intune/macos-enroll.md
  intune/media/get-support/confirm-your-service-selection.png
  intune/media/get-support/select-a-service.png
Labels: do-not-merge

#2647 fix: MD045/no-alt-text
  intune/help-desk-operators.md
  intune/intune-legacy-pc-client.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2668 Misalignment and missing field fix in last table.
  intune/planning-guide-rollout-plan.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2771 From private repo
  intune/delivery-optimization-settings.md
  intune/encrypt-devices.md
  intune/endpoint-protection-macos.md
  intune/includes/intune-notices.md
  intune/toc.yml
  intune/troubleshoot-device-actions.md
  intune/troubleshoot-windows-enrollment-errors.md
Labels: do-not-merge

#2694 Update windows-enroll.md
  intune/windows-enroll.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2777 From private repo
  intune-user-help/enroll-company-device-macos.md
  intune/android-samsung-knox-mobile-enroll.md
  intune/app-sdk-android.md
  intune/certificates-scep-configure.md
  intune/device-restrictions-macos.md
  intune/planning-guide-design.md
  intune/planning-guide-rollout-plan.md
  intune/store-apps-ios.md
  intune/teamviewer-support.md
  intune/vpp-apps-ios.md
  intune/whats-new-archive-classic.md
  intune/whats-new-archive.md
Labels: do-not-merge

#2782 From private repo
  intune/windows-enroll.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2780 Supervised devices
  intune/in-development.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2788 From private repo
  intune/corporate-identifiers-add.md
  intune/licenses.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2793 From private repo
  .openpublishing.redirection.json
  intune-user-help/TOC.md
  intune-user-help/your-device-is-missing-a-preinstalled-certificate-android.md
  intune-user-help/your-device-is-missing-a-required-certificate-landing-android.md
  intune-user-help/your-device-is-missing-an-IT-required-certificate-android.md
  intune/custom-domain-name-configure.md
  intune/devices-wipe.md
  intune/windows-enrollment-status.md
Labels: do-not-merge

#2743 Default compliance setting
  intune/device-compliance-get-started.md
Labels: Change sent to author, assessing (C&L), in-progress, microsoft-intune/svc, pm, ready-to-merge

#2797 From private repo
  intune-user-help/enroll-device-android-microsoft-intune-app.md
  intune-user-help/media/fully-managed-intune-app-04.png
  intune-user-help/media/fully-managed-intune-app-06.png
  intune-user-help/media/fully-managed-intune-app-07.png
  intune-user-help/media/fully-managed-intune-app-10.png
  intune-user-help/media/fully-managed-intune-app-11.png
  intune-user-help/media/fully-managed-intune-app-14.png
  intune-user-help/media/fully-managed-intune-app-15-2.png
  intune-user-help/media/fully-managed-intune-app-16.png
  intune-user-help/media/fully-managed-intune-app-17.png
  intune-user-help/media/fully-managed-intune-app-18.png
  intune-user-help/media/fully-managed-intune-app-19.png
  intune-user-help/media/google-zero-touch-intune-app-01.png
  intune-user-help/media/qr-code-intune-app-01.png
  intune-user-help/media/token-intune-app-01.png
  intune-user-help/media/token-intune-app-02.png
  intune-user-help/media/token-intune-app-03.png
  intune-user-help/media/token-intune-app-04.png
  intune/includes/gdpr-hybrid-note.md
Labels: do-not-merge

#2786 Update intune-endpoints.md
  intune/intune-endpoints.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2792 Removed language requirements for the connector
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, assessing (C&L), microsoft-intune/svc, ready-to-merge

#2799 From private repo
  intune/app-protection-policy-settings-ios.md
  intune/apps-add-android-for-work.md
  intune/migration-guide-communication-plan.md
  intune/planning-guide-resources.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2803 From private repo
  intune/role-based-access-control.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2804 From private repo
  intune/intune-endpoints.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2809 From private repo
  intune/end-user-educate.md
  intune/planning-guide-communication-plan.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2798 Update endpoint-protection-macos.md
  intune/endpoint-protection-macos.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#2811 From private repo
  intune/advanced-threat-protection.md
  intune/app-configuration-policies-use-android.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/app-sdk-android.md
  intune/app-wrapper-prepare-ios.md
  intune/apps-win32-app-management.md
  intune/encrypt-devices.md
  intune/media/certificates-digicert-configure/certificates-digicert-pkcs-example.png
  intune/mtd-connector-enable.md
  intune/network-access-control-integrate.md
  intune/windows-enrollment-status.md
  intune/windows-store-for-business.md
Labels: do-not-merge

#2819 From private repo
  intune/android-oem-configuration-overview.md
  intune/company-portal-app.md
  intune/migration-guide-communication-plan.md
  intune/security-baseline-settings-mdm-archive.md
  intune/security-baselines.md
  intune/whats-new.md
  intune/windows-enrollment-status.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2820 From private repo
  intune/android-samsung-knox-mobile-enroll.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/apps-supported-intune-apps.md
  intune/company-portal-app.md
  intune/device-enrollment-program-enroll-ios.md
  intune/device-inventory.md
  intune/enrollment-autopilot.md
  intune/includes/mdm-supported-devices.md
  intune/troubleshoot-windows-enrollment-errors.md
Labels: do-not-merge, review-team-triage

#2821 From private repo
  intune/device-restrictions-android-for-work.md
  intune/reports-proc-get-a-link-powerbi.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2823 From private repo
  intune-user-help/your-device-appears-encrypted-but-cp-says-otherwise-android.md
  intune/device-restrictions-ios.md
  intune/end-user-educate.md
  intune/migration-guide-communication-plan.md
  intune/planning-guide-communication-plan.md
  intune/wi-fi-settings-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2825 From private repo
  intune/kiosk-settings-windows.md
  intune/what-is-device-management.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2827 From private repo
  intune/compliance-policy-create-windows.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2830 From private repo
  intune/android-enterprise-overview.md
  intune/app-configuration-policies-use-android.md
  intune/apps-deploy.md
  intune/apps-windows-10-app-deploy.md
  intune/certficates-pfx-configure.md
  intune/certificates-configure.md
  intune/device-enrollment-program-enroll-ios.md
  intune/device-enrollment-program-enroll-macos.md
  intune/device-profile-create.md
  intune/device-restrictions-android-for-work.md
  intune/device-restrictions-ios.md
  intune/device-restrictions-macos.md
  intune/device-restrictions-windows-10.md
  intune/email-settings-android-enterprise.md
  intune/encryption-monitor.md
  intune/enrollment-autopilot.md
  intune/in-development.md
  intune/macos-device-features-settings.md
  intune/role-based-access-control.md
  intune/scope-tags.md
  intune/toc.yml
  intune/vpn-settings-android-enterprise.md
  intune/vpn-settings-android.md
  intune/vpn-settings-configure.md
  intune/whats-new.md
  intune/wi-fi-settings-android-enterprise.md
  intune/wi-fi-settings-android.md
  intune/wi-fi-settings-configure.md
  intune/windows-update-settings.md
Labels: do-not-merge

#2835 From private repo
  intune/app-modern-authentication-block.md
  intune/app-protection-policies-validate.md
  intune/app-protection-policy.md
  intune/app-provisioning-profile-ios.md
  intune/app-sdk-xamarin.md
  intune/app-sdk.md
  intune/apps-add-built-in.md
  intune/apps-add-office365.md
  intune/certficates-pfx-configure.md
  intune/certificates-configure.md
  intune/certificates-scep-configure.md
  intune/manage-microsoft-edge.md
  intune/mdm-authority-set.md
  intune/reports-proc-data-rest.md
Labels: do-not-merge

#2837 From private repo
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2822 Put back missing AutoEnrollOnLaunch setting
  intune/app-sdk-ios.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#2833 Added branding app config
  intune/manage-microsoft-edge.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#2841 From private repo
  intune/app-protection-policy-extensions.md
  intune/app-protection-policy-settings-ios.md
  intune/apps-add-office365.md
  intune/compliance-policy-monitor.md
  intune/toc.yml
  intune/windows-bulk-enroll.md
Labels: do-not-merge

#2845 From private repo
  intune/apps-deploy.md
Labels: do-not-merge

#2849 From private repo
  intune/app-sdk-ios.md
  intune/app-sdk-xamarin.md
  intune/apps-deploy.md
  intune/apps-prepare-mobile-application-management.md
  intune/media/reports-create-01-odatafeed.png
  intune/media/reports-create-02-org-account.png
  intune/reports-proc-create-with-odata.md
Labels: do-not-merge

#2847 Update kiosk-settings-windows.md
  intune/kiosk-settings-windows.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#2848 Update device-restrictions-windows-10.md
  intune/device-restrictions-windows-10.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#2856 From private repo
  intune/actions-for-noncompliance.md
  intune/app-configuration-policies-managed-app.md
  intune/app-configuration-policies-outlook.md
  intune/app-lifecycle.md
  intune/app-protection-policies-configure-windows-10.md
  intune/intune-data-warehouse-collections.md
  intune/lob-apps-android.md
  intune/lob-apps-windows-phone.md
  intune/vpp-apps-ios.md
  intune/vpp-ebooks-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2857 From private repo
  intune/app-management.md
  intune/app-protection-policies.md
  intune/app-protection-policy.md
  intune/apps-add.md
  intune/apps-inc-exl-assignments.md
  intune/apps-supported-intune-apps.md
  intune/media/apps-supported-intune-apps/icon-p-adobe-acrobat-reader.png
  intune/quickstart-set-password-length-android.md
  intune/reports-changelog.md
  intune/reports-nav-intune-data-warehouse.md
  intune/reports-ref-data-model.md
  intune/reports-ref-user-device.md
  intune/store-apps-windows-phone-8-1.md
  intune/toc.yml
  intune/windows-information-protection-policy-create.md
Labels: do-not-merge

#2861 From private repo
  intune/certficates-pfx-configure.md
  intune/compliance-policy-create-windows.md
  intune/custom-notifications.md
  intune/endpoint-protection-macos.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2863 From private repo
  intune/app-protection-policy.md
  intune/encryption-monitor.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2866 From private repo
  intune/app-configuration-managed-browser.md
  intune/app-protection-policies-access-actions.md
  intune/app-protection-policy.md
  intune/data-warehouse-app-only-auth.md
  intune/enrollment-autopilot.md
  intune/kernel-extensions-settings-macos.md
  intune/reports-nav-create-intune-reports.md
  intune/security-baselines.md
  intune/store-apps-android.md
  intune/store-apps-ios.md
  intune/store-apps-windows.md
  intune/vpp-apps-ios.md
  intune/vpp-apps.md
  intune/web-app.md
Labels: do-not-merge

#2872 From private repo
  intune/administrative-templates-windows.md
  intune/certficates-pfx-configure.md
  intune/certificate-authority-add-scep-overview.md
  intune/certificates-configure.md
  intune/certificates-profile-scep.md
  intune/certificates-s-mime-encryption-sign.md
  intune/certificates-scep-configure.md
  intune/media/SCEP_IIS_max_URL.png
  intune/media/administrative-templates-windows/administrative-templates-choose-windows-office-all-products.png
  intune/media/certificates-configure/green-check.png
  intune/media/certificates-scep-configure/scep-ndes-extensions.jpg
  intune/media/certificates-scep-configure/scep-ndes-issuance-reqs.jpg
  intune/media/certificates-scep-configure/scep-ndes-request-handling.png
  intune/media/certificates-scep-configure/scep-ndes-security.jpg
  intune/media/certificates-scep-configure/scep-ndes-subject-name.jpg
  intune/media/certificates-scep-configure/scep-ndes-url.png
  intune/planning-guide-design.md
  intune/review-logs-using-azure-monitor.md
  intune/scep-libraries-apis.md
  intune/toc.yml
  intune/troubleshoot-certificate-connector-events.md
  intune/vpn-setting-configure-per-app.md
  intune/whats-new-archive.md
  intune/whats-new.md
Labels: do-not-merge

#2878 From private repo
  intune/endpoint-protection-macos.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2879 From private repo
  intune/app-configuration-policies-overview.md
  intune/media/app-configuration-policy-overview/app-configuration.png
  intune/media/app-configuration-policy-overview/configured-app.png
  intune/media/app-configuration-policy-overview/device-enrollment-type.png
  intune/media/app-configuration-policy-overview/device-install-status-1.png
  intune/media/app-configuration-policy-overview/device-install-status-2.png
  intune/media/app-configuration-policy-overview/targeted-app-configuration-1.png
  intune/media/app-configuration-policy-overview/targeted-app-configuration-2.png
  intune/toc.yml
Labels: do-not-merge

#2882 From private repo
  intune/intune-endpoints.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2884 From private repo
  intune/app-protection-policy-delivery.md
  intune/in-development.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc
