Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2019-10, with the labels that each got.

#3013 Fix conflict to master
  intune/protect/atp-manage-vulnerabilities.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3020 Update device-profiles.md
  intune/configuration/device-profiles.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#3021 Added 3rd party partner
  intune/protect/certificate-authority-add-scep-overview.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3022 From private repo
  intune/apps/app-configuration-policies-overview.md
  intune/apps/app-protection-policies.md
  intune/apps/app-protection-policy-delivery.md
  intune/apps/app-protection-policy-settings-android.md
  intune/apps/app-protection-policy-settings-log.md
  intune/apps/apps-add-office365-macOS.md
  intune/apps/apps-ae-system.md
  intune/apps/apps-deploy-gcc-dod.md
  intune/apps/apps-selective-wipe.md
  intune/apps/apps-win32-app-management.md
  intune/apps/data-transfer-between-apps-manage-ios.md
  intune/apps/lob-apps-windows.md
  intune/apps/media/app-configuration-policies-overview/targeted-app-configuration-3.png
  intune/apps/troubleshoot-mam.md
  intune/configuration/ios-device-features-settings.md
  intune/developer/app-wrapper-prepare-android.md
  intune/developer/reports-api-url.md
  intune/developer/reports-proc-get-a-link-powerbi.md
  intune/developer/reports-ref-application.md
  intune/developer/reports-ref-date.md
  intune/developer/reports-ref-devices.md
  intune/developer/reports-ref-intunemanagementextension.md
  intune/developer/reports-ref-mobile-app-management.md
  intune/developer/reports-ref-policy.md
  intune/developer/reports-ref-user.md
  intune/enrollment/android-samsung-knox-mobile-enroll.md
  intune/enrollment/device-enrollment-program-enroll-ios.md
  intune/enrollment/device-enrollment.md
  intune/enrollment/index.yml
  intune/enrollment/ios-enroll.md
  intune/enrollment/ios-user-enrollment-supported-actions.md
  intune/enrollment/ios-user-enrollment.md
  intune/enrollment/ios-user-enrollment/assignments-page.png
  intune/enrollment/ios-user-enrollment/basics-page.png
  intune/enrollment/ios-user-enrollment/create-profile.png
  intune/enrollment/ios-user-enrollment/review-page.png
  intune/enrollment/ios-user-enrollment/settings-page.png
  intune/enrollment/media/ios-user-enrollment/assignments-page.png
  intune/enrollment/media/ios-user-enrollment/basics-page.png
  intune/enrollment/media/ios-user-enrollment/create-profile.png
  intune/enrollment/media/ios-user-enrollment/review-page.png
  intune/enrollment/media/ios-user-enrollment/settings-page.png
  intune/enrollment/toc.yml
  intune/enrollment/windows-autopilot-hybrid.md
  intune/fundamentals/free-trial-sign-up.md
  intune/fundamentals/in-development.md
  intune/fundamentals/migration-guide-app-protection-policies.md
  intune/protect/certificates-configure.md
  intune/protect/certificates-imported-pfx-configure.md
Labels: do-not-merge

#3023 From private repo
  intune-user-help/enroll-your-device-dep-ios.md
  intune-user-help/get-recovery-key-cpweb.md
  intune-user-help/unenroll-your-device-from-intune-android.md
  intune/apps/toc.yml
  intune/fundamentals/role-based-access-control.md
  intune/protect/endpoint-protection-windows-10.md
  intune/protect/security-baseline-settings-defender-atp.md
  intune/protect/security-baseline-settings-mdm.md
Labels: do-not-merge

#3031 Adds note about removing policy targeting
  intune/configuration/device-profile-assign.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3034 From private repo
  intune/apps/apps-configure-chrome-android.md
  intune/apps/media/apps-configure-chrome-android/add-app.png
  intune/apps/media/apps-configure-chrome-android/add-policy.png
  intune/apps/media/apps-configure-chrome-android/allowed-url.png
  intune/apps/media/apps-configure-chrome-android/associated-app.png
  intune/apps/media/apps-configure-chrome-android/blocked-url.png
  intune/apps/media/apps-configure-chrome-android/bookmarks.png
  intune/apps/media/apps-configure-chrome-android/chrome-icon.png
  intune/apps/media/apps-configure-chrome-android/common-settings.png
  intune/apps/media/apps-configure-chrome-android/configuration.png
  intune/apps/media/apps-configure-chrome-android/confirm.png
  intune/apps/media/apps-configure-chrome-android/incognito-tab.png
  intune/apps/media/apps-configure-chrome-android/monitor-status.png
  intune/apps/media/apps-configure-chrome-android/search.png
  intune/apps/toc.yml
  intune/enrollment/enrollment-autopilot.md
  intune/protect/advanced-threat-protection.md
  intune/protect/create-compliance-policy.md
  intune/protect/security-baseline-settings-mdm.md
Labels: do-not-merge

#3038 From private repo
  intune/apps/apps-configure-chrome-android.md
  intune/configuration/device-restrictions-windows-10.md
  intune/protect/compliance-policy-create-windows.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3040 Update device-profile-troubleshoot.md
  intune/configuration/device-profile-troubleshoot.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#3045 From private repo
  intune-classic/includes/mdm-supported-devices.md
Labels: do-not-merge, review-team-triage

#3048 From private repo
  intune/enrollment/enrollment-restrictions-set.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3052 From private repo
  intune/enrollment/apple-configurator-enroll-ios.md
  intune/enrollment/device-management-capabilities.md
  intune/protect/conditional-access-integrate-jamf.md
  intune/protect/create-compliance-policy.md
  intune/protect/encrypt-devices.md
  intune/protect/privacy-data-audit-export-delete.md
  intune/protect/privacy-data-collect.md
  intune/protect/privacy-data-secure-share.md
  intune/protect/privacy-data-store-process.md
  intune/protect/privacy-data-view-correct.md
  intune/protect/security-baseline-settings-mdm-all.md
  intune/protect/sophos-mtd-connector.md
  intune/protect/troubleshoot-certificate-connector-events.md
  intune/protect/tutorial-protect-email-on-enrolled-devices.md
  intune/protect/tutorial-protect-email-on-unmanaged-devices.md
  intune/protect/wandera-mtd-connector-integration.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3053 Remove a duplicated example
  intune/developer/app-sdk-android.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3056 From private repo
  intune-classic/includes/mdm-supported-devices.md
  intune-user-help/enroll-company-device-macos.md
  intune/configuration/administrative-templates-windows.md
  intune/configuration/holographic-upgrade.md
  intune/developer/app-sdk-android.md
  intune/docfx.json
  intune/enrollment/corporate-identifiers-add.md
  intune/fundamentals/help-protect-windows-pcs-using-windows-firewall-policies-in-microsoft-intune.md
  intune/fundamentals/supported-devices-browsers.md
  intune/includes/mdm-supported-devices.md
  intune/index.yml
  intune/protect/breadcrumb/toc.yml
  intune/protect/certificate-authority-add-scep-overview.md
  intune/protect/certificates-scep-configure.md
  intune/protect/context/pr-context.yml
  intune/protect/privacy-data-view-correct.md
  intune/protect/toc.yml
  intune/protect/troubleshoot-exchange-connector-common-problems.md
  intune/protect/troubleshoot-policies-in-microsoft-intune.md
  intune/protect/windows-update-for-business-configure.md
Labels: do-not-merge, review-team-triage

#3057 Update advanced-threat-protection.md
  intune/protect/advanced-threat-protection.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#3060 From private repo
  .openpublishing.redirection.json
  intune/apps/app-configuration-policies-use-android.md
  intune/apps/app-configuration-policies-use-ios.md
  intune/apps/app-protection-policies-monitor.md
  intune/apps/company-portal-app.md
  intune/apps/toc.yml
  intune/apps/web-app.md
  intune/configuration/device-profile-troubleshoot.md
  intune/fundamentals/get-started-evaluation.md
  intune/fundamentals/manage-windows-pcs-with-microsoft-intune.md
  intune/fundamentals/toc.yml
  intune/fundamentals/what-is-device-management.md
  intune/fundamentals/what-is-intune.md
  intune/protect/toc.yml
Labels: do-not-merge

#3027 Update Intune MAM SDK dev guide for version 12.0.12
  intune/developer/app-sdk-ios.md
Labels: Change sent to author, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3063 From private repo
  intune/apps/app-protection-policies-monitor.md
  intune/apps/apps-windows-10-app-deploy.md
  intune/developer/app-sdk-android-testing-guide.md
  intune/enrollment/device-enrollment.md
  intune/enrollment/enrollment-restrictions-set.md
  intune/enrollment/multi-factor-authentication.md
  intune/remote-actions/find-primary-user.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3064 From private repo
  intune-classic/includes/classic-portal.md
  intune/apps/company-portal-app.md
  intune/bread/toc.yml
  intune/configuration/vpn-settings-configure.md
  intune/docfx.json
  intune/enrollment/android-dedicated-devices-fully-managed-enroll.md
  intune/enrollment/corporate-identifiers-add.md
  intune/enrollment/enrollment-autopilot.md
  intune/fundamentals/add-apps-for-windows-pcs-in-microsoft-intune.md
  intune/fundamentals/common-windows-pc-management-tasks-with-the-microsoft-intune-computer-client.md
  intune/fundamentals/help-protect-windows-pcs-using-windows-firewall-policies-in-microsoft-intune.md
  intune/fundamentals/help-secure-windows-pcs-with-endpoint-protection-for-microsoft-intune.md
  intune/fundamentals/install-the-windows-pc-client-with-microsoft-intune.md
  intune/fundamentals/intune-legacy-pc-client.md
  intune/fundamentals/keep-windows-pcs-up-to-date-with-software-updates-in-microsoft-intune.md
  intune/fundamentals/manage-license-agreements-for-windows-pc-software-in-microsoft-intune.md
  intune/fundamentals/manage-user-device-linking-for-windows-pcs-with-microsoft-intune.md
  intune/fundamentals/manage-windows-pcs-with-microsoft-intune.md
  intune/fundamentals/pc-management-comparison.md
  intune/fundamentals/policies-to-protect-windows-pcs-in-microsoft-intune.md
  intune/fundamentals/request-and-provide-remote-assistance-for-windows-pcs-in-microsoft-intune.md
  intune/fundamentals/resolve-gpo-and-microsoft-intune-policy-conflicts.md
  intune/fundamentals/retire-a-windows-pc-with-microsoft-intune.md
  intune/fundamentals/use-policies-to-simplify-windows-pc-management.md
  intune/fundamentals/view-hardware-and-software-inventory-for-windows-pcs-in-microsoft-intune.md
  intune/fundamentals/whats-new-archive-classic.md
  intune/includes/classic-portal.md
  intune/includes/intune-notices.md
Labels: do-not-merge

#3070 Update android-oem-configuration-overview.md
  intune/configuration/android-oem-configuration-overview.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#3073 From private repo
  intune-classic/includes/mdm-supported-devices.md
  intune/configuration/device-profile-assign.md
Labels: do-not-merge, review-team-triage

#3075 Syntax fixes on enrollment-restrictions-set.md
  intune/enrollment/enrollment-restrictions-set.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#3078 From private repo
  intune-classic/includes/mdm-supported-devices.md
  intune/apps/app-configuration-policies-use-android.md
  intune/apps/app-protection-policies.md
  intune/apps/app-provisioning-profile-ios.md
  intune/apps/apps-add-android-for-work.md
  intune/apps/apps-edge-macos.md
  intune/apps/apps-monitor.md
  intune/apps/apps-windows-edge.md
  intune/apps/company-portal-app.md
  intune/apps/media/app-protection-policies/app-protection-add-policies-01.png
  intune/apps/media/app-protection-policies/app-protection-add-policy.png
  intune/apps/media/app-provisioning-profile-ios/app-provisioning-profile-ios-01.png
  intune/apps/toc.yml
  intune/configuration/device-profile-monitor.md
  intune/configuration/device-profiles.md
  intune/configuration/device-restrictions-android-for-work.md
  intune/configuration/device-restrictions-ios.md
  intune/configuration/wi-fi-settings-android-enterprise.md
  intune/configuration/wi-fi-settings-android.md
  intune/enrollment/enrollment-autopilot.md
  intune/enrollment/enrollment-restrictions-set.md
  intune/enrollment/windows-bulk-enroll.md
  intune/fundamentals/get-support.md
  intune/fundamentals/guided-scenarios-cloud-managed-pc.md
  intune/fundamentals/guided-scenarios-edge.md
  intune/fundamentals/guided-scenarios-office-mobile.md
  intune/fundamentals/guided-scenarios-overview.md
  intune/fundamentals/media/guided-scenarios-office-mobile/guided-scenarios-office-mobile-01.png
  intune/fundamentals/media/guided-scenarios-office-mobile/guided-scenarios-office-mobile-02.png
  intune/fundamentals/media/policy-sets/policy-sets-01.png
  intune/fundamentals/migration-guide-app-protection-policies.md
  intune/fundamentals/monitor-audit-logs.md
  intune/fundamentals/policy-sets.md
  intune/fundamentals/toc.yml
  intune/fundamentals/whats-new-archive.md
  intune/protect/certficates-pfx-configure.md
  intune/protect/certificates-configure.md
  intune/protect/certificates-profile-scep.md
  intune/protect/derived-credentials.md
  intune/protect/device-compliance-get-started.md
  intune/protect/media/derived-credentials/configure-provider.png
  intune/protect/media/software-updates-ios/basics-tab.png
  intune/protect/media/software-updates-ios/edit-policy.png
  intune/protect/media/windows-update-for-business-configure/basics-tab.png
  intune/protect/software-updates-ios.md
  intune/protect/toc.yml
  intune/protect/windows-update-for-business-configure.md
  intune/protect/windows-update-settings.md
  intune/remote-actions/device-rename.md
Labels: do-not-merge

#3079 From private repo
  intune/apps/manage-microsoft-edge.md
  intune/configuration/email-settings-ios.md
  intune/configuration/vpn-settings-ios.md
  intune/configuration/wi-fi-settings-ios.md
Labels: Change sent to author, configuration/subsvc, do-not-merge, microsoft-intune/svc

#3084 From private repo
  intune/apps/lob-apps-windows.md
  intune/configuration/device-profile-create.md
  intune/fundamentals/in-development.md
  intune/fundamentals/whats-new.md
  intune/includes/intune-notices.md
  intune/protect/advanced-threat-protection.md
  intune/protect/checkpoint-sandblast-mobile-mtd-connector-integration.md
  intune/protect/compliance-policy-create-ios.md
  intune/protect/create-conditional-access-intune.md
  intune/protect/pradeo-mtd-connector-integration.md
  intune/protect/security-baselines-monitor.md
  intune/protect/skycure-mtd-connector-integration.md
  intune/protect/software-updates-ios.md
  intune/protect/sophos-mtd-connector-integration.md
  intune/protect/wandera-mtd-connector-integration.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3087 From private repo
  intune/configuration/device-firmware-configuration-interface-windows.md
  intune/configuration/device-profile-monitor.md
  intune/configuration/device-profiles.md
  intune/configuration/toc.yml
  intune/enrollment/enrollment-autopilot.md
  intune/fundamentals/whats-new.md
  intune/includes/intune-notices.md
  intune/protect/compliance-policy-create-android.md
  intune/protect/create-compliance-policy.md
  intune/protect/device-compliance-get-started.md
  intune/protect/use-network-locations.md
Labels: do-not-merge

#3088 Update device-firmware-configuration-interface-windows.md
  intune/configuration/device-firmware-configuration-interface-windows.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3093 From private repo
  device-mgmt/index.md
  intune/configuration/device-restrictions-ios.md
  intune/configuration/device-restrictions-macos.md
  intune/configuration/macos-device-features-settings.md
  intune/fundamentals/guided-scenarios-cloud-managed-pc.md
Labels: Change sent to author, configuration/subsvc, do-not-merge, microsoft-intune/svc

#3096 From private repo
  intune/apps/app-protection-policies-access-actions.md
  intune/apps/app-protection-policy-settings-android.md
  intune/apps/app-protection-policy-settings-ios.md
  intune/apps/apps-supported-intune-apps.md
  intune/apps/media/apps-supported-intune-apps/icon-m-microsoft-whiteboard.png
  intune/apps/vpp-apps-ios.md
  intune/configuration/device-firmware-configuration-interface-windows.md
  intune/configuration/device-restrictions-ios.md
  intune/fundamentals/whats-new.md
  intune/protect/certficates-pfx-configure.md
  intune/protect/certificates-configure.md
  intune/protect/compliance-policy-create-android-for-work.md
  intune/protect/compliance-policy-create-android.md
  intune/protect/create-compliance-policy.md
  intune/protect/media/mobile-threat-defense/mtd-image-3.png
  intune/protect/media/mobile-threat-defense/mtd-image-4.png
  intune/protect/mobile-threat-defense.md
  intune/protect/mtd-add-apps-unenrolled-devices.md
  intune/protect/mtd-app-protection-policy.md
  intune/protect/mtd-enable-unenrolled-devices.md
  intune/protect/toc.yml
Labels: do-not-merge

#3103 From private repo
  intune-user-help/using-the-intune-company-portal-website.md
  intune/configuration/device-firmware-configuration-interface-windows.md
  intune/protect/better-mobile-mtd-connector-integration.md
  intune/protect/compliance-policy-create-android-for-work.md
  intune/protect/compliance-policy-create-android.md
  intune/protect/compliance-policy-create-ios.md
  intune/protect/lookout-mtd-connector-integration.md
  intune/protect/mtd-connector-enable.md
  intune/protect/network-access-control-integrate.md
  intune/protect/zimperium-mtd-connector-integration.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3104 From private repo
  intune/apps/app-configuration-managed-home-screen-app.md
  intune/apps/app-configuration-policies-use-ios.md
  intune/apps/app-discovered-apps.md
  intune/apps/app-protection-policies-exception.md
  intune/apps/lob-apps-ios.md
  intune/apps/lob-apps-macos.md
  intune/apps/media/app-configuration-managed-home-screen-app/app-configuration-managed-home-screen-app_03.png
  intune/apps/quickstart-add-assign-app.md
  intune/developer/data-warehouse-account-move.md
  intune/developer/reports-ref-user-timeline.md
  intune/fundamentals/quickstart-create-group.md
  intune/fundamentals/whats-new.md
  intune/protect/compliance-policy-create-mac-os.md
  intune/protect/compliance-policy-create-windows-8-1.md
  intune/protect/compliance-policy-monitor.md
Labels: do-not-merge

#3111 From private repo
  intune/apps/app-protection-policies-monitor.md
  intune/configuration/device-firmware-configuration-interface-windows.md
  intune/fundamentals/windows-holographic-for-business.md
  intune/protect/compliance-policy-create-windows.md
  intune/protect/derived-credentials.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3112 From private repo
  intune/apps/apps-windows-edge.md
  intune/configuration/device-profile-assign.md
  intune/configuration/media/device-profile-assign/include-exclude-user-device-groups.png
  intune/enrollment/index.yml
  intune/enrollment/troubleshoot-windows-enrollment-errors.md
  intune/fundamentals/whats-new.md
  intune/index.yml
Labels: do-not-merge

#3115 From private repo
  intune/apps/company-portal-app.md
  intune/configuration/android-oem-configuration-overview.md
  intune/configuration/device-restrictions-android-for-work.md
  intune/fundamentals/whats-new.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3116 From private repo
  intune/enrollment/android-kiosk-enroll.md
  intune/enrollment/device-enrollment-manager-enroll.md
  intune/protect/security-baseline-settings-defender-atp.md
  intune/protect/security-baselines.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3124 From private repo
  intune-user-help/TOC.md
  intune-user-help/set-up-mobile-threat-defense.md
  intune/configuration/ios-device-features-settings.md
  intune/includes/intune-notices.md
Labels: do-not-merge, review-team-triage

#3126 From private repo
  intune/apps/app-protection-policies-access-actions.md
  intune/apps/app-protection-policy-settings-android.md
  intune/apps/app-protection-policy-settings-ios.md
  intune/apps/company-portal-app.md
  intune/fundamentals/get-support.md
  intune/fundamentals/in-development.md
  intune/fundamentals/media/get-support/confirm-your-service-selection.png
  intune/fundamentals/media/get-support/contact-support-form.png
  intune/fundamentals/media/get-support/contact-support.png
  intune/fundamentals/media/get-support/describe-the-issue.png
  intune/fundamentals/media/get-support/email-support.png
  intune/fundamentals/media/get-support/find-solutions.png
  intune/fundamentals/media/get-support/help-support-dashboard.png
  intune/fundamentals/media/get-support/intune-blades.png
  intune/fundamentals/media/get-support/need-help.png
  intune/fundamentals/media/get-support/phone-support.png
  intune/fundamentals/media/get-support/premier-phone-support-options.png
  intune/fundamentals/media/get-support/select-a-service.png
  intune/fundamentals/media/get-support/service-requests-pane.png
  intune/fundamentals/media/get-support/service-requests.png
  intune/fundamentals/media/get-support/troubleshooting-insights.png
  intune/fundamentals/media/get-support/view-results.png
  intune/fundamentals/media/get-support/view-support-tickets.png
  intune/fundamentals/supported-devices-browsers.md
  intune/fundamentals/whats-new-archive-classic.md
  intune/fundamentals/whats-new.md
  intune/protect/security-baselines.md
Labels: do-not-merge

#3127 From private repo
  intune/fundamentals/in-development.md
  intune/fundamentals/whats-new.md
  intune/includes/intune-notices.md
  intune/includes/mdm-supported-devices.md
Labels: do-not-merge, review-team-triage

#3132 Deleted an extra "the" in SSO app extensions
  intune/configuration/ios-device-features-settings.md
Labels: Change sent to author, configuration/subsvc, do-not-merge, microsoft-intune/svc

#3131 Updated iOS device settings
  intune/configuration/ios-device-features-settings.md
Labels: Change sent to author, assessing_(C&L), configuration/subsvc, microsoft-intune/svc, ready-to-merge

#3133 From private repo
  intune/fundamentals/whats-new.md
  intune/protect/mobile-threat-defense.md
  intune/remote-actions/device-lost-mode.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#3135 Update macOS SSO app extension
  intune/configuration/macos-device-features-settings.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#3130 SCEP Certificate + ESP issue is fixed
  intune/enrollment/windows-enrollment-status.md
Labels: Change sent to author, assessing_(C&L), enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#3136 From private repo
  intune/apps/apps-win32-app-management.md
  intune/configuration/device-restrictions-android-for-work.md
Labels: Change sent to author, configuration/subsvc, do-not-merge, microsoft-intune/svc

#3137 Disambiguate MX ownership (MS/Zebra)
  intune/configuration/android-zebra-mx-overview.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#3138 From private repo
  intune/apps/apps-win32-s-mode.md
  intune/apps/toc.yml
  intune/fundamentals/get-support.md
  intune/fundamentals/in-development.md
  intune/fundamentals/media/get-support/help-plus-support.png
  intune/fundamentals/media/get-support/new-request.png
  intune/fundamentals/whats-new.md
Labels: do-not-merge
