Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2019-04, with the labels that each got.

#2230 mvp review
  intune/conditional-access-intune-common-ways-use.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2234 From private repo
  intune/in-development.md
  intune/includes/intune-notices.md
  intune/shared-user-device-settings-windows.md
  intune/what-is-device-management.md
Labels: Change sent to author, do-not-merge, microsoft-365-enterprise/prod

#2224 delete duplicate zebra MX entry
  intune/whats-new.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2231 mvp review
  intune/groups-get-started.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2239 From private repo
  intune/toc.yml
  intune/windows-enrollment-methods.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2183 MVP Review and Update.
  intune/quickstart-send-notification.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, ready-to-merge

#2185 mvp review
  intune/quickstart-create-assign-app-policy.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2186 mvp review
  intune/quickstart-send-notification.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2198 Update quickstart-create-group.md
  intune/quickstart-create-group.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, ready-to-merge

#2205 Update quickstart-enroll-windows-device.md
  intune/quickstart-enroll-windows-device.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2240 From private repo
  intune/certficates-pfx-configure.md
  intune/device-restrictions-ios.md
  intune/free-trial-sign-up.md
  intune/media/quickstart-send-notification-02.png
  intune/quickstart-send-notification.md
  intune/reports-proc-data-rest.md
  intune/reports-proc-get-a-link-powerbi.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2206 Update quickstart-send-notification.md
  intune/quickstart-send-notification.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2241 Update whats-new.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2244 From private repo
  .openpublishing.redirection.json
  intune/compliance-policy-create-android-for-work.md
  intune/compliance-policy-create-android.md
  intune/compliance-policy-create-google-play-protect.md
  intune/device-profile-android-teamviewer.md
  intune/device-restrictions-windows-10.md
  intune/includes/new-device-compliance-policy.md
  intune/software-updates-ios.md
  intune/toc.yml
  intune/whats-new-archive.md
Labels: do-not-merge

#2242 Android dedicated not supported
  intune/certificates-configure.md
Labels: Change sent to author, in-progress, microsoft-intune/svc, product-question, ready-to-merge

#2246 From private repo
  intune/app-management.md
  intune/get-support.md
  intune/intune-management-extension.md
  intune/network-bandwidth-use.md
  intune/windows-store-for-business.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2249 From private repo
  intune/app-modern-authentication-block.md
  intune/end-user-company-portal-messages.md
  intune/enrollment-restrictions-set.md
  intune/get-support.md
  intune/media/end-user-company-portal-messages/end-user-company-portal-messages-01.png
  intune/media/end-user-company-portal-messages/end-user-company-portal-messages-02.png
  intune/media/end-user-company-portal-messages/end-user-company-portal-messages-03.png
  intune/media/enrollment-restrictions-set/configure-platforms.png
  intune/media/enrollment-restrictions-set/platform-allow-block.png
  intune/whats-new-app-ui.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2256 From private repo
  intune-user-help/enroll-your-device-in-intune-ios.md
  intune-user-help/media/ios-15-cp-enroll-1903.png
  intune-user-help/media/ios-1904-allow-download.png
  intune-user-help/media/ios-1904-password-install.png
  intune-user-help/media/ios-1904-profile-downloaded.png
  intune-user-help/media/ios-1904-settings-badge.png
  intune-user-help/media/ios-1904-settings-icon.png
  intune-user-help/media/ios-1904-whats-next.png
  intune/app-sdk-xamarin.md
  intune/certificates-scep-configure.md
  intune/in-development.md
  intune/media/certificates-scep-configure/download-certificates-connector.png
  intune/network-bandwidth-use.md
  intune/remove-certificates.md
  intune/whats-new-app-ui.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2254 Update on Require Users to connect to network
  intune/device-restrictions-windows-10.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2255 com.microsoft.workplacejoin is not a required keychain access group for Intune
  intune/app-sdk-ios.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2257 From private repo
  intune-user-help/enroll-your-device-in-intune-ios.md
  intune/app-configuration-managed-browser.md
  intune/app-protection-policies-validate.md
  intune/app-protection-policies.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/app-protection-policy-settings-log.md
  intune/app-protection-policy.md
  intune/app-provisioning-profile-ios.md
  intune/app-sdk-xamarin.md
  intune/app-sdk.md
  intune/apps-add-built-in.md
  intune/apps-add-office365.md
  intune/certificates-configure.md
  intune/checkpoint-sandblast-mobile-mobile-threat-defense-connector.md
  intune/checkpoint-sandblast-mobile-mtd-connector-integration.md
  intune/conditional-access-assign-jamf.md
  intune/conditional-access-exchange-create.md
  intune/conditional-access-integrate-jamf.md
  intune/conditional-access-intune-common-ways-use.md
  intune/conditional-access-intune-reassign.md
  intune/conditional-access.md
  intune/data-jamf-sends-to-intune.md
  intune/data-transfer-between-apps-manage-ios.md
  intune/device-enrollment-manager-enroll.md
  intune/device-profiles.md
  intune/encryption-monitor.md
  intune/end-user-educate.md
  intune/exchange-connector-install.md
  intune/get-support.md
  intune/lookout-mobile-threat-defense-connector.md
  intune/lookout-mtd-connector-integration.md
  intune/manage-os-versions.md
  intune/mobile-threat-defense.md
  intune/mtd-apps-ios-app-configuration-policy-add-assign.md
  intune/mtd-connector-enable.md
  intune/mtd-device-compliance-policy-create.md
  intune/quickstart-enroll-windows-device.md
  intune/skycure-mobile-threat-defense-connector.md
  intune/skycure-mtd-connector-integration.md
  intune/troubleshoot-conditional-access.md
  intune/troubleshoot-device-enrollment-in-intune.md
  intune/troubleshoot-exchange-connector.md
  intune/windows-hello.md
  intune/windows-information-protection-configure.md
  intune/windows-information-protection-policy-create.md
  intune/windows-store-for-business.md
  intune/zimperium-mtd-connector-integration.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2261 From private repo
  .openpublishing.redirection.json
  intune/app-sdk-get-started.md
  intune/app-sdk-ios.md
  intune/apps-win32-app-management.md
  intune/compliance-policy-create-android-for-work.md
  intune/compliance-policy-create-android.md
  intune/compliance-policy-create-ios.md
  intune/compliance-policy-create-mac-os.md
  intune/compliance-policy-create-windows-8-1.md
  intune/compliance-policy-create-windows.md
  intune/create-compliance-policy.md
  intune/device-compliance-get-started.md
  intune/device-profile-assign.md
  intune/device-profile-create.md
  intune/device-restrictions-windows-10.md
  intune/encryption-monitor.md
  intune/in-development.md
  intune/policy-evaluate.md
  intune/toc.yml
  intune/whats-new-archive.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2248 Add naming capability statement
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2263 From private repo
  intune/apps-win32-app-management.md
  intune/devices-wipe.md
  intune/intune-data-warehouse-collections.md
  intune/reports-ref-devices.md
  intune/reports-ref-mobile-app-management.md
  intune/reports-ref-user.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2267 From private repo
  intune/app-protection-policies-configure-windows-10.md
  intune/data-warehouse-app-only-auth.md
  intune/lob-apps-android.md
  intune/lob-apps-macos.md
  intune/lob-apps-windows-phone.md
  intune/vpp-apps-ios.md
  intune/vpp-ebooks-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2271 From private repo
  intune/lob-apps-windows.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2270 Update network-bandwidth-use.md
  intune/network-bandwidth-use.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2276 From private repo
  intune/app-lifecycle.md
  intune/app-sdk-ios.md
  intune/apps-inc-exl-assignments.md
  intune/reports-changelog.md
  intune/reports-nav-intune-data-warehouse.md
  intune/reports-ref-data-model.md
  intune/reports-ref-date.md
  intune/reports-ref-user-device.md
  intune/role-based-access-control.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2272 Changed the term Intune console
  intune/device-management-capabilities.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2285 From private repo
  intune/conditional-access-exchange-create.md
  intune/reports-changelog.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2287 From private repo
  intune/app-configuration-policies-managed-app.md
  intune/app-sideload-windows.md
  intune/apps-add-android-for-work.md
  intune/apps-add.md
  intune/in-development.md
  intune/lob-apps-android.md
  intune/lob-apps-ios.md
  intune/migration-guide-app-protection-policies.md
  intune/quickstart-enroll-windows-device.md
  intune/quickstart-set-password-length-android.md
  intune/windows-information-protection-policy-create.md
  intune/windows-store-for-business.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2290 From private repo
  intune/app-protection-policy-settings-log.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2292 From private repo
  intune/autopilot-hybrid-connector-proxy.md
  intune/media/autopilot-hybrid-connector-proxy/service-restart.png
  intune/toc.yml
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2294 Update apple-configurator-enroll-ios
  intune/apple-configurator-enroll-ios.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2296 Add reference to Zebra
  intune/android-enroll.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2295 Update conditional-access-intune-common-ways-use.md
  intune/conditional-access-intune-common-ways-use.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2298 From private repo
  intune/conditional-access.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2300 From private repo
  intune/app-configuration-policies-overview.md
  intune/app-configuration-policies-use-ios.md
  intune/store-apps-windows-phone-8-1.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2297 ESP - User only
  intune/windows-enrollment-status.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2303 From private repo
  intune/app-protection-policy-settings-android.md
  intune/vpn-settings-ios.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2304 (Corrected) Note about DEM behavior
  intune/android-zebra-mx-overview.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2308 Update apps-win32-app-management.md
  intune/apps-win32-app-management.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2310 From private repo
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2317 From private repo
  intune/edition-upgrade-configure-windows-10.md
  intune/role-based-access-control.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2319 From private repo
  intune/actions-for-noncompliance.md
  intune/apps-win32-app-management.md
  intune/compliance-policy-create-windows.md
  intune/device-restrictions-android-for-work.md
  intune/edition-upgrade-configure-windows-10.md
  intune/encryption-monitor.md
  intune/media/add-win32-app.svg
  intune/media/intune-assessment-status.png
  intune/media/intune-ffiec-assessment-status.png
  intune/media/prepare-win32-app.svg
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2321 Missing built-in bundle ID
  intune/device-restrictions-ios.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2325 From private repo
  intune/apps-win32-app-management.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2327 From private repo
  intune/android-zebra-mx-overview.md
  intune/macos-device-features-settings.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2324 Add useEdge app config details
  intune/app-configuration-managed-browser.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2329 From private repo
  intune/bundle-ids-built-in-ios-apps.md
  intune/device-enrollment.md
  intune/device-restrictions-ios.md
  intune/ios-device-features-settings.md
  intune/lob-apps-windows.md
  intune/quickstart-add-assign-app.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2330 Update network-bandwidth-use.md
  intune/network-bandwidth-use.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2333 From private repo
  intune/includes/intune-notices.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2334 From private repo
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2337 From private repo
  intune/network-bandwidth-use.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2339 From private repo
  intune/docfx.json
Labels: Change sent to author, do-not-merge

#2335 Update apps-win32-app-management.md
  intune/apps-win32-app-management.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2346 From private repo
  intune/get-support.md
  intune/media/get-support/premier-banner.png
  intune/media/get-support/premier-phone-support-options.png
  intune/media/sophos-mtd-connector-integration/intune-authentication.png
  intune/media/sophos-mtd-connector-integration/save-sophos-configuration.png
  intune/media/sophos-mtd-connector-integration/sophos-setup.png
  intune/media/sophos-mtd-connector-integration/sophos_malicious_apps_blocked.png
  intune/media/sophos-mtd-connector-integration/sophos_malicious_apps_unblocked.png
  intune/media/sophos-mtd-connector-integration/sophos_network_spo_blocked.png
  intune/media/sophos-mtd-connector-integration/sophos_network_spo_unblocked.png
  intune/media/sophos-mtd-connector-integration/sophos_network_wifi_blocked.png
  intune/media/sophos-mtd-connector-integration/sophos_network_wifi_unblocked.png
  intune/media/sophos-mtd-connector/sophos_malicious_apps_blocked.png
  intune/media/sophos-mtd-connector/sophos_malicious_apps_unblocked.png
  intune/media/sophos-mtd-connector/sophos_network_spo_blocked.png
  intune/media/sophos-mtd-connector/sophos_network_spo_unblocked.png
  intune/media/sophos-mtd-connector/sophos_network_wifi_blocked.png
  intune/media/sophos-mtd-connector/sophos_network_wifi_unblocked.png
  intune/mobile-threat-defense.md
  intune/mtd-apps-ios-app-configuration-policy-add-assign.md
  intune/network-bandwidth-use.md
  intune/sophos-mtd-connector-integration.md
  intune/sophos-mtd-connector.md
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2347 From private repo
  intune/in-development.md
  intune/windows-hello.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc
