Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2019-05, with the labels that each got.

#2352 Update location of settings blade in the Azure Portal
  intune/security-baselines.md
Labels: Change sent to author, doc-bug, microsoft-intune/svc, ready-to-merge, triaged

#2360 Update device-fresh-start.md
  intune/device-fresh-start.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2358 Update terms-and-conditions-create.md
  intune/terms-and-conditions-create.md
Labels: ready-to-merge

#2362 From private repo
  intune/actions-for-noncompliance.md
  intune/apps-win32-app-management.md
  intune/certficates-pfx-configure.md
  intune/device-restrictions-ios.md
  intune/endpoint-protection-windows-10.md
  intune/enrollment-restrictions-set.md
  intune/mtd-connector-enable.md
  intune/network-access-control-integrate.md
  intune/reports-changelog.md
  intune/security-baselines-monitor.md
  intune/tutorial-use-device-enrollment-program-enroll-ios.md
  intune/vpn-settings-ios.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2370 From private repo
  intune/device-compliance-get-started.md
  intune/includes/intune-notices.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2372 From private repo
  intune/certficates-pfx-configure.md
  intune/end-user-apps-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2376 From private repo
  intune/mtd-apps-ios-app-configuration-policy-add-assign.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2377 Update app-configuration-managed-browser.md
  intune/app-configuration-managed-browser.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2383 From private repo
  intune/devices-wipe.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2385 From private repo
  intune/device-inventory.md
  intune/includes/intune-notices.md
  intune/media/tem-azure-portal-enable-service.png
  intune/telecom-expenses-monitor.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2386 Fixed Typo when reviewing content
  intune/encryption-monitor.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2382 Remove preview tags from Hybrid AADJ
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2391 Updating CA partner section
  intune/certificate-authority-add-scep-overview.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2396 From private repo
  intune/reports-changelog.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2400 From private repo
  intune/device-enrollment-program-enroll-ios.md
  intune/get-support.md
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2401 Updated Autopilot device delete flow
  intune/enrollment-autopilot.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2403 From private repo
  intune/app-configuration-managed-home-screen-app.md
  intune/media/app-configuration-managed-home-screen-app/app-configuration-managed-home-screen-app_01.png
  intune/media/app-configuration-managed-home-screen-app/app-configuration-managed-home-screen-app_02.png
  intune/media/app-configuration-managed-home-screen-app/app-configuration-managed-home-screen-app_03.png
  intune/toc.yml
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2404 From private repo
  intune/app-configuration-managed-browser.md
  intune/app-protection-policy-settings-ios.md
  intune/app-sdk-get-started.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2405 Update app-configuration-managed-home-screen-app.md
  intune/app-configuration-managed-home-screen-app.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2410 From private repo
  intune/conditional-access-integrate-jamf.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2418 Update create-conditional-access-intune.md
  intune/create-conditional-access-intune.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2417 Update certificates-configure.md
  intune/certificates-configure.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2411 Update conditional-access-exchange-create.md
  intune/conditional-access-exchange-create.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2420 Update android-work-profile-enroll.md
  intune/android-work-profile-enroll.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2414 Update ios-enroll.md
  intune/ios-enroll.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2423 From private repo
  intune/android-work-profile-enroll.md
  intune/app-protection-policy-settings-android.md
  intune/app-protection-policy-settings-ios.md
  intune/apps-add-android-for-work.md
  intune/apps-win32-app-management.md
  intune/atp-manage-vulnerabilities.md
  intune/certificate-authority-add-scep-overview.md
  intune/compliance-policy-create-windows.md
  intune/connect-intune-android-enterprise.md
  intune/device-enrollment-program-enroll-ios.md
  intune/device-restrictions-ios.md
  intune/device-restrictions-macos.md
  intune/devices-wipe.md
  intune/encryption-monitor.md
  intune/endpoint-protection-configure.md
  intune/endpoint-protection-windows-10.md
  intune/enrollment-autopilot.md
  intune/in-development.md
  intune/intune-management-extension.md
  intune/media/atp-manage-vulnerabilities/temp-accept-task.png
  intune/media/atp-manage-vulnerabilities/temp-security-tasks.png
  intune/media/enrollment-autopilot/create-profile-assignments.png
  intune/media/enrollment-autopilot/create-profile-basics.png
  intune/media/enrollment-autopilot/create-profile-outofbox.png
  intune/media/enrollment-autopilot/create-profile-review.png
  intune/media/security-baselines/assignments.png
  intune/media/security-baselines/available-baselines.png
  intune/media/security-baselines/expand-windows-defender.png
  intune/media/security-baselines/review.png
  intune/media/security-baselines/sample-list-of-settings.png
  intune/security-baseline-settings-defender-atp.md
  intune/security-baseline-settings-windows.md
  intune/security-baselines.md
  intune/toc.yml
  intune/tutorial-use-autopilot-enroll-devices.md
  intune/whats-new.md
  intune/windows-autopilot-hybrid.md
  intune/windows-enrollment-status.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2425 spell check on autopilot reset line 145
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2426 From private repo
  intune/app-configuration-managed-home-screen-app.md
  intune/in-development.md
  intune/licenses-assign.md
  intune/media/app-configuration-managed-home-screen-app/defaultvaluejson01.png
  intune/media/app-configuration-managed-home-screen-app/defaultvaluejson02.png
  intune/media/app-configuration-managed-home-screen-app/defaultvaluejson03.png
  intune/supported-devices-browsers.md
  intune/toc.yml
  intune/whats-new.md
  intune/windows-autopilot-hybrid.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2419 Update device-restrictions-android-for-work.md
  intune/device-restrictions-android-for-work.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2430 From private repo
  intune/app-configuration-managed-home-screen-app.md
  intune/device-restrictions-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2363 Update apps-win32-app-management.md
  intune/apps-win32-app-management.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2380 Update lob-apps-android.md
  intune/lob-apps-android.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2381 Update lob-apps-ios.md
  intune/lob-apps-ios.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2402 Added Citrix Endpoint Management syntax to table
  intune/data-transfer-between-apps-manage-ios.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2422 Update app-configuration-managed-home-screen-app.md
  intune/app-configuration-managed-home-screen-app.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2433 From private repo
  intune/certificates-symantec-configure.md
  intune/media/app-protection-policies-without-mdm.png
  intune/network-bandwidth-use.md
  intune/troubleshoot-app-install.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2436 From private repo
  intune/device-restrictions-ios.md
  intune/devices-wipe.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2439 Update app-configuration-policies-managed-app.md
  intune/app-configuration-policies-managed-app.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2438 Updated name of device attribute "Group Tag"
  intune/enrollment-autopilot.md-pr
Labels: do-not-merge

#2440 From private repo
  intune/app-protection-policies-access-actions.md
  intune/app-wrapper-prepare-ios.md
  intune/bundle-ids-built-in-ios-apps.md
  intune/compliance-policy-monitor.md
  intune/media/enrollment-autopilot/autopilot-import-device.png
  intune/media/enrollment-autopilot/autopilot-import-device2.png
  intune/reports-nav-create-intune-reports.md
  intune/store-apps-android.md
  intune/store-apps-company-portal-app.md
  intune/store-apps-ios.md
  intune/store-apps-windows.md
  intune/vpp-apps.md
  intune/web-app.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2445 From private repo
  intune-user-help/enroll-windows-10-device.md
  intune/app-modern-authentication-block.md
  intune/app-protection-policies-monitor.md
  intune/company-portal-app.md
  intune/mam-faq.md
  intune/reports-proc-get-a-link-powerbi.md
  intune/vpp-apps-ios.md
  intune/windows-store-for-business.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2442 Update tutorial-use-autopilot-enroll-devices.md
  intune/tutorial-use-autopilot-enroll-devices.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2375 Updating Terminology
  intune/app-configuration-policies-use-android.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2451 Scan incoming mail messages
  intune/device-restrictions-windows-10.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2454 From private repo
  intune-user-help/what-info-can-your-company-see-when-you-enroll-your-device-in-intune.md
  intune/tutorial-use-device-enrollment-program-enroll-ios.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2458 From private repo
  intune/get-support.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2462 From private repo
  intune-user-help/create-a-work-profile-and-enroll-your-device-in-intune-android.md
  intune-user-help/enroll-device-android-company-portal.md
  intune-user-help/enroll-device-android-microsoft-intune-app.md
  intune-user-help/enroll-windows-10-device.md
  intune-user-help/enroll-your-device-in-intune-ios.md
  intune-user-help/enroll-your-device-in-intune-macos-cp.md
  intune-user-help/windows-enrollment-company-portal.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2464 From private repo
  intune/lob-apps-macos.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2468 From private repo
  intune/enrollment-autopilot.md
  intune/intune-management-extension.md
  intune/whats-new.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2469 From private repo
  intune/app-protection-policy-settings-android.md
  intune/bundle-ids-built-in-ios-apps.md
  intune/compliance-policy-create-windows.md
  intune/device-restrictions-windows-10.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2474 From private repo
  intune/advanced-threat-protection.md
  intune/conditional-access-exchange-create.md
  intune/device-restrictions-windows-10.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2477 From private repo
  intune/actions-for-noncompliance.md
  intune/administrative-templates-windows.md
  intune/advanced-threat-protection.md
  intune/android-oem-configuration-overview.md
  intune/android-zebra-mx-overview.md
  intune/certficates-pfx-configure.md
  intune/certificates-scep-configure.md
  intune/compliance-policy-monitor.md
  intune/create-compliance-policy.md
  intune/custom-settings-android-for-work.md
  intune/custom-settings-android.md
  intune/custom-settings-ios.md
  intune/custom-settings-macos.md
  intune/custom-settings-windows-10.md
  intune/custom-settings-windows-holographic.md
  intune/custom-settings-windows-phone-8-1.md
  intune/delivery-optimization-windows.md
  intune/device-compliance-get-started.md
  intune/device-features-configure.md
  intune/device-profile-assign.md
  intune/device-profile-create.md
  intune/device-profile-troubleshoot.md
  intune/edition-upgrade-configure-windows-10.md
  intune/intune-management-extension.md
  intune/security-baseline-settings-defender-atp.md
  intune/security-baselines.md
  intune/shared-user-device-settings.md
  intune/software-updates-ios.md
  intune/troubleshoot-policies-in-microsoft-intune.md
  intune/vpn-setting-configure-per-app.md
  intune/whats-new.md
  intune/wi-fi-settings-import-windows-8-1.md
Labels: do-not-merge

#2473 update list of supported devices.
  intune/esim-device-configuration.md
Labels: Change sent to author, assigned-to-author, in-progress, microsoft-intune/svc, product-question, ready-to-merge, triaged

#2479 Update device-enrollment-program-enroll-ios.md
  intune/device-enrollment-program-enroll-ios.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#2481 From private repo
  intune/app-protection-policy-settings-android.md
  intune/bundle-ids-built-in-ios-apps.md
  intune/device-restrictions-ios.md
  intune/enrollment-autopilot.md
  intune/includes/intune-notices.md
  intune/software-update-agent-error-codes.md
  intune/toc.yml
  intune/troubleshoot-email-profiles-in-microsoft-intune.md
  intune/troubleshoot-endpoint-protection-in-microsoft-intune.md
  intune/troubleshoot-policies-in-microsoft-intune.md
  intune/troubleshoot-software-updates-in-microsoft-intune.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2485 From private repo
  intune/android-pulse-secure-per-app-vpn.md
  intune/app-configuration-managed-browser.md
  intune/app-configuration-policies-managed-app.md
  intune/app-configuration-policies-use-android.md
  intune/app-configuration-policies-use-ios.md
  intune/app-protection-policies-monitor.md
  intune/app-provisioning-profile-ios.md
  intune/apps-add-office365-macOS.md
  intune/connect-intune-android-enterprise.md
  intune/device-restrictions-configure.md
  intune/education-settings-configure-ios-shared.md
  intune/education-settings-configure-ios.md
  intune/education-settings-configure.md
  intune/email-settings-configure.md
  intune/groups-add.md
  intune/help-desk-operators.md
  intune/identity-protection-configure.md
  intune/index.yml
  intune/kiosk-settings.md
  intune/lob-apps-macos.md
  intune/monitor-audit-logs.md
  intune/reports-proc-create-with-odata.md
  intune/reports-proc-data-rest.md
  intune/review-logs-using-azure-monitor.md
  intune/samsung-knox-apps-allow-block.md
  intune/terms-and-conditions-create.md
  intune/troubleshoot-app-install.md
  intune/users-add.md
  intune/vpp-apps-ios.md
  intune/vpp-ebooks-ios.md
  intune/whats-new.md
  intune/wi-fi-settings-configure.md
  intune/windows-store-for-business.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#2487 Added information to requirements section
  intune/certificates-scep-configure.md
Labels: Change sent to author, doc-enhancement, microsoft-intune/svc, ready-to-merge
