Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2020-02, with the labels that each got.

#3465 From private repo
  intune/apps/apps-deploy.md
  intune/apps/apps-windows-10-app-deploy.md
  intune/configuration/android-oem-configuration-overview.md
  intune/developer/app-sdk-xamarin.md
  intune/developer/apps-prepare-mobile-application-management.md
  intune/fundamentals/intune-us-government-endpoints.md
  intune/fundamentals/whats-new.md
  intune/includes/intune-notices.md
  intune/protect/certificates-imported-pfx-configure.md
  intune/protect/certificates-profile-scep.md
  intune/protect/certificates-scep-configure.md
  intune/protect/media/troubleshoot-scep-certificate-delivery/android-notification.png
  intune/protect/media/troubleshoot-scep-certificate-delivery/certificate-authority.png
  intune/protect/media/troubleshoot-scep-certificate-delivery/device-app-log.png
  intune/protect/media/troubleshoot-scep-certificate-delivery/ios-certificate.png
  intune/protect/media/troubleshoot-scep-certificate-device-to-ndes/500-internal-server-error.png
  intune/protect/media/troubleshoot-scep-certificate-device-to-ndes/certificate-properties.png
  intune/protect/media/troubleshoot-scep-certificate-device-to-ndes/gateway-timeout.png
  intune/protect/media/troubleshoot-scep-certificate-device-to-ndes/iis-permissions.png
  intune/protect/media/troubleshoot-scep-certificate-device-to-ndes/ndes-server-url-message.png
  intune/protect/media/troubleshoot-scep-certificate-device-to-ndes/private-key.png
  intune/protect/media/troubleshoot-scep-certificate-device-to-ndes/select-exchange-enrollment-agent.png
  intune/protect/media/troubleshoot-scep-certificate-device-to-ndes/select-scep-encryption.png
  intune/protect/media/troubleshoot-scep-certificate-device-to-ndes/service-unavailable.png
  intune/protect/media/troubleshoot-scep-certificate-ndes-policy-module/application-log-errors.png
  intune/protect/media/troubleshoot-scep-certificate-ndes-policy-module/failed-requests.png
  intune/protect/media/troubleshoot-scep-certificate-profile-deployment/validate-policy-android.png
  intune/protect/media/troubleshoot-scep-certificate-profile-deployment/validate-policy-ios.png
  intune/protect/media/troubleshoot-scep-certificate-profile-deployment/validate-policy-windows.png
  intune/protect/media/troubleshoot-scep-certificate-profiles/message-options.png
  intune/protect/media/troubleshoot-scep-certificate-profiles/scep-certificate-profile-flow.png
  intune/protect/media/troubleshoot-scep-certificate-profiles/windows-event-log.png
  intune/protect/media/troubleshoot-scep-certificate-reporting/certificate-registration-point-log.png
  intune/protect/media/troubleshoot-scep-certificate-reporting/ndesconnector-log.png
  intune/protect/skycure-mtd-connector-integration.md
  intune/protect/toc.yml
  intune/protect/troubleshoot-scep-certificate-delivery.md
  intune/protect/troubleshoot-scep-certificate-device-to-ndes.md
  intune/protect/troubleshoot-scep-certificate-ndes-policy-module.md
  intune/protect/troubleshoot-scep-certificate-profile-deployment.md
  intune/protect/troubleshoot-scep-certificate-profiles.md
  intune/protect/troubleshoot-scep-certificate-reporting.md
Labels: Change sent to author, configuration/subsvc, do-not-merge, microsoft-intune/svc

#3468 From private repo
  intune/enrollment/enrollment-autopilot.md
  intune/fundamentals/in-development.md
  intune/fundamentals/whats-new.md
  intune/protect/security-baseline-settings-mdm.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3474 From private repo
  intune/protect/troubleshoot-scep-certificate-profiles.md
Labels: Change sent to author, configuration/subsvc, do-not-merge, microsoft-intune/svc

#3433 Update vpp-apps-ios.md
  intune/apps/vpp-apps-ios.md
Labels: Change sent to author, apps/subsvc, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3476 From private repo
  intune/configuration/device-restrictions-android-for-work.md
  intune/configuration/device-restrictions-ios.md
Labels: Change sent to author, configuration/subsvc, do-not-merge, microsoft-intune/svc

#3481 From private repo
  intune/configuration/device-restrictions-ios.md
  intune/fundamentals/whats-new.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3483 From private repo
  intune/apps/manage-microsoft-edge.md
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#3488 From private repo
  intune/enrollment/device-enrollment-program-enroll-ios.md
  intune/protect/compliance-policy-create-ios.md
  intune/protect/security-baseline-settings-mdm-all.md
Labels: do-not-merge

#3489 From private repo
  intune/apps/apps-win32-app-management.md
  intune/apps/apps-windows-edge.md
  intune/fundamentals/whats-new.md
  intune/protect/mtd-app-protection-policy.md
  intune/protect/security-baseline-settings-mdm-all.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3477 Clarifies Self-Deploying profile limitations
  intune/enrollment/enrollment-autopilot.md
Labels: Change sent to author, assessing_(C&L), enrollment/subsvc, microsoft-intune/svc, ready-to-merge

#3494 From private repo
  .openpublishing.redirection.json
  intune-user-help/enroll-device-android-work-profile.md
  intune-user-help/your-computer-is-already-enrolled.md
  intune/apps/apps-supported-intune-apps.md
  intune/apps/manage-microsoft-edge.md
  intune/apps/media/apps-supported-intune-apps/icon-p-smartcrypt.png
  intune/configuration/delivery-optimization-windows.md
  intune/enrollment/connect-intune-android-enterprise.md
  intune/fundamentals/whats-new-app-ui.md
  intune/fundamentals/whats-new.md
  intune/fundamentals/windows-10-virtual-machines.md
  intune/protect/windows-update-settings.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3497 From private repo
  intune/apps/configure-microsoft-launcher.md
  intune/fundamentals/use-docs.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3500 From private repo
  intune/includes/intune-notices.md
  intune/protect/media/troubleshoot-scep-certificate-profiles/scep-certificate-profile-flow.png
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3503 From private repo
  intune/protect/certficates-pfx-configure.md
  intune/protect/certificates-imported-pfx-configure.md
Labels: do-not-merge

#3506 From private repo
  intune/fundamentals/whats-new.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3509 From private repo
  intune/enrollment/troubleshoot-ios-enrollment-errors.md
  intune/fundamentals/manage-windows-pcs-with-microsoft-intune.md
  intune/fundamentals/supported-devices-browsers.md
  intune/fundamentals/whats-new.md
  intune/includes/intune-notices.md
  intune/protect/device-compliance-get-started.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3513 From private repo
  intune/apps/app-configuration-policies-outlook.md
  intune/apps/app-configuration-policies-use-ios.md
  intune/apps/app-install-error-codes.md
  intune/apps/app-protection-policies-access-actions.md
  intune/apps/app-protection-policies-exception.md
  intune/apps/app-protection-policies-monitor.md
  intune/apps/app-protection-policies.md
  intune/apps/vpp-ebooks-ios.md
  intune/remote-actions/device-activation-lock-disable.md
  intune/remote-actions/index.yml
  intune/remote-actions/toc.yml
  intune/remote-actions/troubleshoot-device-actions.md
Labels: do-not-merge

#3514 From private repo
  intune/fundamentals/supported-devices-browsers.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3517 From private repo
  intune/enrollment/device-enrollment-program-enroll-ios.md
  intune/enrollment/tutorial-use-autopilot-enroll-devices.md
Labels: Change sent to author, do-not-merge, enrollment/subsvc, microsoft-intune/svc

#3523 From private repo
  intune/apps/app-configuration-policies-overview.md
  intune/apps/app-configuration-policies-use-ios.md
  intune/apps/app-install-error-codes.md
  intune/apps/troubleshoot-app-install.md
  intune/enrollment/troubleshoot-ios-enrollment-errors.md
  intune/enrollment/troubleshoot-windows-enrollment-errors.md
  intune/fundamentals/device-lifecycle.md
  intune/fundamentals/in-development.md
  intune/fundamentals/introduction-intune-education.md
  intune/fundamentals/intune-endpoints.md
  intune/fundamentals/microsoft-intune-service-description.md
  intune/fundamentals/migration-guide-communication-plan.md
  intune/fundamentals/planning-guide-design.md
  intune/fundamentals/planning-guide-onboarding.md
  intune/fundamentals/review-logs-using-azure-monitor.md
  intune/fundamentals/setup-steps.md
  intune/fundamentals/toc.yml
  intune/fundamentals/troubleshoot-company-resource-access-problems.md
  intune/fundamentals/tutorial-walkthrough-endpoint-manager.md
  intune/fundamentals/tutorial-walkthrough-intune-portal.md
  intune/fundamentals/what-is-device-management.md
  intune/fundamentals/whats-new-app-ui.md
  intune/fundamentals/whats-new-archive-classic.md
  intune/protect/compliance-policy-create-ios.md
  intune/protect/compliance-policy-monitor.md
  intune/protect/conditional-access-exchange-create.md
  intune/protect/create-compliance-policy.md
  intune/protect/data-leak-prevention.md
  intune/protect/data-outside-protect.md
  intune/protect/derived-credentials.md
  intune/protect/device-compliance-get-started.md
  intune/protect/device-protect.md
  intune/protect/encryption-monitor.md
  intune/protect/exchange-online-protect.md
  intune/protect/mobile-threat-defense.md
  intune/protect/pradeo-mobile-threat-defense-connector.md
  intune/protect/privacy-data-collect.md
  intune/protect/security-baselines.md
  intune/protect/skycure-mobile-threat-defense-connector.md
  intune/protect/skycure-mtd-connector-integration.md
  intune/protect/software-updates-ios.md
  intune/protect/sophos-mtd-connector.md
  intune/protect/troubleshoot-conditional-access.md
  intune/protect/troubleshoot-scep-certificate-delivery.md
  intune/protect/troubleshoot-scep-certificate-device-to-ndes.md
  intune/protect/troubleshoot-scep-certificate-profile-deployment.md
  intune/protect/troubleshoot-scep-certificate-profiles.md
  intune/protect/wandera-mtd-connector-integration.md
  intune/protect/zimperium-mobile-threat-defense-connector.md
  intune/remote-actions/toc.yml
Labels: do-not-merge

#3524 From private repo
  intune/includes/intune-notices.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3527 From private repo
  intune/remote-actions/devices-wipe.md
  intune/remote-actions/troubleshoot-device-actions.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#3528 From private repo
  intune/apps/apps-supported-intune-apps.md
  intune/apps/media/apps-supported-intune-apps/icon-m-microsoft-office.png
  intune/fundamentals/setup-steps.md
  intune/fundamentals/whats-new.md
  intune/includes/intune-notices.md
  intune/protect/certficates-pfx-configure.md
  intune/protect/certificates-imported-pfx-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3529 From private repo
  intune/apps/apps-advanced-threat-protection-macos.md
  intune/apps/lob-apps-windows.md
  intune/apps/manage-microsoft-edge.md
  intune/apps/toc.yml
  intune/configuration/android-oem-configuration-overview.md
  intune/configuration/vpn-settings-ios.md
  intune/developer/app-sdk-android.md
  intune/fundamentals/assign-role.md
  intune/fundamentals/create-custom-role.md
  intune/fundamentals/in-development.md
  intune/fundamentals/media/scope-tags/select-member-groups.png
  intune/fundamentals/migration-guide-setup.md
  intune/fundamentals/scope-tags.md
  intune/fundamentals/whats-new.md
  intune/protect/certificates-imported-pfx-configure.md
  intune/protect/media/software-updates-ios/basics-tab.png
  intune/protect/media/software-updates-ios/edit-policy.png
  intune/protect/media/software-updates-ios/scheduled-time.png
  intune/protect/network-access-control-integrate.md
  intune/protect/security-baselines-monitor.md
  intune/protect/security-baselines.md
  intune/protect/software-updates-ios.md
  intune/protect/troubleshoot-bitlocker-policies.md
  intune/remote-actions/find-primary-user.md
Labels: do-not-merge

#3533 From private repo
  intune/apps/company-portal-app.md
  intune/apps/manage-microsoft-edge.md
  intune/apps/store-apps-company-portal-app.md
  intune/apps/store-apps-company-portal-autopilot.md
  intune/apps/toc.yml
  intune/developer/app-sdk-ios.md
  intune/developer/app-sdk-xamarin.md
  intune/developer/app-sdk.md
  intune/developer/app-wrapper-prepare-ios.md
  intune/developer/apps-prepare-mobile-application-management.md
  intune/developer/intune-data-warehouse-collections.md
  intune/developer/reports-proc-create-with-odata.md
  intune/developer/reports-ref-devices.md
  intune/fundamentals/in-development.md
  intune/fundamentals/quickstart-create-custom-role.md
  intune/fundamentals/whats-new-app-ui.md
  intune/fundamentals/whats-new.md
  intune/protect/certificate-authority-add-scep-overview.md
  intune/protect/certificates-configure.md
  intune/protect/certificates-profile-scep.md
  intune/protect/checkpoint-sandblast-mobile-mtd-connector-integration.md
  intune/protect/conditional-access-exchange-create.md
  intune/protect/data-intune-sends-to-apple.md
  intune/protect/data-leak-prevention.md
  intune/protect/mtd-apps-ios-app-configuration-policy-add-assign.md
  intune/protect/remove-certificates.md
  intune/protect/software-updates-ios.md
  intune/protect/troubleshoot-conditional-access.md
  intune/protect/tutorial-protect-email-on-enrolled-devices.md
  intune/remote-actions/device-activation-lock-disable.md
Labels: do-not-merge

#3437 Update lob-apps-ios.md
  intune/apps/lob-apps-ios.md
Labels: Change sent to author, apps/subsvc, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3530 Fixed HoloLens app applicability table
  intune/apps/apps-windows-10-app-deploy.md
Labels: Change sent to author, apps/subsvc, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3531 Fixed Surface Hub app applicability table
  intune/apps/apps-windows-10-app-deploy.md
Labels: Change sent to author, apps/subsvc, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3532 Fixed Office C2R on s-Mode app applicability table
  intune/apps/apps-windows-10-app-deploy.md
Labels: Change sent to author, apps/subsvc, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3535 From private repo
  intune/apps/apps-add-android-for-work.md
  intune/apps/apps-supported-intune-apps.md
  intune/apps/manage-microsoft-edge.md
  intune/apps/windows-store-for-business.md
  intune/configuration/kernel-extensions-overview-macos.md
  intune/developer/app-sdk-ios.md
  intune/enrollment/toc.yml
  intune/enrollment/troubleshoot-android-enrollment.md
  intune/fundamentals/introduction-intune-government.md
  intune/fundamentals/intune-endpoints.md
  intune/fundamentals/supported-devices-browsers.md
  intune/fundamentals/toc.yml
  intune/fundamentals/whats-new.md
  intune/includes/intune-notices.md
  intune/protect/certficates-pfx-configure.md
  intune/protect/encrypt-devices.md
  intune/remote-actions/custom-notifications.md
  intune/remote-actions/devices-wipe.md
Labels: do-not-merge

#3539 From private repo
  intune/enrollment/troubleshoot-android-enrollment.md
  intune/protect/conditional-access-exchange-create.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3540 From private repo
  intune/configuration/android-oem-configuration-overview.md
  intune/configuration/wi-fi-settings-android-enterprise.md
  intune/configuration/wi-fi-settings-android.md
  intune/fundamentals/whats-new.md
  intune/protect/certificates-profile-scep.md
Labels: do-not-merge

#3544 From private repo
  intune/apps/app-configuration-managed-home-screen-app.md
  intune/apps/app-management.md
  intune/apps/app-protection-policies-access-actions.md
  intune/apps/app-protection-policies-configure-windows-10.md
  intune/apps/app-protection-policies-validate.md
  intune/apps/app-protection-policies.md
  intune/apps/app-provisioning-profile-ios.md
  intune/apps/apps-deploy.md
  intune/apps/apps-monitor.md
  intune/apps/apps-selective-wipe.md
  intune/apps/manage-microsoft-edge.md
  intune/apps/toc.yml
  intune/fundamentals/whats-new.md
  intune/protect/better-mobile-threat-defense-connector.md
  intune/protect/checkpoint-sandblast-mobile-mobile-threat-defense-connector.md
  intune/protect/device-compliance-get-started.md
  intune/protect/lookout-mobile-threat-defense-connector.md
  intune/protect/mtd-add-apps-unenrolled-devices.md
  intune/protect/mtd-app-protection-policy.md
  intune/protect/mtd-enable-unenrolled-devices.md
  intune/protect/pradeo-mobile-threat-defense-connector.md
  intune/protect/skycure-mobile-threat-defense-connector.md
  intune/protect/sophos-mtd-connector.md
  intune/protect/wandera-mtd-connector.md
  intune/protect/zimperium-mobile-threat-defense-connector.md
  intune/remote-actions/custom-notifications.md
  intune/remote-actions/device-activation-lock-disable.md
  intune/remote-actions/device-erase.md
  intune/remote-actions/device-fresh-start.md
  intune/remote-actions/device-inventory.md
  intune/remote-actions/device-locate.md
  intune/remote-actions/device-logout-user.md
  intune/remote-actions/device-lost-mode.md
  intune/remote-actions/device-management.md
  intune/remote-actions/device-passcode-reset.md
  intune/remote-actions/device-remote-lock.md
  intune/remote-actions/device-rename.md
  intune/remote-actions/device-restart.md
  intune/remote-actions/device-sync.md
  intune/remote-actions/devices-wipe.md
  intune/remote-actions/find-primary-user.md
  intune/remote-actions/teamviewer-support.md
Labels: do-not-merge

#3548 From private repo
  intune/protect/conditional-access-exchange-create.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3549 From private repo
  .openpublishing.publish.config.json
  .openpublishing.redirection.json
  intune-user-help/enroll-your-device-in-intune-ios.md
  intune/apps/app-configuration-managed-browser.md
  intune/apps/app-configuration-policies-use-android.md
  intune/apps/app-discovered-apps.md
  intune/apps/app-protection-policies-monitor.md
  intune/apps/app-protection-policy-settings-android.md
  intune/apps/app-protection-policy-settings-ios.md
  intune/apps/apps-add.md
  intune/apps/apps-configure-chrome-android.md
  intune/apps/apps-inc-exl-assignments.md
  intune/developer/app-sdk-android-testing-guide.md
  intune/developer/app-sdk-xamarin.md
  intune/fundamentals/whats-new-archive.md
  intune/protect/certificates-profile-scep.md
  intune/protect/windows-update-for-business-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc
