Repository MicrosoftDocs/IntuneDocs, pull requests merged in 2020-01, with the labels that each got.

#3360 From private repo
  intune/fundamentals/end-user-mam-apps-ios.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3362 From private repo
  intune/apps/apps-win32-app-management.md
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#3365 From private repo
  intune-user-help/get-recovery-key-cpweb.md
  intune-user-help/media/get-recovery-key-cpweb-02.png
  intune/apps/vpp-apps-ios.md
  intune/developer/app-sdk-android-testing-guide.md
  intune/developer/app-sdk-android.md
  intune/developer/app-sdk-get-started.md
  intune/developer/app-sdk-ios.md
  intune/developer/app-sdk.md
  intune/developer/app-wrapper-prepare-android.md
  intune/developer/app-wrapper-prepare-ios.md
  intune/developer/apps-prepare-mobile-application-management.md
  intune/developer/data-warehouse-account-move.md
  intune/developer/reports-api-url.md
  intune/developer/reports-proc-get-a-link-powerbi.md
  intune/developer/reports-ref-application.md
  intune/developer/reports-ref-date.md
  intune/developer/reports-ref-devices.md
  intune/developer/reports-ref-intunemanagementextension.md
  intune/developer/reports-ref-mobile-app-management.md
  intune/developer/reports-ref-policy.md
  intune/developer/reports-ref-user-timeline.md
  intune/developer/reports-ref-user.md
  intune/fundamentals/reports.md
  intune/fundamentals/whats-new.md
  intune/protect/encrypt-devices.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3358 Fixed broken formatting
  intune/protect/windows-hello.md
Labels: Change sent to author, microsoft-intune/svc, protect/subsvc, ready-to-merge

#3313 Update identity-protection-configure.md
  intune/protect/identity-protection-configure.md
Labels: Change sent to author, assessing_(C&L), in-progress, microsoft-intune/svc, protect/subsvc, ready-to-merge

#3368 From private repo
  intune/apps/app-configuration-policies-outlook.md
  intune/apps/app-configuration-policies-overview.md
  intune/apps/app-lifecycle.md
  intune/apps/app-protection-policy-extensions.md
  intune/apps/app-protection-policy-settings-ios.md
  intune/apps/app-protection-policy.md
  intune/apps/app-sideload-windows.md
  intune/apps/apps-supported-intune-apps.md
  intune/apps/mam-faq.md
  intune/apps/vpp-apps.md
  intune/configuration/administrative-templates-windows.md
  intune/configuration/bundle-ids-built-in-ios-apps.md
  intune/configuration/media/administrative-templates-windows/administrative-templates-choose-windows-office-all-products.png
  intune/configuration/media/administrative-templates-windows/administrative-templates-sample-settings-list.png
  intune/configuration/media/administrative-templates-windows/path-filter-shows-excel-options.png
  intune/configuration/media/administrative-templates-windows/search-copy-settings.png
  intune/developer/app-sdk-get-started.md
  intune/enrollment/android-samsung-knox-mobile-enroll.md
  intune/fundamentals/guided-scenarios-office-mobile.md
  intune/fundamentals/in-development.md
  intune/fundamentals/whats-new.md
  intune/protect/app-modern-authentication-block.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3371 From private repo
  intune/apps/media/app-protection-policy/app-protection-policies-with-mdm.png
  intune/protect/compliance-policy-create-android-for-work.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3370 Added TLS min and max requirement
  intune/configuration/vpn-settings-ios.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#3376 From private repo
  intune/fundamentals/in-development.md
  intune/fundamentals/whats-new.md
  intune/protect/encrypt-devices.md
  intune/remote-actions/device-inventory.md
Labels: do-not-merge

#3377 From private repo
  intune/fundamentals/in-development.md
  intune/fundamentals/whats-new.md
  intune/includes/intune-notices.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3380 From private repo
  intune/apps/apps-win32-s-mode.md
  intune/configuration/preference-file-settings-macos.md
  intune/fundamentals/in-development.md
  intune/protect/actions-for-noncompliance.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3381 From private repo
  intune/apps/app-protection-policies-exception.md
  intune/apps/app-protection-policy-delivery.md
  intune/apps/app-protection-policy-settings-log.md
  intune/apps/apps-deploy-gcc-dod.md
  intune/apps/data-transfer-between-apps-manage-ios.md
  intune/apps/troubleshoot-mam.md
  intune/fundamentals/free-trial-sign-up.md
  intune/fundamentals/guided-scenarios-edge.md
  intune/fundamentals/guided-scenarios-overview.md
  intune/fundamentals/migration-guide-app-protection-policies.md
  intune/fundamentals/whats-new.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3262 Updating the public SDK to match API changes
  intune/developer/app-sdk-ios.md
Labels: Change sent to author, assessing_(C&L), developer/subsvc, microsoft-intune/svc, ready-to-merge

#3338 Update certificates-imported-pfx-configure.md
  intune/protect/certificates-imported-pfx-configure.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, microsoft-intune/svc, protect/subsvc

#3392 From private repo
  intune/enrollment/windows-bulk-enroll.md
  intune/protect/zimperium-mtd-connector-integration.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3393 Update device-restrictions-windows-10.md
  intune/configuration/device-restrictions-windows-10.md
Labels: Change sent to author, configuration/subsvc, microsoft-intune/svc, ready-to-merge

#3396 From private repo
  intune-user-help/enroll-your-device-dep-ios.md
Labels: Change sent to author, do-not-merge, end-user/subsvc, microsoft-intune/svc

#3378 Corrected typo "Sohw" -> "Show"
  intune/apps/manage-microsoft-edge.md
Labels: Change sent to author, apps/subsvc, assessing_(C&L), microsoft-intune/svc, ready-to-merge

#3397 From private repo
  intune/apps/app-protection-policy.md
  intune/apps/apps-add.md
  intune/apps/troubleshoot-app-install.md
  intune/apps/vpp-apps-ios.md
  intune/enrollment/corporate-identifiers-add.md
  intune/fundamentals/groups-add.md
  intune/fundamentals/migration-guide-communication-plan.md
  intune/fundamentals/planning-guide-resources.md
  intune/protect/lookout-mtd-connector-integration.md
  intune/protect/windows-update-for-business-configure.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, protect/subsvc

#3402 From private repo
  intune/apps/app-protection-policy.md
  intune/enrollment/enrollment-autopilot.md
  intune/enrollment/tutorial-use-autopilot-enroll-devices.md
  intune/fundamentals/manage-license-agreements-for-windows-pc-software-in-microsoft-intune.md
  intune/fundamentals/quickstart-create-user.md
  intune/fundamentals/resolve-gpo-and-microsoft-intune-policy-conflicts.md
  intune/includes/win10-automatic-enrollment-aad.md
  intune/protect/wandera-mtd-connector.md
  intune/remote-actions/custom-notifications.md
Labels: do-not-merge, review-team-triage

#3404 Update apps-windows-edge.md
  intune/apps/apps-windows-edge.md
Labels: Change sent to author, microsoft-intune/svc, ready-to-merge

#3406 From private repo
  intune/apps/apps-supported-intune-apps.md
  intune/apps/manage-microsoft-edge.md
  intune/apps/media/apps-supported-intune-apps/icon-m-field-service-mobile.png
Labels: Change sent to author, apps/subsvc, do-not-merge, microsoft-intune/svc

#3407 From private repo
  intune/configuration/kernel-extensions-overview-macos.md
Labels: Change sent to author, configuration/subsvc, do-not-merge, microsoft-intune/svc

#3415 From private repo
  intune/apps/apps-windows-edge.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3416 From private repo
  intune/apps/apps-windows-edge.md
  intune/configuration/media/vpn-setting-configure-per-app/vpn-per-app-app-to-vpn.png
  intune/configuration/media/vpn-setting-configure-per-app/vpn-per-app-automatic.png
  intune/configuration/media/vpn-setting-configure-per-app/vpn-per-app-create-scep-cert.png
  intune/configuration/media/vpn-setting-configure-per-app/vpn-per-app-create-trusted-cert.png
  intune/configuration/media/vpn-setting-configure-per-app/vpn-per-app-create-vpn-profile.png
Labels: Change sent to author, do-not-merge, microsoft-intune/svc

#3420 From private repo
  intune/protect/wandera-mtd-connector.md
  intune/remote-actions/device-inventory.md
  intune/remote-actions/device-restart.md
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#3408 Added On Access Protection Documentation
  intune/configuration/device-restrictions-windows-10.md
Labels: Change sent to author, assessing_(C&L), configuration/subsvc, in-progress, microsoft-intune/svc, ready-to-merge

#3421 From private repo
  intune/remote-actions/custom-notifications.md
  intune/remote-actions/media/custom-notifications/105046-1.png
  intune/remote-actions/media/custom-notifications/105046-2.png
  intune/remote-actions/media/custom-notifications/105046-3.png
Labels: Change sent to author, do-not-merge, microsoft-intune/svc, remote-actions/subsvc

#3423 From private repo
  intune/fundamentals/whats-new.md
Labels: Change sent to author, do-not-merge, fundamentals/subsvc, microsoft-intune/svc

#3425 From private repo
  intune/apps/app-install-error-codes.md
  intune/apps/lob-apps-macos.md
  intune/apps/toc.yml
  intune/apps/troubleshoot-app-install.md
  intune/enrollment/media/quickstart-setup-auto-enrollment/quickstart-setup-auto-enrollment-01.png
  intune/enrollment/media/quickstart-setup-auto-enrollment/quickstart-setup-auto-enrollment-02.png
  intune/enrollment/media/quickstart-setup-auto-enrollment/quickstart-setup-auto-enrollment-03.png
  intune/enrollment/media/quickstart-setup-auto-enrollment/quickstart-setup-auto-enrollment-04.png
  intune/enrollment/media/quickstart-setup-auto-enrollment/quickstart-setup-auto-enrollment-05.png
  intune/enrollment/media/quickstart-setup-auto-enrollment/quickstart-setup-auto-enrollment-06.png
  intune/enrollment/quickstart-setup-auto-enrollment.md
  intune/fundamentals/assign-role.md
  intune/fundamentals/free-trial-sign-up.md
  intune/fundamentals/media/quickstart-create-group/quickstart-use-groups-01.png
  intune/fundamentals/media/quickstart-create-user/create-user-02.png
  intune/fundamentals/media/quickstart-create-user/create-user-03.png
  intune/fundamentals/media/quickstart-create-user/create-user-04.png
  intune/fundamentals/media/quickstart-create-user/create-user.png
  intune/fundamentals/quickstart-create-group.md
  intune/fundamentals/quickstart-create-user.md
Labels: do-not-merge

#3457 From private repo
  intune/apps/apps-edge-macos.md
  intune/fundamentals/in-development.md
  intune/fundamentals/whats-new.md
  intune/includes/gdpr-dsr-and-stp-note.md
  intune/includes/gdpr-intro-sentence.md
  intune/includes/intune-notices.md
Labels: do-not-merge

#3458 multiple files: fix typos
  intune/apps/app-protection-policy-settings-android.md
  intune/apps/app-protection-policy.md
  intune/apps/mam-faq.md
  intune/enrollment/enrollment-restrictions-set.md
  intune/enrollment/tutorial-use-device-enrollment-program-enroll-ios.md
  intune/protect/security-baseline-settings-mdm.md
  template.md
Labels: Change sent to author, protect/subsvc, ready-to-merge
